[2017-11-02 17:42] achafetz opened #1 "Create organizational repository for DIV"

[2017-11-02 17:47] achafetz opened #2 "Style Guide for visualizing data"

[2017-11-02 17:47] achafetz opened #3 "R primer/workshop"

[2017-11-02 17:48] achafetz opened #4 "Standardized naming conventions"

[2017-11-02 17:49] achafetz opened #5 "Best practices around pivot tables"

[2017-11-02 17:49] achafetz opened #6 "GCB Workplan update"

[2017-11-02 17:50] #1 closed

[2017-11-02 17:55] achafetz opened #7 "Update analysts around FY18Q1 data element name changes"
JBrown -

[consolidated table of (proposed) changes](https://github.com/icpi-div/org/blob/master/Documents/2017.11.01%20Synthesized%20changes%20to%20FY18Q1%20Analytic%20Dataset.md)

[2017-11-02 18:23] shapaklyak commented on #6
[Workplan_DIV_GCB subgroup_31 Oct 2017.xlsx](https://github.com/icpi-div/org/files/1438882/Workplan_DIV_GCB.subgroup_31.Oct.2017.xlsx)

Need to determine timelines...

[2017-11-13 16:32] achafetz opened #8 "Best practices around Genie Extract"
- [ ] differences between Fact View and Genie (DAQ maybe)
- [ ] using Genie export
- [ ] scripts for combining Genie to FV for trend analysis

[2017-11-13 16:36] achafetz opened #9 "Webinars around current tools & best practices"
being done ad hoc around tools; we can coordinate and standardize this.

[2017-11-14 17:29] shapaklyak commented on #6
updated per 11/14/2017 call
[Workplan_DIV_GCB.subgroup_14.Nov.2017.xlsx](https://github.com/icpi-div/org/files/1471862/Workplan_DIV_GCB.subgroup_14.Nov.2017.xlsx)

[2017-11-14 22:44] achafetz opened #10 "Color Scheming"

[2017-11-14 22:44] achafetz opened #11 "Tableau guide"

[2017-11-14 22:47] achafetz opened #12 "Guidance around Coarse, Finer, and New Finer age bands"

[2017-11-14 22:49] achafetz commented on #4
@imujawar add the naming convention guidance to the [Documents folder](https://github.com/icpi-div/org/tree/master/Documents) when ready and we can provide feedback

[2017-11-15 19:10] achafetz commented on #2
example from a while back

[Basic Data Table Setup for Excel Graphing](https://github.com/icpi-div/org/blob/master/Documents/2016.09.18%20Excel%20Chart%20Setup%20Cheatsheet.pdf)

[2017-11-21 16:37] shapaklyak opened #13 "Crash Course on using Github for Project Management"
OCM team discussing project management tools, and will recommend Github as an option. Excel project management tracker would be an option too.  What do you think @achafetz? Maybe could do a crash course on using Github for prj mgmt in December/January? I'm happy to put OVC in Github for prj mgmt, too.

[2017-11-21 17:47] shapaklyak commented on #6
updated for all sub-groups of DIV
[Workplan_DIV_21.Nov.2017.xlsx](https://github.com/icpi-div/org/files/1492403/Workplan_DIV_21.Nov.2017.xlsx)

[2017-11-21 18:10] bowdenj commented on #6
Yipeee so excited about the workplan

[2017-11-21 18:13] bowdenj opened #14 "DIV Overall Workplan"
Tracking overall workplan updates for all workstreams here.

[2017-11-21 18:14] shapaklyak commented on #14
[Workplan_DIV_21.Nov.2017.xlsx](https://github.com/icpi-div/org/files/1492476/Workplan_DIV_21.Nov.2017.xlsx)

[2017-11-21 18:21] shapaklyak opened #15 "sample code test"
*dropping uneccesary columns*;
drop region regionuid operatingunituid countryname psnuuid mechanismUID CommunityUID
 categoryOptionComboUID categoryOptionComboName dataelementuid FY2015Q2 FY2015Q3 FY2015Q4 FY2015APR;

[2017-11-21 18:23] #15 closed

[2017-11-28 16:11] achafetz commented on #13
Let's incorporate this into a broader Github usage workshop since project management is just a piece of the usefulness of the platform. But yes, good idea.

[2017-11-28 16:43] bbaack commented on #10
[Color Palettes.pdf](https://github.com/icpi-div/org/files/1510773/Color.Palettes.pdf)
A smattering of sample color palettes for 504ers to vote on. More can be added, but this is a starting place.

[2017-11-28 16:45] bbaack commented on #10
[Example Color Palette.xlsx](https://github.com/icpi-div/org/files/1510801/Example.Color.Palette.xlsx)
Here is an excel sheet that includes the customized color schemes, if folks want to play around with the different combos.

[2017-11-28 16:49] achafetz commented on #10
thanks, @bbaack!!! these look great.

@icpi-div/guidance-capacity-building have a look over these and let us know what you think.

[2017-11-28 17:04] bowdenj opened #16 "Q1 Panorama Request List"
Tracking developments to ICPI requests for Q1 Panorama.
Initial prioritization session 11/21
Next prioritization session week of 11/17
Final list due to developers 12/1 for integrated prioritization

Once we know which requests will be implemented for Q1, we will create a requirements spreadsheet for each request. Template attached for requirements gathering. BI subgroup to work with ICPI tool own

[2017-11-28 17:08] bowdenj commented on #16
Current request list as of 11/28 here

[Q1 FY18 Panorama Draft Request List_11272017.xlsx](https://github.com/icpi-div/org/files/1510900/Q1.FY18.Panorama.Draft.Request.List_11272017.xlsx)

[2017-11-28 17:17] bowdenj opened #17 "Q4 Panorama Issues Log"
Placeholder for issues submitted by ICPI following the Q4 Panorama release

[2017-11-28 21:06] achafetz commented on #3
R survey responses from from @anu87

![img1](https://user-images.githubusercontent.com/8933069/33344168-fdb660d2-d455-11e7-9fab-869aeed8997f.png)

![img2](https://user-images.githubusercontent.com/8933069/33344171-01b39574-d456-11e7-89a8-e046b465c223.png)

[2017-11-30 16:30] shapaklyak opened #18 "Platform guidance/policy"
Draft guidance around use of Slack, Github, Email, Other (Skype, Hangouts, etc.?). when appropriate to use what, keeping in mind recording keeping requirements. @kschlenker perhaps, we can add to this w/any data governance items such as not posting sensitive data in slack/github...thoughts?

[2017-12-06 14:51] achafetz commented on #10
Hey @bbaack, I'm a big fan of Marine and the PPR style (no surprise there). I really like Elemental (another Excel standard)

![image](https://user-images.githubusercontent.com/8933069/33667326-8b5c57ec-da6a-11e7-9c30-74b4bddcc978.png)

We may want to start with one of these and make some tweeks to color in the palette once we have a decision on what to go with.

In the end, I think we should go w

[2017-12-11 15:34] shapaklyak commented on #10
@bbaack , These are great! I like the ICPI-like scheme, except I wouldn't suggest we use red for something that is below target (bottom left graph) but then use it to show targets (upper left). I like the idea of having an ICPI-standard palette, perhap sit can look more like the top left graph that Aaron posted - maybe make the grey bars a lighter color or the targets a darker blue. I would leave

[2017-12-11 15:37] shapaklyak commented on #10
@bbaack & @icpi-div/guidance-capacity-building should we also have a recommended usage for types of color schemes? Would this mean that current tools should change their colors--i would say probably not, but maybe current tools can see if they need to be improved and new tools can use this to inform the color setup.

[2017-12-12 05:37] achafetz commented on #10
I think the primary concern is developing a coherent color palette first. It's nice if we have some general guidelines/suggestions around what colors to use for what, but I don't want to be too prescriptive since color choice/empahsis has a lot to do with the message you're trying to convey. The graphs above just show how the different colors in the palette look in action.

and ideally, it would b

[2017-12-12 15:22] bbaack commented on #10
@shapaklyak and @achafetz, thanks for the great feedback. I agree with Aaron that we should focus on nailing the palette down first and maybe not be too prescriptive with how people use it. Aaron, is the PPR palette just a basic excel palette? I couldn't find elemental in my version, but I've also been a big fan of the median palette for quite some time. Personally, ICPI-like might be my favorite

[2017-12-12 15:26] achafetz commented on #10
great slides indeed @bbaack! I would post them to pepfar.net and then share the link here for others to access!

[2017-12-12 16:16] bowdenj commented on #17
Issues log updated 12/12
[Panorama Q4 Data Status_12122017.xlsx](https://github.com/icpi-div/org/files/1552359/Panorama.Q4.Data.Status_12122017.xlsx)

Outstanding issues 24-31

[2017-12-12 16:18] bowdenj commented on #16
Final list attached; GitHub tickets created in DATIM/Analytics repo for each. Meeting at 3:00PM today for integrated prioritization. Next update should include list of confirmed requirements for Q1
[Q1 FY18 Panorama Draft Request List_12082017xlsx.xlsx](https://github.com/icpi-div/org/files/1552374/Q1.FY18.Panorama.Draft.Request.List_12082017xlsx.xlsx)

[2017-12-12 16:21] shapaklyak commented on #10
Sounds good. Maybe we can see if others have feedback..otherwise I would say we should send this around as a draft. Does it need to go through anyone else's review after this?

[2017-12-12 16:21] bowdenj opened #19 "Create Process for HQ-Based Pano Issue Submission"
Placeholder: to create a process flow or form that HQ-based analysts can complete when post-release issues are identified in Panorama.
Goal: to reduce the amount of time spent in understanding the issue and streamline communication to developers about issue

Request also identified during 12/11 DAQ meeting to make Panorama Help Desk easier to find for analysts not based at HQ who identify issuses.

[2017-12-12 16:25] bowdenj opened #20 "Prepare for Q1 Data Element Name Changes"
As discussed on DAQ call, DIV will need to track data element name changes coming for Q1. Request to have DIV assist with tools/templates for tool owners to integrate new data element names. The DAQ would like to have a meeting with DIV to discuss the approach for this both from a Fact View side and a tool building side.
@achafetz - I'd like to add the comprehensive list of data element name chang

[2017-12-12 17:52] kschlenker opened #21 "Compile list of sharepoint issues from ICPI staff"
As we develop guidance for how to use different knowledge management & project management platforms (Github, sharepoint, email, slack), we'll work with org committee to come up with a list of issues that are preventing us from utilizing sharepoint effectively. We'll seek feedback from others during analysts/all-staff meeting and work with org committee to see if sharepoint developers can address a

[2017-12-12 18:05] mehtasp commented on #21
Yea, I'm having issues opening files/documents in Sharepoint (see error message below). I would have to download them to see or make changes, which defeats the purpose of tracking changes.

![image](https://user-images.githubusercontent.com/26608280/33900570-e1da318a-df3c-11e7-9f49-d173a7a52fb1.png)

[2017-12-12 19:27] kschlenker commented on #10
@bbaack - as discussed on today's call it would be good to create theme or xml color palette files so we can add/play around with the color palettes in the workbook from earlier.

1) describes how to create/share an entire theme file (contains color palette along with fonts etc that work in powerpoint & word) [https://wordribbon.tips.net/T013089_Making_a_Customized_Theme_Available_to_Others.html](

[2017-12-12 19:32] bowdenj opened #22 "Create DIV Sprint Teams for Specific Projects"
Per discussion on today's sub-group leads meeting, we hope to create short-term teams to focus on specific projects for the DIV. We would like for anyone in ICPI to be able to participate if interested.

@shapaklyak to bring up on Thursday's OCM call. If there is a positive response, bring up on Monday's inbrief. If a positive response, @KatieOC to bring up first task team need of brainstorming me

[2017-12-12 19:34] bowdenj commented on #20
Thanks, @achafetz ! I'll keep this ticket updated with most recent change logs from David.

[2017-12-12 19:35] shapaklyak commented on #22
so far positive response, will confirm after discussion on Thursday.

it doesn't really need to be called short-term DIV task teams...because it implies something more formal. I would just say that ICPI analysts can self-select into DIV tasks/projects where they have interest/expertise.

[2017-12-12 19:37] bowdenj commented on #22
Much better way to put it, thanks.

[2017-12-12 19:44] shapaklyak commented on #22
clearly, i'm just playing with the emojis now haha

[2017-12-12 20:13] kschlenker commented on #21
Re: an inability to edit files: this was my most recent response from sharepoint helpdesk. This is a good example of why it would be helpful to lobby for changes as ICPI as a group rather than submitting individual helpdesk tickets
![image](https://user-images.githubusercontent.com/19845271/33906054-b2cbcbda-df4e-11e7-9f03-5702319a4444.png)

[2017-12-13 15:14] achafetz commented on #7
duplicate of #20

[2017-12-13 15:24] bowdenj commented on #20
@shapaklyak - Are you and Aaron the ones who should join DAQ on this? Hoping to set something up for early next week when Aaron is back--let me know.

[2017-12-13 16:39] bowdenj opened #23 "DIV Full Team Membership"
Until everyone is on GitHub, tracking membership here. Full list of email addresses for team-wide emails:
achafetz@usaid.gov; iyo6@cdc.gov; jcx3@cdc.gov; knoykhovich@peacecorps.gov; ksato@peacecorps.gov; kschlenker@usaid.gov; kya2@cdc.gov; lrz5@cdc.gov; myy6@cdc.gov; nbartlett@usaid.gov; shaylee.p.mehta.ctr@mail.mil; thomas.kresina@samhsa.hhs.gov; vie3@cdc.gov; wta6@cdc.gov; kschlenker@usaid.gov;

[2017-12-13 19:36] bowdenj commented on #23
Edit 12/13 to add Catherine to BI group

[2017-12-13 19:45] bowdenj commented on #23
I just made sure everyone within my sub-group has an invitation to this repository. @achafetz and @shapaklyak - I think most of the GCB is already on here. @KatieOC @noahbartlett - can you please invite any Visualization Library members that aren't already on here to GitHub? You can do this by clicking the "icpi-div" header at the top of the page, navigating to "People," and selecting "Add."

[2017-12-14 06:14] achafetz commented on #23
yep, the GCB is all on board with github :)

And I would actually suggest this be moved over to a wiki page since this will never get "closed".

[2017-12-14 06:51] achafetz commented on #22
I agree as well with the above comments. My suggestions on facilitating this would be use the teams feature to create group assignments and make communications & project management easier for these stand up groups. Each subgroup should also have their own issue tag.

![image](https://user-images.githubusercontent.com/8933069/33979061-6008e190-e0ab-11e7-9846-1439d30acb12.png)

[2017-12-14 13:56] shapaklyak commented on #22
sprint teams?

[2017-12-14 16:56] kschlenker commented on #21
Additional feedback collected during the ICPI Staff Meeting:

-Numerous issues being caused by long pathway names. Running into problems where you can't name files/folders according to standard naming conventions. Or can't move/archive documents without shortening file names. Each workstream automatically starts with Home/HQ/ICPI/Shared Documents/Workstreams/Workstream Name which really doesn't al

[2017-12-14 23:10] imujawar opened #24 "Naming Conventions for Files and Version Control"
[2017_11_06_DIV_Name_Conv_IM.docx](https://github.com/icpi-div/org/files/1561057/2017_11_06_DIV_Name_Conv_IM.docx)

[2017-12-15 10:18] achafetz commented on #24
I would love for other @icpi-div/guidance-capacity-building to weigh in, but here is my two cents...

1. my preference is to throw periods in the data and underscores elsewhere. When using underscores, it just adds a lot of padding and takes up more space. It should also be added in the guidance that [standard date format ordering](https://xkcd.com/1179/) is YYYYMMDD.
   - 2017_12_15_DontTreadOnMe

[2017-12-15 10:21] achafetz commented on #4
Duplicate of #24

[2017-12-15 10:21] #4 closed

[2017-12-15 14:18] shapaklyak commented on #24
Thanks for uploading, @imujawar ! I would suggest to keep this to one page.
Noticed a typo, I think it should be **or** instead of **of** 5)	Do not use quotes **of** any kind, single of double.

Also, agree w/ @achafetz on his points 1, 2, and 3 above.

Including a standard format to start with for Tools, QC guides, and other types of documents would also help. It seems we're missing the Fiscal Ye

[2017-12-18 18:25] shapaklyak commented on #22
@achafetz so, a sub-team of Visualization Library for the meta-data project for example? @KatieOC

[2017-12-18 20:11] achafetz commented on #22
![giphy 21](https://user-images.githubusercontent.com/8933069/34125875-b909768a-e405-11e7-8c4b-7b5ac8689cc9.gif)

[2017-12-18 21:20] KatieOC opened #25 "How are others sharing files?"
If excel files cannot be attached in GitHub, how are others sharing files? Linking to pepfar.net?

I want to share the searchable word list we came up with in our brainstorming session - I collected everything in an excel file.

Thanks!

PS- did i file this question in the right section?

[2017-12-18 21:27] achafetz commented on #25
we figured it out. for everyone else's FYI, you can't upload excel docs to team conversations, only issues under repos.

![image](https://user-images.githubusercontent.com/8933069/34128936-4ec65c74-e410-11e7-898c-f54e4b33159a.png)

[2017-12-18 21:27] #25 closed

[2017-12-18 21:30] KatieOC opened #26 "Searchable data elements list post brainstorming session"
Hi everyone,
Attached is everything we threw out there during our brainstorming session today. Nothing is organized yet but if you think of anything else, reply to this thread and I can add it. Thanks again!

[searchable data elements brainstorm_Dec 18 2017.xlsx](https://github.com/icpi-div/org/files/1569495/searchable.data.elements.brainstorm_Dec.18.2017.xlsx)

@icpi-div/meta-data-brainstorming-s

[2017-12-19 17:00] jb3436 commented on #24
Thanks all! In discussions with some of the OCM team members, we suggest putting the date at the end to make it easier to sort for the title in SharePoint and windows explorer. I agree with all of your points @achafetz , @imujawar , and @shapaklyak

Examples using your examples
- PreventionClusterOVC_QC.FY17Q4_en_2017.12.15
- DontTreadOnMe_USA_v3_ahc_2017.12.15

[2017-12-19 19:58] imujawar commented on #24
Thanks a ton for the excellent feedback. Agree with most of the feedback, except for using period `.` instead of `_` underscore for padding dates. Periods can wreak havoc when dealing with file extensions and other code-based issues.

[2017-12-19 20:43] jb3436 commented on #24
What do you all think about omitting the padding altogether?

- PreventionClusterOVC_QC.FY17Q4_en_20171215

[2017-12-20 21:33] bbaack commented on #10
@shapaklyak thanks-- i definitely looked at this site or something similar when working on this-- you'll note that the universally reviled swimming pool is a slightly modified version of the life aquatic palette. @kschlenker thanks for sharing, so sorry i didn't properly share these first time around.

all-- please use the attached txt files to play around on your own with the palettes, and feel f

[2018-01-02 20:18] imujawar commented on #24
These are all good arguments for getting rid of padding within dates. However, I'm afraid we will have to agree to disagree :). I still think padding dates with <_> is important. Removing them would take away emphasis from the date (crucial for version control), especially if we are relegating the date to the end of the file name. Also, continuous dates can sometimes lead to confusion.

[2018-01-02 20:18] imujawar commented on #24
``

[2018-01-12 14:59] bowdenj commented on #20
Final code list posted on DATIM support here: https://datim.zendesk.com/hc/en-us/articles/115002334246-DATIM-Data-Import-and-Exchange-Resources#current

[2018-01-12 19:39] shapaklyak commented on #20
thanks @bowdenj . is this meeting still on for today @ 3pm?

[2018-01-12 21:37] bowdenj commented on #20
Notes from today's meeting:
We will circulate two documents:
1. A list of which indicators changed, and a high-level overview of the nature of the changes
Audience: General users of tools and data; analysts looking to answer whether their data has changed
2. A data element by data element list of specific changes
Audience: Analysts who have determined that their data has changed and are looking to

[2018-01-16 16:45] shapaklyak commented on #24
Hi all, can we finalize a draft today? Below is a summarized example based on the above discussions. I've also listed the tentative timeline the OCM would like to move forward with.

_Italics_ = information to be included as as applicable
**Bold** = required
_version_ control = add version name at the end of the date with initials

Format: **TitleOfDocument_**_DocType_OU__**FYXXQX_YYYY.MM.DD**._Ve

[2018-01-16 17:19] shapaklyak commented on #10
Hey @bbaack  & @kschlenker ! Thanks for your work on this. Apologies for the delay, but just catching up after a week of dashboard updates. @bbaack, could you please upload the **theme files** for the above choices? I talked with @kschlenker and wasn't able to get it to convert to XML. Theme files would be much better so then we can apply it to Word, Powerpoint, etc.

Also, the OCM has proposed a

[2018-01-16 17:49] bowdenj commented on #6
Updated workplan:
[DIV_Workplan_2018.01.16.xlsx](https://github.com/icpi-div/org/files/1636218/DIV_Workplan_2018.01.16.xlsx)

[2018-01-16 17:52] achafetz commented on #10
Not to provide mixed messaging, but I think we should pump the brakes a bit here.  While @bbaack provided this in November (and a big thanks for that), we really haven't had (m)any meetings to formally discuss due to the holidays and travel.  If we institute anything I think we need to think (a) long and hard as a group and (b) have group discussion about color schemes.

While choices are great, I

[2018-01-16 17:57] shapaklyak commented on #10
Definitely agreed @achafetz on having a set of 3 or so options. I agree the timeline is quite tight, when would be a good time to have a discussion on this - at our next Tuesday GCB meeting or larger group today?

[2018-01-16 18:24] bowdenj commented on #20
Note for circulation: Add to release notes for Q1 fact view release. @kschlenker
In addition to release notes, add to the MER folder on SharePoint and add to downloadable files on Panorama

For huddle board: Add a visual with a link to the document via this GitHub repo.

[2018-01-16 18:57] bbaack commented on #10
@shapaklyak Unfortunately, I don't think they're a supported file type on Github. I can post a document with the HEX/RGB codes if that is easier. Otherwise, I think you should be able to copy/paste from the above text files into an existing .xml theme? Let me know.

I'm a little late to the conversation, but agree with @achafetz that the above timeline doesn't work. Do we want the GCB to come to c

[2018-01-16 19:37] bowdenj commented on #20
Attaching the most recent version of the Metadata Changes_Unified document. This still needs to be QC'd, will post any further updates here.
[Metadata Changes Unified_2018.01.16.xlsx](https://github.com/icpi-div/org/files/1636521/Metadata.Changes.Unified_2018.01.16.xlsx)

[2018-01-19 19:22] shapaklyak commented on #10
Hi @bbaack & @achafetz ..it looks like @achafetz note didn't come through earlier from Tuesday, but I think you were on the call as well. We'll discuss the color palettes on Tuesday and come to consensus then move forward with a proposal to OCM. Also...will be talking about setting up a simple recommended mockup for structure/layout of tools on Tuesday, Jan 23 call.

[2018-01-22 16:12] bowdenj commented on #20
@kschlenker - When we reviewed this last week, we had identified several issues that had to do with the time period in question. The DATIM changes are retroactive, and it looks like there are some data element names from prior periods impacted. As such, Derek added some columns for the time period (Q-T). New spreadsheet attached. Please take a look and let me know if you think there are any change

[2018-01-22 21:30] KatieOC commented on #26
@bowdenj @shapaklyak
What should I do with this file before I share with OCM? Any suggestions?
[searchable.data.elements.brainstorm_Jan.22.2017.xlsx](https://github.com/icpi-div/org/files/1653650/searchable.data.elements.brainstorm_Jan.22.2017.xlsx)

[2018-01-23 17:51] kschlenker commented on #10
Hi @bbaack, here is a website that allows you to upload pictures to simulate various types of color blindness:
http://www.vischeck.com/vischeck/vischeckImage.php

[2018-01-23 18:39] bowdenj commented on #20
@kschlenker @shapaklyak @achafetz @KatieOC
Attaching an updated version of this spreadsheet with extraneous columns removed. I believe this list is now shareable with analysts unless any of you (or others) have further comments.

@kschlenker - Aaron brought up that this is only useful to the extent that analysts are using the data element names rather than broken out fact view elements. What is th

[2018-01-23 23:35] kschlenker commented on #20
@bowdenj, Abe and I discussed this today. He is working on a draft dataset that he hopes will be available Tuesday, Jan 30. We are going to reach out to cluster leads to ask for their help to recruit QCers from each cluster to make sure that the structure of the data element names & the fact view data element pieces (e.g., disagg name, age, sex, modality, other columns) matches what is in the data

[2018-01-24 15:45] shapaklyak commented on #24
Hi! I've tried to capture information in the attached doc from our meeting yesterday. please add/edit as needed based on our discussion. thx!

[ICPIFileNamingConventions_20170124_v1.docx](https://github.com/icpi-div/org/files/1660430/ICPIFileNamingConventions_20170124_v1.docx)

[2018-01-25 21:51] bbaack commented on #10
Hi all. Here is an updated version of the marine color palette. I removed the green/yellow and replaced with two orange options. I also played a bit with the light beige to create a grey (with brown undertones) for the palette. Charts are just examples to try and show most of the colors. Let me know asap if this is in the right direction. @achafetz @shapaklyak @kschlenker

![marine update](https:/

[2018-01-25 22:08] bbaack commented on #10
Here's another option that replaces the lightest blue (nearly identical to one of the teal shade that excel auto produces) with the green from the original marine. For consideration, might be too much.

![marine update_v2](https://user-images.githubusercontent.com/33276021/35415074-605934a2-01f2-11e8-90b1-aa733b6d9b9a.png)

[2018-01-26 19:40] bowdenj commented on #26
@katieOC - thanks for the list. So I understand correctly, column A is the type of information we would gather about a specific tool, and B-H are the options within that group? If so, are B-H mutually exclusive, or are they meant to be examples? For instance, is there supposed to be a difference between "Peds/Adolescents," "Pediatrics," and "Adolescents"?

[2018-01-26 19:46] bowdenj commented on #14
Updating workplan to include new name of "Knowledge Management" for Viz Library and most recent January updates from 1/16 DIV meeting
[DIV_Workplan_2018.01.26.xlsx](https://github.com/icpi-div/org/files/1669002/DIV_Workplan_2018.01.26.xlsx)

[2018-01-26 19:52] bowdenj opened #27 "DIV/OCM Process Collaboration: Requirements"
Per discussion with Jasmine, DIV/OCM should collaborate to discuss the process by which analysts receive requirements. This should include a timeline for when requirements may be open for tool owners, and at what point in the tool release cycle should requirements close, to avoid 11th-hour tool update requests for analysts?
To be discussed 1/30 DIV staff meeting
@shapaklyak

[2018-01-26 20:06] shapaklyak commented on #27
Hey @bowdenj , which requirements are you referring to? Panorama requirements or name/color requirements or mock up of a viz?

[2018-01-26 20:07] bowdenj commented on #20
Thanks @kschlenker - sounds good. In the meantime, can we circulate this list of metadata changes with analysts? Or, do you and Abe recommend holding off until we have the draft dataset?

[2018-01-26 20:10] shapaklyak opened #28 "DIV Outline Tableau Basics workshop"
brainstorming list of topics for Tableau workshop, add on as see fit and can discuss at next GCB meeting.

[2018-01-26 20:23] bowdenj commented on #27
Hi @shapaklyak - This is meant to refer to the requirements that analysts get from people requesting tools/tool updates/new analyses. This is in response to the conversation we had with Jasmine, to give analysts a timeline for tools and what to expect

[2018-01-29 15:16] shapaklyak commented on #10
@bbaack , these look great! I prefer the second option, the light blue in the first option seems too light and may be difficult to view sometimes in a presentation.

[2018-01-29 15:24] bowdenj commented on #20
@kschlenker - Can you post the list of indicators assigned to each cluster for review to this ticket?

[2018-01-29 18:43] kschlenker commented on #20
Column added to the attached spreadsheet that assigned indicators to clusters:

GEND_GBV | Prevention
HTS_TST | HIV/TB Diagnosis
OVC_SERV | Prevention
TB_ART | HIV/TB Diagnosis
TX_CURR | Treatment
TX_NEW | Treatment
TX_PVLS | Above Service Delivery Point
TX_RET | Treatment
TB_PREV | HIV/TB Diagnosis
TB_STAT | HIV/TB Diagnosis
TX_TB | HIV/TB Diagnosis
PP_PREV | Prevention
TB_SCREENDX | HIV/TB Diagn

[2018-01-30 13:01] shapaklyak commented on #24
@achafetz @kschlenker @icpi-div/guidance-capacity-building , are we ready to share this with the larger DIV group today at the 1pm meeting?

[2018-01-30 14:07] shapaklyak commented on #10
@bbaack is there an updated version, would you feel comfortable sharing during the all DIV meeting today or would you rather wait until next week?

[2018-01-30 15:49] bbaack commented on #10
@shapaklyak I am happy to share during the all-DIV meeting today. Is it best to share as a pdf with the four color scheme options? Do we all agree those are: 1) ICPI-like 2) PPR-like, 3) Marine v3 (with the green; any ideas for a name?!) and 4) Grey scale? @achafetz @kschlenker @icpi-div/guidance-capacity-building

[2018-01-30 16:28] shapaklyak commented on #10
@bbaack, i think the names can be TBD. I did find this which can be inspirational for naming the palettes. http://www.color-hex.com/color-palettes/popular.php . we could ask folks for ideas on names too during the 1pm call and then can finalize at our next Tuesday GCB call. thank you!

[2018-01-30 17:37] KatieOC commented on #26
@bowdenj  sorry for the delay! There was not a order to the columns but more as data element words were stated in the meeting, there were times when one word or category was similar to the next. for instance, someone suggested that we could search by subject matter "treatment", but then someone added that we should add searchable functions to address people putting in different words like "TX" or

[2018-01-30 18:56] shapaklyak commented on #28
Topics to cover

- importing datasets
- layout of Tableau
- saving basics - twb vs. twbx
- Tableau extracts & filtering
- joins
- exporting and sharing
- types of visuals, including "show me"
- dimensions and measures
- aggregate vs. non-aggregate view
- how to see the code: Worksheet --> Describe Sheet
- table calculations
- calculated fields
- grouped variables
- sets
- hands-on exercise using F

[2018-01-30 19:51] shapaklyak commented on #24
Hi friends, see the updated version with examples.
[ICPIFileNamingConventions_20170130.docx](https://github.com/icpi-div/org/files/1679127/ICPIFileNamingConventions_20170130.docx)

[2018-01-31 16:55] bbaack commented on #10
Hi All! Here are the four finalist color palettes for your review. I'm also attaching an excel file I used to create the charts if you'd like to play around. Your thoughts (general impressions, color substitutions, better palette names) before these move forward to leads are appreciated! @icpi-div/icpi-general

[ICPI-Like Color Palette.pdf](https://github.com/icpi-div/org/files/1682497/ICPI-Like.C

[2018-01-31 18:22] kimisatoPC commented on #10
@shapaklyak @bbaack Hello there! Katya asked me to come up with some name suggestions. Here are some random thoughts.

PPR: Beach Day, Tidepools, Under the sea, Aqua Mist
TBD: Forest Bath, Forest, Pinefeather, Autumn Woods, Mountain Pass

[2018-01-31 19:00] shapaklyak commented on #13
@achafetz postponed until after RPMs?

[2018-01-31 19:06] KatieOC commented on #10
@kimisatoPC  I think I just discovered another talent of yours.

[2018-01-31 19:16] KatieOC commented on #10
I do not have a strong opinion against any of them but below is my order of preference of the color palettes:
1) TBD
2) ICPI-Like
3) PPR-Like

[2018-01-31 19:17] KTmonkey commented on #10
I’m annoyed no one liked the swimming pool color pallet. You guys are no fun.

I concur with Kimi’s color names. I do think we should consider making them rhyme.

From: kimisatoPC [mailto:notifications@github.com]
Sent: Wednesday, January 31, 2018 1:23 PM
To: icpi-div/org <org@noreply.github.com>
Cc: Izenour, Katherine (Katie) (CDC/CGH/DGHT) (CTR) <viq4@cdc.gov>; Team mention <team_mention@noreply

[2018-01-31 19:21] mehtasp commented on #10
I concur with Katie O's ranking.
Aqua Mist and Mountain Pass sound like laundry detergent scents...and I don't hate it

[2018-01-31 19:42] shapaklyak commented on #10
I like all 4 of the color palettes @bbaack.

For names, I like Under the Sea and Autumn Woods - although another one that Kimi recommended was Earthstone or Earthtone for the TBD one.

Maybe grayscale = grayscale? :)

[2018-01-31 19:47] MicSherlock commented on #10
I would vote for TBD and vote against any palate that is more monotone in color.

Michelle Williams-Sherlock, MPH
Epidemiologist
HCTB/DGHT/CDC

From: Katya [mailto:notifications@github.com]
Sent: Wednesday, January 31, 2018 2:43 PM
To: icpi-div/org <org@noreply.github.com>
Cc: Williams Sherlock, Michelle (CDC/CGH/DGHT) <myy6@cdc.gov>; Team mention <team_mention@noreply.github.com>
Subject: Re: [ic

[2018-01-31 19:54] shapaklyak commented on #10
thanks! @MicSherlock, btw... we're not voting on one specific one but instead your top 3 in order. thanks!

[2018-01-31 19:57] MicSherlock commented on #10
I don’t know that I really like any of the others. I’m thinking of the TSD specifically and the way that we have tried to color code that tool to represent different levels of analysis. Are we allowed to suggest an additional color pallet? ☺

Michelle Williams-Sherlock, MPH
Epidemiologist
HCTB/DGHT/CDC

From: Katya [mailto:notifications@github.com]
Sent: Wednesday, January 31, 2018 2:54 PM
To: icp

[2018-01-31 21:07] noahbartlett commented on #10
Wait. The thread is closed, but... so what was decided???

I feel like someone tore the last pages out of the mystery novel I was
reading...

On Wed, Jan 31, 2018 at 4:01 PM, bbaack <notifications@github.com> wrote:

--

*NOAH M. BARTLETT*Senior Health Data Technical Advisor
U.S. AGENCY FOR INTERNATIONAL DEVELOPMENT
2100 Crystal Drive, #9024, Arlington, VA 22202
T 571-551-7489  |  M 571-242-2033

[2018-01-31 21:10] shapaklyak commented on #10
@noahbartlett , we'll still take your contribution to the mystery :) feel free to comment here. thanks!

[2018-01-31 21:10] KTmonkey commented on #10
Ooh wait, we should name one of the colors patito!

From: Noah [mailto:notifications@github.com]
Sent: Wednesday, January 31, 2018 4:07 PM
To: icpi-div/org <org@noreply.github.com>
Cc: Izenour, Katherine (Katie) (CDC/CGH/DGHT) (CTR) <viq4@cdc.gov>; Team mention <team_mention@noreply.github.com>
Subject: Re: [icpi-div/org] Color Scheming (#10)

Wait. The thread is closed, but... so what was decided

[2018-01-31 21:12] bbaack commented on #10
@noahbartlett It was completely accidental, I didn't even know I did it (or how to close a thread)! Now.... to figure out how to reopen....

[2018-01-31 21:19] MicSherlock commented on #10
Hi, this is what we are using for treatment tools…but we haven’t standardized the use depending on type of graph.

[cid:image004.png@01D39AAF.4DFAE940]

Michelle Williams-Sherlock, MPH
Epidemiologist
HCTB/DGHT/CDC

From: bbaack [mailto:notifications@github.com]
Sent: Wednesday, January 31, 2018 4:12 PM
To: icpi-div/org <org@noreply.github.com>
Cc: Williams Sherlock, Michelle (CDC/CGH/DGHT) <myy6@c

[2018-01-31 21:28] noahbartlett commented on #10
For what its worth, I like the ICPI and the PPR better than the TBD.

But TBH, I just wanted the opportunity to throw this in:

"By the Powers of Greyscale!"

[image: Inline image 1]

On Wed, Jan 31, 2018 at 4:19 PM, MicSherlock <notifications@github.com>
wrote:

--

*NOAH M. BARTLETT*Senior Health Data Technical Advisor
U.S. AGENCY FOR INTERNATIONAL DEVELOPMENT
2100 Crystal Drive, #9024, Arlingto

[2018-02-01 15:51] bbaack commented on #10
@MicSherlock, not sure if it's just my computer, but I'm not able to see the image you shared. Ideally, I'd prefer not to start over with completely new palettes at this time. However, your feedback that some of the other palettes are a bit monochromatic is well taken.

What do you/others think about an updated version of the ICPI-like palette? Completely unintentional, but this version incorporat

[2018-02-01 16:01] jb3436 commented on #18
@shapaklyak  @kschlenker , I also suggest guidance for general use - it would be nice if "all ICPI staff" were on these platforms. When we officially launch use of these platforms as ICPI common practice, it will be important to have the governance aspect outlined as well. Linking to SharePoint for items that can't be posted externally, for example.

[2018-02-01 16:03] jb3436 commented on #5
@achafetz Can this be a part of  the best practices around back-end construction of routine ICPI tools?

[2018-02-01 20:24] shapaklyak commented on #28
@kschlenker @noahbartlett are you all available between March 19-21 for a 2-3 hour workshop? I'm thinking either Monday or Tuesday afternoon.

[2018-02-01 20:25] kschlenker commented on #28
@shapaklyak I'm on annual leave that entire week

[2018-02-01 20:27] shapaklyak commented on #28
@kschlenker @noahbartlett how about week of March12?

[2018-02-01 20:31] noahbartlett commented on #28
Looks free for me.

On Thu, Feb 1, 2018 at 3:27 PM, Katya <notifications@github.com> wrote:

--

*NOAH M. BARTLETT*Senior Health Data Technical Advisor
U.S. AGENCY FOR INTERNATIONAL DEVELOPMENT
2100 Crystal Drive, #9024, Arlington, VA 22202
T 571-551-7489  |  M 571-242-2033  |  nbartlett@usaid.gov <jsmith@usaid.gov>
|  USAID.gov  |  @USAID

[2018-02-01 23:29] shapaklyak commented on #10
@bbaack so this step worked to transfer themes:

![image](https://user-images.githubusercontent.com/5234106/35708732-74fba3f0-077d-11e8-9600-21749a1e6489.png)

http://www.msofficeforums.com/powerpoint/23508-how-transfer-import-customized-color-theme-created.html

I tried it out with @Yabayabadoo, saved one of your XLS files as a theme, then she had to paste the XML file in the appropriate folder.

[2018-02-02 06:22] achafetz commented on #5
@kschlenker  has written up some documentation from PALS around best practices. we can discuss setting up better practices for tool development

[2018-02-02 15:04] bbaack commented on #10
@shapaklyak I call a semi-success a success! Here are the four .xml color files. These aren't the full theme, but it should work to follow the above path and stick them in the theme colors folder. I don't know why I stupidly didn't think to stick them in a zip folder earlier. Let me know if it works!

[Palettes.zip](https://github.com/icpi-div/org/files/1689775/Palettes.zip)

[2018-02-02 15:32] bbaack commented on #10
@MicSherlock a couple of examples of what the ICPI-like v2 and TBD palettes could look like on the TSD.

[TSD_ICPI-Like v2.pdf](https://github.com/icpi-div/org/files/1689853/TSD_ICPI-Like.v2.pdf)
[TSD_Forest Bath.pdf](https://github.com/icpi-div/org/files/1689856/TSD_Forest.Bath.pdf)

[2018-02-02 17:18] shapaklyak commented on #10
@bbaack i love it! it works. So the color palettes show up under Colors for both Word and Excel, but not Powerpoint. I was able to save ICPI theme on powerpoint though...but it makes the background blue (maybe we wait on powerpoint or leave it since there are some standards already- can discuss on Tuesday). I did start a set of instructions below.

[Instructions_Save as a theme.docx](https://githu

[2018-02-02 17:45] MicSherlock commented on #10
I like forest bath, but does it have a fourth color? We are just about to add the 4th layer of inquiry into the tool and it will need a representative color.

[cid:image001.png@01D39C1B.CCE31300]

Michelle Williams-Sherlock, MPH
Epidemiologist
HCTB/DGHT/CDC

From: bbaack [mailto:notifications@github.com]
Sent: Friday, February 2, 2018 11:40 AM
To: icpi-div/org <org@noreply.github.com>
Cc: Williams

[2018-02-02 17:52] MicSherlock commented on #10
For some reason they aren’t opening. I tried from email and also from GitHub.

Michelle Williams-Sherlock, MPH
Epidemiologist
HCTB/DGHT/CDC

From: bbaack [mailto:notifications@github.com]
Sent: Friday, February 2, 2018 11:14 AM
To: icpi-div/org <org@noreply.github.com>
Cc: Williams Sherlock, Michelle (CDC/CGH/DGHT) <myy6@cdc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [icpi-div/org] Co

[2018-02-06 17:31] achafetz opened #29 "New ICPI Logo?"
It's 2018 and I was thinking it might be good to freshen things up with a new ICPI logo, especially with our revised structure & renamed dataset. I've iterated through a few potential new logo (very much tidyverse inspired). Comments appreciated from @icpi-div/guidance-capacity-building  and the broader @icpi-div/icpi-general

Old logo
![icpi logo](https://user-images.githubusercontent.com/8933069

[2018-02-06 17:46] MicSherlock commented on #29
I would vote to keep old logo. This logo is finally becoming a known brand, country teams now recognize and know what it means. Why change now?

Michelle Williams-Sherlock, MPH
Epidemiologist
HCTB/DGHT/CDC

From: Aaron [mailto:notifications@github.com]
Sent: Tuesday, February 6, 2018 12:32 PM
To: icpi-div/org <org@noreply.github.com>
Cc: Williams Sherlock, Michelle (CDC/CGH/DGHT) <myy6@cdc.gov>; T

[2018-02-06 18:02] KatieOC commented on #26
Next round -
[searchable.data.elements.brainstorm_Feb 6 2018.xlsx](https://github.com/icpi-div/org/files/1700235/searchable.data.elements.brainstorm_Feb.6.2018.xlsx)

Items on the bottom I still haven't categorized yet....any thoughts?

[2018-02-06 18:12] KatieOC commented on #26
@bowdenj  @imujawar @MicSherlock @shapaklyak @achafetz @noahbartlett

Next round -
[searchable.data.elements.brainstorm_Feb 6 2018.xlsx](https://github.com/icpi-div/org/files/1700235/searchable.data.elements.brainstorm_Feb.6.2018.xlsx)

@imujawar Am I getting closer to what you were thinking of?

Items on the bottom of excel file I still haven't categorized yet....any thoughts?

[2018-02-06 19:53] bbaack commented on #29
I was skeptical when you mentioned it (not because i love the current logo), but I really like these, and I don't think they are such a departure from the original that ICPI will become unrecognizable. My favorite is logo 3.

I love the clean look, but can we also get a version that spells out ICPI? Maybe as a backup option?

[2018-02-06 19:54] bbaack commented on #29
Actually, now that I'm looking at them again, maybe I like #2 best?

[2018-02-06 20:08] kschlenker commented on #29
#3 is probably my favorite new one. Then #2

[2018-02-06 20:19] mehtasp commented on #29
Two is my pick!

[2018-02-06 22:28] shapaklyak commented on #29
i like #2 also, but i wonder how this would look next to the PEPFAR logo (with the tidyverse inspiration) it'd be good to see it side by side.

[2018-02-06 22:38] achafetz commented on #29
ask and you shall receive. I like the contrast.

![image](https://user-images.githubusercontent.com/8933069/35888054-647362bc-0b64-11e8-8f46-d646bc90d1d3.png)

[2018-02-06 22:45] shapaklyak commented on #29
@achafetz awesome! can you make the border less wide for the icpi logo? maybe half it? i do like the muted blues/greys in the proposed version!

[2018-02-06 22:56] achafetz opened #30 "Non issue, posting pics"
![image](https://user-images.githubusercontent.com/8933069/35888795-09bfb228-0b67-11e8-8395-c78317183087.png)

![image](https://user-images.githubusercontent.com/8933069/35888799-0c1d3b1c-0b67-11e8-9f02-8077127e866a.png)

![image](https://user-images.githubusercontent.com/8933069/35888804-0e437668-0b67-11e8-8b8e-394e294bd471.png)

[2018-02-06 23:03] achafetz commented on #30
![image](https://user-images.githubusercontent.com/8933069/35888970-adebd520-0b67-11e8-9a11-89c21786071e.png)
![image](https://user-images.githubusercontent.com/8933069/35889022-e5965cb6-0b67-11e8-9e94-cdb812779237.png)
![image](https://user-images.githubusercontent.com/8933069/35889074-0bc67eb6-0b68-11e8-867d-a6eb31227b35.png)

[2018-02-06 23:03] #30 closed

[2018-02-06 23:10] achafetz commented on #10
Hey all, went through and did the test of importing @bbaack's zipped color palette folder. No problems experiences.

[Converted the word doc into a Markdown](https://github.com/icpi-div/org/blob/master/Documents/Color/How%20to%20import%20Color%20Palettes%20into%20MS%20Excel,%20Word,%20Powerpoint.md) for easier porability and reading on Github and posted both to a Color folder in the Documents fold

[2018-02-06 23:16] shapaklyak commented on #10
@achafetz cool. Just saw it. thanks! i think one concern i had about using it in powerpoint is that it automatically turns the background a dark blue (at least with the ICPI-like one). There is a template for  trainings/webinars but do we want think about how to use it in combination or a phase 2 project (or OCM task)? https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?Root

[2018-02-07 12:25] KTmonkey commented on #29
We may want to confirm that we can use the OGAC logo. I recall when the ICPI logo was being created there was a lot of tension about incorporating the OGAC logo which was why the existing logo doesn't include it.

[2018-02-07 12:26] KTmonkey commented on #29
I do think incorporating what icpi stands for is helpful...I know I regularly get asked....'what's an ICPI'

[2018-02-07 13:35] MicSherlock commented on #29
It should be PEPFAR for interagency. OGAC is a State Dept logo.

________________________________

From: KTmonkey <notifications@github.com>
Date: February 7, 2018 at 7:26:27 AM EST
To: icpi-div/org <org@noreply.github.com>
Cc: Williams Sherlock, Michelle (CDC/CGH/DGHT) <myy6@cdc.gov>, Team mention <team_mention@noreply.github.com>
Subject: Re: [icpi-div/org] New ICPI Logo? (#29)

We may want to c

[2018-02-07 13:43] shapaklyak commented on #29
@KTmonkey agree - maybe something like analytics hub?

[2018-02-07 14:32] achafetz commented on #29
@MicSherlock, I think its good to stay current (eg fonts and styles go out of style after a while) and it helps propel us with our new ICPI strategy. Organizations tend to recreate their logos frequently ([think Google](https://www.pnclogos.com/wp-content/uploads/2016/12/google-logos-throughout-history.jpg))

@shapaklyak, yeah, I matched the dimensions to the tidyverse hexes, but this is coming of

[2018-02-07 15:12] bowdenj commented on #29
@achafetz I like your third example of keeping it simple :)
If we're going to spell out ICPI, I prefer option 2 to 3 or 4. But I think we're getting asked less and less what ICPI is, especially by countries familiar with the fact views. The agency leads may want to make the call on whether or not spelling out ICPI is needed.
The thinner border looks great.

[2018-02-07 15:46] bbaack commented on #10
I am updating the .xml files momentarily to share for review.

Anyone have quick thoughts on the ICPI-like palette names? Some ideas:
Coast of Bohemia, Maritime, Aquatic Blues, Shipyard

@kimisatoPC

[2018-02-07 15:50] achafetz commented on #10
my vote is for Coast of Bohemia!!! love it.

[2018-02-07 16:21] bbaack commented on #10
Ok, here are the color palettes to share with leads for review plus [instructions](https://github.com/icpi-div/org/blob/master/Documents/Color/How%20to%20import%20Color%20Palettes%20into%20MS%20Excel,%20Word,%20Powerpoint.md) again, so everything is in one place.

[Palettes_020718.zip](https://github.com/icpi-div/org/files/1703839/Palettes_020718.zip)

[2018-02-07 16:54] shapaklyak commented on #26
Hi @icpi-div/meta-data-brainstorming-session  @KatieOC thanks for the next round!
I've put this in a survey format - there's been discussion around the usefulness of this for RPMs.
[Viz Library Survey_20180207_en.docx](https://github.com/icpi-div/org/files/1703980/Viz.Library.Survey_20180207_en.docx)

[2018-02-07 18:23] jb3436 commented on #26
@shapaklyak , this is great! I suggest adding a question after question 6 about the data source to ask a little about post processing to see if there are calculated indicators/elements or other restructuring done to the data.
<img width="238" alt="screen shot 2018-02-07 at 1 22 05 pm" src="https://user-images.githubusercontent.com/13006198/35933913-08c1e6cc-0c0a-11e8-8497-cc2e253c3629.png">

[2018-02-07 18:27] shapaklyak commented on #29
@achafetz i like 2 & 4 above. @kimisatoPC suggested that 2 can be for an abbrev. logo, while 4 could be for a long form of the logo, also perhaps have the border color match the blue in the PEPFAR logo would be interesting to see.

[2018-02-07 18:44] shapaklyak commented on #10
@bbaack @achafetz awesome! i just updated the instructions as it was missing a " \ " after Users in Step4 on the instructions.  @achafetz how do i change an image in the markdown file? i want to update the last 3 screenshots to include the updated color names.

[2018-02-07 18:45] bbaack commented on #29
@achafetz I like option 1 for an abbreviated version on most things, and option 4 (but maybe with justified/resized text so it aligns) for when we need a long form (like the last slide in the presentation template).

I know I'm the person who originally suggested it, but now that I'm thinking it through a little bit more, I don't think that using the full name is that important. If someone doesn't

[2018-02-07 19:02] achafetz commented on #10
copy and image/screenshot into a an Issue text box and it will generate a url. copy the url  and replace that in the MD file

[2018-02-07 19:25] shapaklyak commented on #10
@achafetz thanks! i updated it. can someone look at the screenshot for powerpoint below. I think my powerpoint hsa been funky lately... is this how you get to the colors in powerpoint?

![image](https://user-images.githubusercontent.com/5234106/35936935-bc66ec60-0c12-11e8-9a43-9f8a0e06a70b.png)

[2018-02-07 19:28] bbaack commented on #10
@shapaklyak yep, that's how i do it.

[2018-02-07 19:34] shapaklyak commented on #10
thanks @bbaack and @achafetz ! i updated the markdown file with updated screenshots and a few edits to the step instructions to make it more clear. i'll send the zipfile and instructions to Jasmine/OCM tomorrow morning and will cc you.

[2018-02-07 19:34] shapaklyak commented on #29
@achafetz sending this to Jasmine/OCM tomorrow as well?

[2018-02-07 20:27] jb3436 commented on #10
I was able to download the templates on my mac and they showed up as custom themes. I will see if I can do it again to help with the mac instructions.

[2018-02-07 20:31] shapaklyak commented on #26
@jb3436 @KatieOC please see this updated version
[Viz Library Survey_20180207v2_en.docx](https://github.com/icpi-div/org/files/1704640/Viz.Library.Survey_20180207v2_en.docx)

[2018-02-07 21:04] KatieOC commented on #29
I 100% agree with @bbaack

[2018-02-07 21:26] KatieOC commented on #26
Thanks @shapaklyak ! I just got out of an appointment so viewing on my phone. Is Q6 formatted correctly? My view seems to be missing a few words. For the last question, I wonder if we want to build this out more? I can add some more options in the morning.

[2018-02-07 21:35] achafetz commented on #29
let's go for it @shapaklyak. I would go for 1 and if necessary 4 as a backup. I may or may not have time tonight to play with the font spacing to attempt to justify the text manually.

[2018-02-07 21:55] shapaklyak commented on #29
sounds good @achafetz
 i'll wait until 10am tomorrow to send option 1 if you have any other updates. if you have time, could you put opt 1 with the pepfar logo? thanks!

[2018-02-07 21:56] shapaklyak commented on #26
ok sounds great @KatieOC

[2018-02-08 02:15] achafetz commented on #29
alright, @shapaklyak, here's a clean md file that lays our the logo options and recommendation for tomorrow.

https://github.com/icpi-div/org/blob/master/Documents/ICPI_Logos.md

[2018-02-08 02:20] achafetz commented on #10
added the zipped colors to the Color folder in the repo documents to accompany the instructions

https://github.com/icpi-div/org/tree/master/Documents/Color

[2018-02-08 13:13] shapaklyak commented on #10
thanks @achafetz

[2018-02-08 13:15] shapaklyak commented on #29
thanks @achafetz ! this is great!

[2018-02-08 13:46] KatieOC commented on #26
@shapaklyak out sick today, I don't want to delay the process. It's good plus the "other specify" section will get us more data points.

[2018-02-08 13:52] shapaklyak commented on #26
@KatieOC feel better!!

this is what Q6 looks like:

![image](https://user-images.githubusercontent.com/5234106/35976131-209856ac-0cad-11e8-9f9c-976b65219474.png)

We could add options such as Factview dataset but then how far back should we list out the datasets?  Any other suggestions  for this q?

[2018-02-08 14:18] KatieOC commented on #26
@shapaklyak that's great as is, agree too many options to list. I was thinking of adding some more options to the data question with bar graphs, maps, slicers, etc. what would be useful for someone building a new tool? Bubble graphs, scatter plots. Would that be helpful?

[2018-02-08 15:27] shapaklyak opened #31 "non issue, testing"
File naming may vary slightly based on the file type (Word, Excel, PowerPoint, etc.), but will generally maintain the below structure. The differences are noted below.

**TitleOfDocument**__DocType_OU_**_FYXXQX***_**YYYYMMDD**_Version_initials_

**Bold = required for all tools**
_Italics = only use this component where applicable_

**Title of Document**

- What is this?
- Is this for a specific Cl

[2018-02-08 15:27] #31 closed

[2018-02-08 15:31] shapaklyak commented on #26
@KatieOC , are you talking about 12 or 13? I separated out types of visuals & tool functionality. we can list out all the types of graphs, do you think that would useful?

![image](https://user-images.githubusercontent.com/5234106/35981448-43e5541c-0cbb-11e8-91a7-f014131ba819.png)

[2018-02-09 21:04] achafetz opened #32 "Org and Repo rename"
We're going to be transitioning the overarching Github organization for ICPI at-large. This will have some minor effect on group names, but otherwise shouldn't be a big deal (possibly some links won't work).

We will rename this repository from org to DIV and will use this as our DIV workstream repo.

@icpi-div/leads @icpi-div/icpi-general

[2018-02-09 21:35] #32 closed

[2018-02-14 22:26] shapaklyak opened #33 "Brainstorm - Data triangulation w/other clusters"
@jb3436 suggested looking into a standard template/format for integrated analyses across clusters and tools.  image below is source of inspiration for this (final template would be cleaned up a bit, but has info across data types)

To be discussed after RPMs.

![image](https://user-images.githubusercontent.com/5234106/36231437-03695f82-11ac-11e8-96f8-72391e06bf51.png)

[2018-02-15 15:59] bowdenj opened #34 "Process for Submitting Panorama Requests: Data Updates and New Visualizations"
Hi @shapaklyak - Per our conversation this week, outlining a proposal for how requests should be submitted for Panorama: both for issues identified and new visualization proposals/requests. Please see a first idea for both below. Looking forward to hearing your thoughts (and others) as well as OCM's feedback after the meeting today:

1. How to submit data issues:
Country teams and ICPI team member

[2018-02-15 16:17] shapaklyak commented on #34
Thanks Jess! Looks good. Hopefully can get this on the agenda at OCM today.
@ICPIadmin @jb3436

[2018-02-15 17:53] shapaklyak commented on #33
@ICPI/div noting discussion at clusters tools brownbag --> viewing data by population type. adolescent analyses

[2018-02-15 20:53] bowdenj commented on #34
Thanks @shapaklyak - hope OCM meeting went well and looking forward to feedback.

[2018-02-15 20:55] #17 closed

[2018-02-15 21:46] shapaklyak commented on #34
@bowdenj approved at OCM. One question that OCM had is when the ticket gets copied over to the Panorama developer's GH repo and how the requests are prioritized. Resolution for this possibly is - could i have be added to the Panorama developer's GH repo?

Can you followup with @ICPI/business-intelligence-system-coordination group for any other checks?

Lastly - i've created a wiki page for this gu

[2018-02-15 21:56] shapaklyak commented on #29
@achafetz a few comments from OCM:

[2018-02-15 22:00] shapaklyak commented on #10
@bbaack @achafetz @ICPI/guidance-capacity-building great job on the color palettes!! approved by OCM!
Next steps:
- upload instructions & color palettes (zip file) to DIV Sharepoint folder (@ICPIadmin currently moving folder)
- Rebecca to use palettes in powerpoint - coast of bohemia

[2018-02-15 22:02] shapaklyak commented on #24
@ICPI/guidance-capacity-building thanks everyone!! naming conventions approved by OCM.

next steps:
- post to DIV sharepoint folder (@ICPIadmin rebecca currently moving folders)
- OCM to roll out at inbrief

[2018-02-19 20:12] bowdenj commented on #34
Hi @shapaklyak - Thanks so much for working with OCM on this.
The ticket should be copied over to the developer's GH repo quickly--within a few hours or days after we see it here. That part should take very little time. The requests are prioritized once per quarter. They are prioritized first internally by the DIV-BI group + any ICPI analyst who requested a change. Then, once we have made that int

[2018-02-19 22:43] bowdenj commented on #19
Closing--duplicate with #34

[2018-02-19 22:43] #19 closed

[2018-02-19 22:44] bowdenj commented on #26
@shapaklyak - was this discussed at OCM?

[2018-02-19 22:45] #7 closed

[2018-02-20 06:00] shapaklyak commented on #26
@bowdenj briefly...but no time to implement before RPMs. Will be followed up on at the next Coordination Cluster meeting post-RPMs.

[2018-02-20 06:04] shapaklyak commented on #34
@bowdenj thanks. To add screenshots, paste the image into an issue and a link shows up - copy and paste this link into the location you want in the wiki page. Let me know if that works for you.

[2018-02-20 15:56] bowdenj commented on #34
Thanks @shapaklyak - updated. Does this go back to OCM for review at this point?

[2018-02-20 16:02] erinschelar opened #35 "Q4 Indicator Narratives in Q1 and on..."
@bowdenj

Following up on the request to include narratives in Panorama for indicators that are Q4 or semi-annual. These are not easily available elsewhere, so it would be great to retain them in Panorama even on off-cycle time periods.

Q2 and Q4 indicators to consider including:
OVC_SERV
OVC_HIVSTAT
PP_PREV
KP_PREV
SC_STOCK
TB_ART
TB_PREV
TB_STAT
TX_TB
EMR_SITE
FPINT_SITE
GEND_GBV
HRH_CURR
HRH_P

[2018-02-20 16:37] bowdenj commented on #35
@erinschelar - thanks for opening and for the list.
In past periods, we had included certain off-cycle indicators that were especially useful in analyzing current-period data for context. However, I don't think we usually included all of them, and the above list looks to be quite comprehensive. Do you believe there is a need to include all of the above indicators, or could we limit the list to a f

[2018-02-20 16:41] erinschelar commented on #35
From my perspective, those are fine. I included all off-cycle just to have the list, but it would be good to get input from the above site cluster and maybe treatment? @KatieOC

[2018-02-20 16:53] bowdenj commented on #35
Thanks, @erinschelar
Flagging this for @ICPI/div for all to comment as well

[2018-02-20 16:59] bowdenj commented on #24
@shapaklyak - Can you confirm name convention? The one in your ticket above seems to be the version that was agreed upon, but the version that went out in the inbrief today looked different (date at beginning compared with date at end). Can you confirm which of the below versions should be used?

Version 1: From this ticket
![naming conventions](https://user-images.githubusercontent.com/18291396/3

[2018-02-20 17:17] bowdenj opened #36 "Outline Scope for ICPI Analytic Work Spaces"
Per Inbrief 2/20, schedule meeting with
-ICPI Analytic Work Space participants
-DIV BI Subgroup
-Cluster Leads

to discuss
-Analytic questions to be answered in the work spaces
-Use of site level data in the work spaces (given Amb priorities for RPM and moving forward)

[2018-02-20 19:59] KatieOC commented on #35
@bowdenj @erinschelar  just to clarify, if the indicator does not make the list, is there a way to access the narrative in the off-cycle? Given the time period of Q4 release, I think sometimes people don't get a chance to do deep dives into some of the indicators (PMTCT_FO for example) and I want to make sure people can still access the narratives if needed.

[2018-02-20 20:27] bowdenj commented on #35
@KatieOC - There is no other place in Panorama where the narratives can currently be found. The only other place where narratives exist currently is DATIM.
I can check with the development team to determine whether it would be a higher LoE to include all of the above indicators. Is general agreement that we do want the full list of indicators?

[2018-02-20 21:34] bowdenj commented on #24
Thanks @shapaklyak - that makes way more sense.
Per our Slack conversation, updated the slide to show a screen shot of the Word document in the hopes that it will stand out more on the Inbrief. Sent slide to @hessionra
[Inbrief Cluster 02202018_Naming Conventions.pptx](https://github.com/ICPI/DIV/files/1741963/Inbrief.Cluster.02202018_Naming.Conventions.pptx)

[2018-02-21 21:44] KTmonkey commented on #36
I think we might want to consider prioritizing OVC and PP_PREV as that seems to be causing some challenges at RPM...

[2018-02-23 18:58] KTmonkey opened #37 "Data in VMMC OU Dashboard in Pano showing data for all quarters in Q1 and other issues"
Hi Jess,
I've noticed some changes to the VMMC dashboards in Pano that weren't what we had intended. Please see screenshot and following list. Let me know if you have questions

_first dashboard_

![vmmc_ou_pano visual](https://user-images.githubusercontent.com/34682571/36672033-d0cc943a-1acb-11e8-9434-45721909c90e.jpg)

**Table 1 - top left graph**
1) we only need the current and previous year's

[2018-02-23 22:26] bowdenj commented on #37
Fantastic, thanks for the ticket @KTmonkey
I'll try to replicate these and get back to you with any follow-up questions. If none, I'll let you know when this has been submitted to developers.

[2018-02-24 09:12] shapaklyak commented on #37
@ktmonkey

Please redact these photos by crossing our identifying info before posting.
The first few show a country name. There should be nothing identifiable in
images posted. Please see the wiki page for guidance. Let me know if I'm
mistaken as I'm writing this from the plane.
On Sat, Feb 24, 2018 at 12:26 AM Jessica Brown <notifications@github.com>
wrote:

--
Katya Noykhovich, MPH
(913) 206-571

[2018-02-25 08:27] KTmonkey commented on #37
No problem.

But here’s my question...when submitting tickets to pano the developers always want to know exactly what you were looking at to generate the error/issue. So how is that going to work when doing this thru github??

________________________________

From: Katya <notifications@github.com>
Date: February 24, 2018 at 4:12:40 AM EST
To: ICPI/DIV <DIV@noreply.github.com>
Cc: Izenour, Katheri

[2018-02-26 13:07] KTmonkey commented on #37
screenshots updated

[2018-02-26 22:17] bowdenj commented on #37
@KTmonkey - Thank you so much for this, very helpful. I put in a ticket with the issues.

A few responses/things I noticed while replicating this:
1. On the OU & SNU Analysis tab Table 3 (global # of circs), you mentioned that the label is wrong because it says FY17 & FY18 targets and results. Unfortunately, I don't think the label is wrong--I think it is somehow summing FY17 and FY18 results. Whe

[2018-02-26 22:18] bowdenj commented on #37
And @shapaklyak - you were absolutely right to ask for redaction. @KTmonkey - I'm sorry for misguiding you, and thank you for being our GitHub Pano ticket guinea pig!

@shapaklyak - Perhaps our guidance should be: If there are data issues in Panorama, submit a ticket through ZenDesk. There they can include screen shots or real data. GitHub here on this public repo should be for requests for new Pa

[2018-02-27 02:41] KTmonkey commented on #37
@bowdenj
1) perfect
2) on some it does show all 4 quarters, and on some it shows just the Q2s and Q4s, see 2nd screenshot, Q1 and Q3 are MIA. But yes, some of the dashboards do squish it all in.

Thanks a bunch!

[2018-02-27 21:47] bowdenj commented on #37
@KTmonkey - awesome, thank you. Put in this ticket yesterday and they are working on addressing it.

[2018-03-05 18:34] bowdenj opened #38 "Including <5 in 1-9 Band for Testing?"
Hi @KatieOC - quick question about your Zendesk ticket:

In suggestion 4, you have a note stating "Including <05 in the 01-09 age band is a discussion item that I want to have and not sure who we need to talk about with this. This could help the user if we make the decision to include <05 in 01-09 but not sure if that will be viewed as “not transparent."

I believe we should be talking to the test

[2018-03-05 18:46] #10 closed

[2018-03-05 18:46] #13 closed

[2018-03-05 18:47] #22 closed

[2018-03-05 18:50] bowdenj opened #39 "Update MCAD Logic Document for 5-Year Age Bands"
Placeholder ticket per conversation with @abrahamagedewICPI -
When we update the MCAD script to accomodate the new 5-year "finer" age bands coming in FY18 Q2, we will need to update the logic document to describe to users what changes have been made.

Flagging for @imujawar and @achafetz

[2018-03-05 18:51] shapaklyak commented on #21
@hessionra @ICPIadmin have these issues been resolved?

[2018-03-05 19:06] hessionra commented on #21
@shapaklyak
Bullet 1: N/A, but this happened with some products awhile back. Hasn't happened since.
Bullet 2: As far as I know, you can't do direct sharing, only sharing the URL.
Bullet 3: Notified SharePoint about the pathway issue, Natasha was looking into it (I can follow up)
Bullet 4: I will bring up with Natasha.

[2018-03-05 19:33] shapaklyak commented on #21
thanks @hessionra

[2018-03-05 19:34] #3 closed

[2018-03-06 15:32] shapaklyak commented on #37
@bowdenj is there a zendesk ticket for this?

[2018-03-08 14:40] bshook commented on #36
Hey Katya,I have notes and an outline/SOO for next steps I’m just waiting on the code book before proceeding- it will affect the time line. I spoke w jasmine yesterday and am updating based on our discussion. Will be ready as soon as the codebook

[2018-03-08 15:10] KTmonkey commented on #36
I emailed on Tues asking for a status update on the code book and haven't gotten a response.   During Monday's inbrief Jess said that there was going to a meeting sometime this week and they should know more about the code book...

[2018-03-08 15:17] shapaklyak commented on #36
@bshook @KTmonkey what is the codebook? Starting to review all the materials sent for workspaces after RPMs...

[2018-03-08 15:23] bowdenj commented on #36
The codebook I believe is referring to a "dictionary" or some other documentation that identifies what data can be pulled directly from the PDH via the work spaces. Right now, the datasets are labelled in a way that is not exactly human-readable and is confusing for analysts used to using fact view datasets.

My meeting with the developers starts in a few minutes. We'll be reviewing exactly this,

[2018-03-08 15:24] KTmonkey commented on #36
what @bowdenj Jess said!

[2018-03-08 17:55] shapaklyak commented on #35
@bowdenj just seeing this come through. Has an LoE been determined if possible to include all indicators?

[2018-03-09 17:21] KTmonkey commented on #37
@bowdenj - Have you heard anything? Timeline, follow up questions??

[2018-03-09 18:38] bowdenj commented on #37
Hi @KTmonkey - I don't have a firm deadline from the development team yet on this. It is not impossible that we won't have another fast-follow before the Q1 cleaned data release, though. I will follow up when we know more information from the developers.
@shapaklyak - sorry for missing this earlier! No, I put in a direct Analytics repo ticket on this one when it came in.

[2018-03-09 20:38] erinschelar commented on #35
Thanks, Katya. It looks like many were added but flagging one that we
missed on the list for the future:

FPINT_SITE

On Thu, Mar 8, 2018 at 12:55 PM, Katya <notifications@github.com> wrote:

--
*ERIN SCHELAR, MPH, RN*
Data Analysis Advisor, SIEI/SI Team | Office of HIV/AIDS
U.S. AGENCY FOR INTERNATIONAL DEVELOPMENT
Interagency Collaborative for Program Improvement (ICPI)
2100 Crystal Drive, Arlin

[2018-03-12 19:08] shapaklyak opened #40 "DIV workplan review"
Please review & Update corresponding sections for your assignments in workplan (or provide updates here and post most recent version).

[DIVWorkplan_20180116.xlsx](https://github.com/ICPI/DIV/files/1804163/DIVWorkplan_20180116.xlsx)

[2018-03-12 19:09] shapaklyak commented on #6
Closing out, see issue #40

[2018-03-12 19:09] #6 closed

[2018-03-13 15:34] bshook commented on #36
@bowdenj @shapaklyak @KTmonkey submitted some draft initial documents to leads.

1) Re: Jess's last comment- if the end goal is to hopefully help pano developers transition the tools more easily then wouldn't it be best to try and recreate the visuals using the same data structure as they would be? Just making sure the exercise is useful to the developers.

2) After discussing further with Jasmine

[2018-03-13 15:43] KTmonkey commented on #36
Hi friends!

Question on the log- where @bshook  said

is that just referring to the visuals in our assigned tool or is that asking something more broad?

[2018-03-13 16:44] shapaklyak commented on #36
@bshook,, just talked w/ @jb3436.  Can you please swap out the assignments? OVC dashboard for me and then @kimisatoPC for DREAMS dashboard? Thanks!

[2018-03-13 20:31] shapaklyak commented on #9
@hessionra , do you have a more complete list? (see attachment above)

[2018-03-13 20:32] #24 closed

[2018-03-13 22:02] kschlenker opened #41 "Improving comms about known/resolved Pano issues"
**Summary**
Currently there is no place where Panorama users can track known issues that have been reported or whether or not known issues have been resolved. The only place where this information is available is in a private Github repo.

The current system causes inefficiency and confusion among end users. Often the same underlying issue is reported in multiple tickets by multiple users. There a

[2018-03-14 14:27] bowdenj commented on #41
Hi @kschlenker - thank you for the write-up. I've sent along the document to the development team lead for Pano and will follow up after her team has had a chance to take a look.

[2018-03-14 14:47] shapaklyak commented on #41
Thanks @kschlenker !
@jb3436 did you have any comments on this? @bowdenj , we were going to review this at OCM Thursday prior to forwarding on.

[2018-03-14 14:50] shapaklyak commented on #41
@kschlenker instead of
"Statuses could be left blank if it is unknown when the issue will be corrected;"
Perhaps there can be a statement indicating "the issue is ongoing and a fix is to be determined"; as a blank may appear that the issue is not being addressed or acknowledged.

[2018-03-15 18:53] bowdenj commented on #41
@shapaklyak - Ah, ok. Can make sure Susan is looking at an updated version if there is one after OCM.
Susan and her team are considering internally whether/how to update the Zendesk process--no further update yet

[2018-03-15 19:13] bowdenj commented on #36
Met with developers yesterday, and it's not going to be quite as simple as creating a code-book, unfortunately.
What they are doing is essentially re-creating fact view files as options for users to select within the work spaces (starting with sitexIM for a few countries). Will keep you guys updated as this moves forward.
One thing they did mention that I thought was interesting is that if you go

[2018-03-16 00:35] achafetz commented on #29
@ICPI/guidance-capacity-building [this proposed logo slide deck](https://github.com/ICPI/DIV/blob/master/Documents/ICPI%20Logo%20rebranding%2020180315%20.pdf) was presented at OCM today.

@ICPI/ocm requested to play around with [the logo](https://github.com/ICPI/DIV/blob/master/Documents/Propose_ICPI_logo_20180315.pptx). Any changes are to be made/discussed by next Thursday (3/22).

@ICPI/ocm, I w

[2018-03-16 19:26] shapaklyak opened #42 "Best practices in using GitHub"
Guide users on best practices
- when to start a repository, etc.

[2018-03-16 19:45] shapaklyak commented on #40
oops. duplicate of #14

[2018-03-16 19:45] #40 closed

[2018-03-19 13:45] bowdenj opened #43 "Q2 Panorama Prioritization"
Tracking developments to ICPI requests for Q2 Panorama.
 Initial prioritization session week of 3/26
 Second prioritization session (if needed) 4/2
 Final list due to developers 4/3 for integrated prioritization

*Process for submitting requests*
1. Please check the attached list that was submitted in Q1 to see if your request is on this list. Most requests were not included in Q1 due to data elem

[2018-03-19 14:22] shapaklyak commented on #43
@bowdenj is the prioritization April 2 and April 3 instead of March?
![image](https://user-images.githubusercontent.com/5234106/37601018-04752432-2b57-11e8-8168-4f1a6b83ff3a.png)

[2018-03-19 14:24] bowdenj commented on #43
Thanks, Katya! Updated comment. Dates now should be correct.

[2018-03-19 18:18] shapaklyak commented on #5
looks like this is on the resources wiki page https://github.com/ICPI/DIV/wiki/Resources

[2018-03-19 18:18] #5 closed

[2018-03-19 18:18] #27 closed

[2018-03-19 18:20] shapaklyak commented on #38
@KatieOC @bowdenj is this still ongoing?

[2018-03-19 18:24] #34 closed

[2018-03-19 18:26] shapaklyak commented on #8
hi, is this ongoing or completed?

[2018-03-20 12:28] achafetz commented on #42
First round. Will clean up and flesh out later this week and create a md file to go in our documents folder.

---
## GitHub Best Practices

- **Each repo should be its own project**
- **Commit early and often**
- **Don’t commit data that isn’t public**
- **Document, Document, Document**
- **Install a Git client**
- **Fork > Clone > Pull**
- **Utilize Markdown**
- **Keep your repo and issues up to

[2018-03-20 12:36] bowdenj commented on #41
@shapaklyak Is there an updated document after reviewing in OCM last Thursday, or is the above final?

[2018-03-20 12:41] bowdenj commented on #36
@bshook - do you feel as though scope has been outlined for work spaces? If yes, I'd like to close this ticket and open new ones for tracking the work being done in the spaces. If you feel like there is more planning/outlining to be done with the group, we can keep this open and track it here. Let me know your preference.

[2018-03-20 12:47] bowdenj commented on #20
@kschlenker - I'd like to close this ticket as the Q1 data has been released and tools now released. Do you see any issues with this?

[2018-03-20 13:43] achafetz commented on #42
teaser training "poster"

![image](https://user-images.githubusercontent.com/8933069/37658084-1035243a-2c23-11e8-922f-48ce60764877.png)

[2018-03-20 15:31] #28 closed

[2018-03-20 17:43] bowdenj opened #44 "Meet with DAQ on Workplans"
Per DIV co-leads meeting 3/20, DIV would like to meet with DAQ to review workplans. We believe there are areas of shared interest to discuss and potential duplication in the plans that we would like to avoid.

Our updated workplan will be attached here. @abrahamagedewICPI @kschlenker - could you also post your workplan and we can set up time to chat before 3/30?
cc: @shapaklyak @achafetz @KatieOC

[2018-03-20 20:00] bshook commented on #36
@bowdenj I think we can close this

[2018-03-20 20:03] shapaklyak commented on #36
@bshook @bowdenj can we put the analytic workspace SOW in a wiki page and the log for reference/use?

[2018-03-21 13:18] shapaklyak commented on #41
@bowdenj no there wasn't an updated document

[2018-03-21 13:20] shapaklyak commented on #21
@hessionra any update re: the above bullets and follow up with Natasha?

[2018-03-21 14:27] hessionra commented on #21
@shapaklyak I reached out to her and am waiting to hear back! If I haven't heard from her by tomorrow, I can stop by her desk.

[2018-03-21 15:19] shapaklyak commented on #41
@jb3436 @hessionra any comments sent in via OCM?

[2018-03-21 16:23] shapaklyak commented on #14
Please update your section of the workplan and post file here. Thanks!

[DIV_Workplan_20180320_v2.xlsx](https://github.com/ICPI/DIV/files/1834183/DIV_Workplan_20180320_v2.xlsx)

[2018-03-21 22:20] shapaklyak opened #46 "Review DIV SOW"
Hi all, please see updated version of DIV SOW as mentioned in Slack.
[DIV SoW_20180320_v3.docx](https://github.com/ICPI/DIV/files/1835425/DIV.SoW_20180320_v3.docx)

[2018-03-21 22:21] shapaklyak commented on #14
Updated version per v3 of SOW (#46)

[DIV_Workplan_20180320_v3.xlsx](https://github.com/ICPI/DIV/files/1835428/DIV_Workplan_20180320_v3.xlsx)

[2018-03-22 14:06] achafetz commented on #46
proposed changes.

[DIV.SoW_20180322.docx](https://github.com/ICPI/DIV/files/1837818/DIV.SoW_20180322.docx)

[2018-03-22 20:59] jb3436 commented on #29
Here are my suggestions:
As part of this process, I played around with the width of the line. The thinner line doesn't look good when the logo is small. I then played with white space and placement of the ICPI.
I am proposing a version with slightly less white space and a "long" version with icpi on the side.

![image](https://user-images.githubusercontent.com/13006198/37798106-1e228ac6-2df2-11e8-

[2018-03-22 21:03] shapaklyak commented on #18
@bowdenj , can you please look into this? Thanks!

[2018-03-22 21:04] jb3436 commented on #29
Recommended next steps:
1) Have ICPI analysts vote on the new logo (with any comments) vs. old logo and
2) Present it to leads and Irum.

[2018-03-22 21:55] shapaklyak commented on #9
completed/transferred to OCM --> reorg to clusters

[2018-03-22 21:55] #9 closed

[2018-03-22 22:46] shapaklyak commented on #14
Updated version: includes section for indicating relevant ICPI objectives, membership & roles, status of activity. @KatieOC @bowdenj @achafetz please update your section by Monday 3/26 @ 2pm (preferably COB Friday) so the cluster presentation can be updated accordingly.

Also think through where DIV is going next...we've got a few things started and going, but what can we do to further ICPI object

[2018-03-23 15:54] hessionra commented on #21
@shapaklyak update on SharePoint issues!

Bullet 3: Currently you cannot set alerts for folders. Carlos is looking into this as an option, but doesn't know if it is one/can be implemented.
Bullet 4: The "bread crumb" feature is a larger SharePoint issue and Natasha is looking into if it can be done site-wide. However, since most groups don't have the ~extensive~ folder organization that we have, m

[2018-03-23 16:41] shapaklyak commented on #21
thanks for the update @hessionra

[2018-03-23 17:51] shapaklyak commented on #26
[VizLibrarySurvey_20180207v2_en.docx](https://github.com/ICPI/DIV/files/1842845/VizLibrarySurvey_20180207v2_en.docx)

last version i have

[2018-03-23 18:19] KatieOC commented on #14
@shapaklyak as discussed, my edits are here. Please feel free to change any of the red text.
[DIV_Workplan_20180322_v2_ko edits.xlsx](https://github.com/ICPI/DIV/files/1842956/DIV_Workplan_20180322_v2_ko.edits.xlsx)

[2018-03-23 19:55] hessionra commented on #21
Hi everyone!

Here are some steps to set up an alert on a library, folder,or document.

Go to the SharePoint library or list where you would like to set the alert. Do one of the following:
1. To set an alert for the entire library or list: Click Library or List tan and then click Alert Me, and then click Set alert on this library.
2. To set an alert for a Item, first select the item (document or f

[2018-03-23 20:28] shapaklyak commented on #21
I just set up an alert for the DIV folder using step 2 above, and got the below email. I also did "Connect to this Document Library" and got a section in my Outlook that now shows any new updates to the ICPI folder on pepfar.net :)

![image](https://user-images.githubusercontent.com/5234106/37851935-1528f818-2eb7-11e8-8dde-add57b816606.png)

![image](https://user-images.githubusercontent.com/52341

[2018-03-23 20:38] bowdenj commented on #43
Updated list for Q2 on SharePoint DIV folder and updated version attached here.
[Q2 FY18 Panorama Request List_DRAFT_20180323.xlsx](https://github.com/ICPI/DIV/files/1843414/Q2.FY18.Panorama.Request.List_DRAFT_20180323.xlsx)

[2018-03-23 20:55] bowdenj commented on #14
Hi @shapaklyak - my edits added to Katie's version. Let me know if there are any questions.
[Copy of DIV_Workplan_20180323_v2_ko.jrb.xlsx](https://github.com/ICPI/DIV/files/1843469/Copy.of.DIV_Workplan_20180323_v2_ko.jrb.xlsx)

[2018-03-26 17:12] bowdenj commented on #37
Hi @KTmonkey - Thanks for your patience. There is one follow-up question from the development team regarding the first item on your list.
Copying the ticket I put in to the developer repo here:
"The original requirements for the VMMC dashboard were to compare the current quarter with the same quarter in previous fiscal years. So that means we should be comparing FY16 and 17 Q1 with FY18 Q1, rather

[2018-03-26 17:49] bowdenj commented on #37
Thanks, sounds good!

[2018-03-26 18:20] KTmonkey commented on #37
Hello!

I received an email from Carlos and this is what we would like to ask for:

Can the default view be such that the current time period is displayed to the current time period from last year? So in Q2 for example, the default view would be FY17 Q1 and Q2 next to FY18 Q1 and Q2?

Then from there users can use the toggle feature and make it show whatever they want.

KT

From: Jessica Brown <no

[2018-03-26 21:31] jb3436 commented on #29
Explored 1. Greyscale, CAPS, and Ribbon size with folks who gave additional comments and I sugegst adding the following three to the voting options.
![image](https://user-images.githubusercontent.com/13006198/37934199-78614db6-311b-11e8-9b47-b14dd3b6cad4.png)

[2018-03-26 21:38] bowdenj commented on #37
Thanks, @KTmonkey !

That seems reasonable. Sent a note to the developers to check, but it seems like that might be a good compromise. Will get back to you here once the team confirms.

[2018-03-26 21:41] shapaklyak commented on #46
updated version, please review for DIV call on 3/27 @ICPI/div

[DIV.SoW_20180326.docx](https://github.com/ICPI/DIV/files/1849644/DIV.SoW_20180326.docx)

[2018-03-26 21:41] shapaklyak commented on #14
updated version included above comments, please review for DIV call on 3/27 @ICPI/div
[DIV_Workplan_20180326.xlsx](https://github.com/ICPI/DIV/files/1849645/DIV_Workplan_20180326.xlsx)

[2018-03-27 12:36] KTmonkey commented on #46
[DIV.SoW_20180326_KI.docx](https://github.com/ICPI/DIV/files/1851985/DIV.SoW_20180326_KI.docx)
made some comments

[2018-03-27 19:47] #44 closed

[2018-03-27 19:52] kschlenker commented on #14
Added my membership info
[DIV_Workplan_20180326.xlsx](https://github.com/ICPI/DIV/files/1853558/DIV_Workplan_20180326.xlsx)

[2018-03-27 22:25] shapaklyak opened #47 "Draft DIV presentation for leads"
@achafetz @bowdenj @KatieOC @noahbartlett @neu6 @kschlenker @abrahamagedewICPI
please see updated version

[ICPI DIV Cluster Presentations to Leads_20180327.pptx](https://github.com/ICPI/DIV/files/1853997/ICPI.DIV.Cluster.Presentations.to.Leads_20180327.pptx)

[2018-03-27 22:26] shapaklyak commented on #46
@ICPI/guidance-capacity-building @ICPI/business-intelligence-system-coordination @ICPI/visualization-library-stakeholder-engagement @kschlenker @abrahamagedewICPI @neu6

please see updated DIV SOW

[DIV.SoW_20180327.docx](https://github.com/ICPI/DIV/files/1854002/DIV.SoW_20180327.docx)

[2018-03-27 22:28] shapaklyak commented on #14
thanks @kschlenker
@achafetz @KatieOC @bowdenj @noahbartlett @neu6

please see updated DIV workplan

[DIV_Workplan_20180327v2.xlsx](https://github.com/ICPI/DIV/files/1854008/DIV_Workplan_20180327v2.xlsx)

[2018-03-28 16:18] achafetz commented on #47
I think this looks great. The only thing I would add is on the slide 13, one of the challenges is lack of clarity around responsibilities with other parts of the coordination cluster, eg coordinating training (ICEE), data roles (DAQ), etc.

[2018-03-28 17:22] cnichols3h opened #48 "Q2 Panorama Request: addition to TB/HIV Prevention and Screening Visual"
I am requesting to alter a visual that is currently in Panorama.  I am requesting to add the FY18 targets to the TB/HIV Prevention and Screening Visual.  Specifically, the FY18 results will stay the same for this visual, but I would like to add the target values (represented as a small horizontal line) above the column bars (which currently show the results).  I am requesting that the change be ma

[2018-03-28 17:33] cnichols3h opened #49 "Q2 Panorama Request: questions on TB/HIV visuals & updates for Q2"
I wanted to double check that the TB_STAT/ART visual will be updated automatically with FY18 Q2 data when the new data is final.  Is this the case?  Is this also the case for the TB/HIV Screening visual?  These are reported at Q2 and Q4 only, which is why I wanted to check.  I am hoping so.  Thanks!

On another note....If it will still be possible for an individual to view the FY17 Q2 and Q4 data

[2018-03-28 17:51] imujawar commented on #14
[DIV_Workplan_20180327v2_IM.xlsx](https://github.com/ICPI/DIV/files/1857046/DIV_Workplan_20180327v2_IM.xlsx)

Please find attached updated file with my % contribution and membership details.

[2018-03-28 18:30] bowdenj commented on #36
Katya and I looked into linking documents on wikis, and we thought it might make more sense to put this in SharePoint. Here's the link:
https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FDIV%2FProjects%2FAnalytic%20Work%20Spaces&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C

[2018-03-28 18:43] bbaack commented on #14
[DIV_Workplan_20180327v2_BB.xlsx](https://github.com/ICPI/DIV/files/1857251/DIV_Workplan_20180327v2_BB.xlsx)

Updated with my % contribution and details.

[2018-03-28 19:02] shapaklyak commented on #14
Most recent version here

[DIV_Workplan_20180328.xlsx](https://github.com/ICPI/DIV/files/1857321/DIV_Workplan_20180328.xlsx)

[2018-03-28 19:11] shapaklyak commented on #47
Latest version

[ICPI DIV Cluster Presentations to Leads_20180328.pptx](https://github.com/ICPI/DIV/files/1857359/ICPI.DIV.Cluster.Presentations.to.Leads_20180328.pptx)

[2018-03-28 19:57] achafetz commented on #47
We just need to have a meetings with other coordination sub groups around scope and clarify responsibilities.

[2018-03-28 20:35] kschlenker commented on #8
Who is the intended audience for a best practices document? There is already a user's guide/data dictionary located in the Genie app that covers some of this info.

Given that we have been able to retain FY17 data in the Genie export do we still feel like there is a big need to provide scripts to merge with FY15 & FY16 Fact View data? A more useful set of code might be how to calculate FY17 APR (a

[2018-03-28 21:42] shapaklyak opened #50 "FY18 Q2 Panorama Update requested: OVC Visuals"
@bowdenj @erinschelar posting the **tentative** updates to the OVC Visuals in Panorama for prioritization discussion. This is after a discussion with Gretchen, and the visuals below are being confirmed w/OVC POCs in the Prevention Cluster, including Gretchen.

## 1. OVC SERV results by participation status
   a. Adding a participation status pie-chart to visualize proportions (waiting on confirmed

[2018-03-29 13:22] shapaklyak commented on #14
Updated Version with all LOEs

[DIV_Workplan_20180329.xlsx](https://github.com/ICPI/DIV/files/1860234/DIV_Workplan_20180329.xlsx)

[2018-03-29 13:24] shapaklyak commented on #47
Updated slides 3,8,10,13

[ICPI DIV Cluster Presentations to Leads_20180329.pptx](https://github.com/ICPI/DIV/files/1860241/ICPI.DIV.Cluster.Presentations.to.Leads_20180329.pptx)

[2018-03-29 13:28] shapaklyak opened #51 "ICPI Strategic Objective icons used for Clusters Presentation"
## [ICPI Strategic Objectives Icons_20180328.pptx](https://github.com/ICPI/DIV/files/1860245/ICPI.Strategic.Objectives.Icons_20180328.pptx)

**From [The Noun Project](https://thenounproject.com/)**

### 1)    Increase engagement   with field teams

![noun_753639_cc](https://user-images.githubusercontent.com/5234106/38091269-0b602f06-3333-11e8-930f-72712a94c41d.png)

### 2)    Be a   forum for acti

[2018-03-29 13:30] shapaklyak commented on #51
fyi: @bowdenj @kschlenker @abrahamagedewICPI @kkale25 @hessionra @jb3436 @Yabayabadoo @ICPI/guidance-capacity-building @ICPI/business-intelligence-system-coordination

[2018-03-29 13:35] achafetz commented on #14
Updated Version
[DIV_Workplan_20180329.xlsx](https://github.com/ICPI/DIV/files/1860294/DIV_Workplan_20180329.xlsx)

[2018-03-29 14:50] KTmonkey opened #52 "Pano request from Prevention Cluster (VMMC) - view multiple mechs (or SNUs) side-by-side"
Would it be possible to create functionality to view multiple mechanisms or SNUs simultaneously, side-by-side?

Currently you have to select Mech (or SNU) A, look at the data and then if you want to see Mech (or SNU) B, you have to change all the visuals. You can't look at A and B simultaneously, side-by-side

This request is coming from VMMC, but would be very helpful for other program areas.

[2018-03-29 14:53] KTmonkey opened #53 "Pano request from Prevention Cluster (VMMC) - include all VMMC Disaggs in all VMMC related visuals"
VMMC_CIRC has 4 disaggregates -
1) age - fine and priority
2) Technique
3) Follow up*
4) Testing Status

currently priority age bands and follow up are in the visuals. we would like to have all disaggregates available in the visuals.

* This comes from VMMC_CIRC and VMMC_CIRC_Followup depending on the time period

[2018-03-29 14:57] KTmonkey opened #54 "Pano request from Prevention Cluster (VMMC) - add tables under/beside the graphs showing data"
We would like the VMMC visuals to have an accompanying table that shows the values int he graphs.

Example below:

![image](https://user-images.githubusercontent.com/34682571/38096094-022174ec-3340-11e8-8844-38d97a26f980.png)

[2018-03-29 15:00] KTmonkey opened #55 "Pano request from Prevention Cluster (VMMC) - toggle between number and proportion"
Would it be possible to add a toggle feature to switch between the graphs that show the # of results and the results by proportion? This would be helpful to reduce the number of graphs on the page.

[2018-03-29 15:01] KTmonkey opened #56 "Pano request from Prevention Cluster (VMMC) - view multiple mechs (or SNUs) side-by-side"
related to ticket #54 , would it be possible to export the graphs (with data tables) to excel?

[2018-03-29 15:07] KTmonkey opened #57 "Pano request from Prevention Cluster (VMMC) - Country selection(s) unclear"
It's very confusing to determine which country/ies are selected. In the screenshot in the reference document, you can see that Malawi is selected in the blue heading, but then all the OUs are selected in the filter...could the one that doesn't drive things be hidden or disabled?

See Specific Issues nbr 1 in Reference Document:

https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems

[2018-03-29 15:10] KTmonkey opened #58 "Pano request from Prevention Cluster (VMMC) - fine age bands not included in search feature"
when typing 'vmmc' into the dashboard search function, the vmmc dashboards populate as well as the disaggregate&Narratives. But the Age/Sex Disaggregate Tables do not show up. It makes it seem like there are no fine age/sex disaggs in Pano for VMMC. Could the settings be changed so that the table with the fine age bands appears when vmmc is searched?

See Specific Issues nbr 2 in Reference Documen

[2018-03-29 15:14] KTmonkey opened #59 "Pano request from Prevention Cluster (VMMC) - no way to toggle to SNU or IM"
See the screenshot in the reference document because I'm not actually sure which dashboard the issue is on (sorry!)

But the tab at the top says it's an 'OU, SNU and IM Analysis' visual, but the filter to the left doesn't actually include options for selecting SNUs or IMs. At the least it's confusing, but adding the functionality would be very nice.

See nbr 3 in the specific issues section of the

[2018-03-29 15:18] KTmonkey opened #60 "Pano request from Prevention Cluster (VMMC) - display of disaggregates in the additional disaggregates table"
There are a couple of issues with VMMC in this table-

1) Can the default and male lines be collapsed? It's the same data, the name just changed in 2018
2) follow up should be displayed and calculated using the new vmmc_circ_followup variable and we want it to use yes/no, not show follow up by technique type

See nbr 4 in the specific issues section of the reference document:
https://www.pepfar.ne

[2018-03-29 16:14] achafetz commented on #29
@jb3436, uploaded larger and higher res images for voting into the [Documents/LogoOptions folder](https://github.com/ICPI/DIV/blob/master/Documents/LogoOptions/VotingOptions.zip).

Click the Download button in the upper right to download and view.

[2018-03-29 16:31] bowdenj commented on #56
Hi @KTmonkey - thanks. I'm going to add this requirement into the other ticket (#54) rather than keeping it separate, because including an export option is generally a requirement for any Pano visual update

[2018-03-29 16:31] bowdenj commented on #54
Addition from @KTmonkey previously in other ticket, now part of this requirement:

Would it be possible to export the graphs (with data tables) to excel?

[2018-03-29 16:32] bowdenj commented on #56
Closing this out now that comment has been included in other ticket.

[2018-03-29 16:32] #56 closed

[2018-03-29 16:36] bowdenj commented on #59
Thanks, @KTmonkey - for reference for us for the future, looks like this is on the Global ("All PEPFAR OUs") dashboard

[2018-03-29 16:38] bowdenj commented on #59
We would need to check with developers for this request--if dedup mechanisms are included, we should update the header to match the OU/SNU page so that it just says OU & SNU analysis. If dedup is not included, we can keep as-is. A toggle is going to be tough when talking about mechanisms, because we don't dedup mechanism-level data. Therefore, it pulls from a different back end dataset. So this ma

[2018-03-29 16:44] KTmonkey commented on #59
of course Panorama is down right now for Maintenance so I can't look.But I feel like in other dashboards when the tab at the top says OU, SNU and IM analysis there is actually the ability to change the filters to make those selections. I could be imagining that though. Hard to say.. But clearer labeling at a minimum would be appreciated.

[2018-03-29 16:48] bowdenj commented on #49
Hi @cnichols3h - Yes, the visual will be automatically updated with FY18 Q2 data. Until then, it is showing FY17 Q4 data.

On your second question, I'm adding a place for that in our Q2 prioritization list. Thank you!

[2018-03-29 16:51] bowdenj commented on #59
@KTmonkey - Pano should not be down for maintenance. That message is letting you know that it *will* be down for maintenance on Monday

[2018-03-29 16:53] bowdenj commented on #59
I believe where we left this is that it says OU, SNU, & IM analysis on the Partner/Mech version of this dashboard. It shouldn't say that for the OU/SNU level dashboard--or if it does, it shouldn't. I don't think you can toggle between partner and non-partner data on the OU/SNU dashboard. Agreed that better labeling to show what's actually available on the page would help a lot.

[2018-03-29 16:53] cnichols3h commented on #49
@bowdenj thank you!

[2018-03-29 16:54] bowdenj commented on #43
Thanks all for putting in tickets! Attached is the updated list for prioritization. We'll prioritize rows 3-18 with what was already on the list from Q1.
Looking forward to talking with you all shortly.
[Q2 FY18 Panorama Request List_DRAFT_20180329.xlsx](https://github.com/ICPI/DIV/files/1861089/Q2.FY18.Panorama.Request.List_DRAFT_20180329.xlsx)

[2018-03-29 17:21] cnichols3h commented on #48
One additional note:  In addition to adding lines that represent the FY18 targets to the TB/HIV screening visual, please add a row of these same target values to the data table directly below the visual (below the data values for results).  Thank you.

[2018-03-29 17:24] shapaklyak commented on #50
priority list:
 1) participation status views,
2)results by age/sex, and
3) ovc_hivstat

Also, see slides with supplemental info if needed.
[OVC Visuals FY18 Q2 proposals_20180328 redacted.pdf](https://github.com/ICPI/DIV/files/1861200/OVC.Visuals.FY18.Q2.proposals_20180328.redacted.pdf)

[2018-03-29 18:18] bshook commented on #14
Updated to include analytic workspace SOW.
[DIV_Workplan_20180329v2.xlsx](https://github.com/ICPI/DIV/files/1861385/DIV_Workplan_20180329v2.xlsx)

[2018-03-29 18:50] bshook commented on #47
Overall this looks great- be sure to mention that the actual workplan links every single activity back to the ICPI strategic objectives (this is different than the other groups).

@bowdenj are you able to join tomorrow? It may be an opportunity to discuss the staffing gaps under BI. If you are not able to join is this something we want brought up? tagging @shapaklyak since she was there for this c

[2018-03-29 19:17] shapaklyak commented on #14
thanks @bshook

[2018-03-29 19:52] shapaklyak commented on #47
@kkale25 , thanks for taking a look & comments too!
1. removed ICPI, no problem
2. made the icons smaller
3. there are references to the ICPI objectives in the slide directly before (slide 11 now) so i'm hoping these additional examples or different way of presenting is okay.
4. thanks for catching that!
5. makes sense, the emphasis is more on that we need to continue having the Coordination Clust

[2018-03-30 12:48] shapaklyak commented on #47
slight tweaks to formatting and PDF'd to avoid any powerpoint/adobe issues. Also added screenshot of GitHub in case some folks aren't up to speed :)

[ICPI DIV Cluster Presentations to Leads_20180329_v4 PDF.pdf](https://github.com/ICPI/DIV/files/1863585/ICPI.DIV.Cluster.Presentations.to.Leads_20180329_v4.PDF.pdf)

[2018-03-30 14:08] KTmonkey commented on #57
update on the ticket this am:

Thomas Hancock (PEPFAR-panorama)
Mar 30, 10:04 EDT
Hello again Katie,

Here is an update from the advanced team-

Thanks for the feedback. We have created a ticket for the development team and your request will be considered for a future release.

Have a good weekend and thanks again for your observations and helping us make Panorama even better.

Regards,
Thomas
Pan

[2018-03-30 15:32] shapaklyak opened #61 "Standing up a new tool"
follow up from presentation to Leads:
- keeping in mind the field perspective

Re workplan row 62: "I am looking for guidance on best practices for standing up a new tool. It would include the materials that are already posted on how to best create visuals but am seeking input on how best to organize when standing up a new tool. Do you pull together an advisory group? what is ideal size? are there

[2018-03-30 18:55] shapaklyak commented on #18
Reference: [list of free tools ](https://www.digitalgov.gov/resources/negotiated-terms-of-service-agreements/ )that have federal-compatible Terms of Service agreements.

[2018-04-02 12:18] KTmonkey commented on #59
update from Zendesk

Hello Katie,

Here is an update from the advanced team-

This issue has now been updated in the Panorama development site. It will be included in the upcoming release scheduled for 4/2/2018. Thank you.

Have a good weekend,
Thomas
Panorama Support team

[2018-04-02 14:29] bowdenj commented on #37
@KTmonkey - After Pano goes live today, the above issues should be fixed. However, it would be very helpful to have confirmation from you that they all look good and the updates check out. After the notice goes out that Pano is live (expected sometime between COB and EOD today), can you please take a look over the coming days? If it looks good, I'll close this ticket. If additional updates are nee

[2018-04-02 14:30] bowdenj commented on #38
Hey @cnichols3h @KatieOC - I believe this was intended to be a programmatic question. Can you confirm whether this issue is being addressed in another forum or whether you would like for this to stay open?

[2018-04-02 14:33] bowdenj commented on #59
Hi @KTmonkey - This is another one that should be fixed in the release later today. Please confirm here over the next couple days to indicate whether this has been fixed or whether it needs additional attention. Thanks!

[2018-04-02 14:34] bowdenj commented on #43
DIV submitted tickets in this list for prioritization include:
#48, #49, #50, #52, #53, #54, #55, #59, #60

[2018-04-02 14:49] KTmonkey commented on #59
Sure thing, I’ll check our issues that should be fixed and update the tickets. Planning to do that tomorrow.

From: Jessica Brown <notifications@github.com>
Sent: Monday, April 2, 2018 10:34 AM
To: ICPI/DIV <DIV@noreply.github.com>
Cc: Izenour, Katherine (Katie) (CDC/CGH/DGHT) (CTR) <viq4@cdc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [ICPI/DIV] Pano request from Prevention Cluster (V

[2018-04-02 14:57] bowdenj commented on #59
Awesome, thanks Katie!

[2018-04-02 15:01] #20 closed

[2018-04-02 16:41] KatieOC commented on #38
@bowdenj this is not being addressed in another forum mainly because I haven't taken it anywhere else. @HoustonJamie what are your thoughts on this and what is the right forum for this discussion?

[2018-04-02 16:56] HoustonJamie commented on #38
@bowdenj @KatieOC I think there are two forums that make sense and are somewhat separate.   For this group to follow up on: Can someone check when pano is back up around whether the HTS visuals/tables have been modified to address this comment? If not suggest it should be added to Q2 list.  Separately, @abrahamagedewICPI  given the proposed changes to the structured dataset for Q2 from the DAQ, wo

[2018-04-02 18:25] bowdenj commented on #43
Hi All--Updates from today's meeting attached here. Please comment on this ticket with any proposed updates *before 5:00PM today* so we can continue the conversation ahead of tomorrow's integrated prioritization. Thank you!
[Q2 prioritization_04012018_v3.xlsx](https://github.com/ICPI/DIV/files/1868933/Q2.prioritization_04012018_v3.xlsx)

[2018-04-02 21:32] shapaklyak commented on #21
@hessionra can you please include this on OCM's next inbrief slide (your earlier comment/instructions).
fyi @kschlenker @ICPI/div @jb3436

Here are some steps to set up an alert on a library, folder,or document.

Go to the SharePoint library or list where you would like to set the alert. Do one of the following:

To set an alert for the entire library or list: Click Library or List tan and then cl

[2018-04-02 21:32] #21 closed

[2018-04-02 22:30] bowdenj commented on #43
Hi all - all requests put into the developer's Analytics repo today. The relevant numbers can be found in column I for anyone with access to that repo. The prioritization included on that repo is in column B here. Note that references a - c were not listed as ICPI priorities, but rather as Q2 priorities for which we can collaborate on solutions with PRIME.

[Q2 prioritization_04012018_v4.xlsx](htt

[2018-04-03 12:34] KTmonkey commented on #37
I'm reviewing now, some things fixed...have some new problems. Will update ticket shortly

[2018-04-03 13:03] KTmonkey opened #62 "data date in pano"
On the VMMC dashboards and I assume on others, the 'Date of DATIM Q1 Results PUll:' says 2/15/2018. That's the unclean data release. Should it be updated with the clean data pull? Also, the red text at the top says '**Prelminiary Data Analysis'...should this be final?

![image](https://user-images.githubusercontent.com/34682571/38250849-d6858f62-371d-11e8-97a1-6aba662f8655.png)

[2018-04-03 13:16] bowdenj commented on #62
Yep, sent both to the developers. Thanks.

[2018-04-03 13:32] KTmonkey commented on #37
findings in reviewing the vmmc dashboards:

related to the first issue in the original ticket above; what happened to the FY15 year option for table 1?

![image](https://user-images.githubusercontent.com/34682571/38252107-5631e064-3721-11e8-9aa8-abd17837a704.png)

[2018-04-03 13:43] bowdenj commented on #37
Hi Katie,

My understanding is that he FY15 filter is set up to only show if there is data for that year, which many OUs do not have. Can you check for an OU that does have FY15 data? If it's still not showing up, I'll ask the developer what's going on.

[2018-04-03 13:44] bowdenj commented on #37
I'm a little confused--is the most recent comment just a copy/paste of the original, with some but not all of the issues addressed? Is FY15 the only issue, or are you still seeing things like titles not showing the correct time periods per the bottom comments?

[2018-04-03 16:18] shapaklyak commented on #46
Latest version

[DIV.SoW DRAFT_20180328.docx](https://github.com/ICPI/DIV/files/1872399/DIV.SoW.DRAFT_20180328.docx)

[2018-04-03 16:24] shapaklyak commented on #14
Latest version

[DIV_Workplan_20180402.xlsx](https://github.com/ICPI/DIV/files/1872425/DIV_Workplan_20180402.xlsx)

[2018-04-03 16:52] kschlenker opened #63 "Labels for DIV Library"
**Red**
High Priority
Bug (Something isn't working)
Enhancement (New feature or request)

**Purple**
Status: Completed
Status: In Progress
Status: Needs QC/Review
Status: On Hold

**Teal**
Subgroup: BI
Subgroup: GCB
Subgroup: Knowledge Mgmt

**Rose**
Cluster: Above SDP
Cluster: Diagnosis
Cluster: Prevention
Cluster: Treatment

**NEW COLOR**
Software: R
Software: Tableau
Software: Excel
Software: O

[2018-04-04 17:46] achafetz opened #64 "GCB Current Tasks, Apr 3 - 16"
GCB current topics for work prior to our meeting in two weeks (edit this issue and add your name/tasks below):

- DIV Repo Update
  - [ ] Issue tags (Kristy, Aaron, ....), #63
  - [x] Reorganize ["Code" section](https://github.com/ICPI/DIV) (Aaron, ...)
  - [ ] Additions/Reorganize Wiki (...)
  - additional items?

- Style Guide (limited to just charts/visuals?)
  - [x] Develop [ICPI color](https:

[2018-04-04 21:30] achafetz opened #65 "Presenting the color palette"
Thinking about a view ways to present the [color palette](https://github.com/ICPI/DIV/tree/master/Documents/Color) (in PDF from as a . Some examples below.

---

![image](https://user-images.githubusercontent.com/8933069/38335517-934b07ee-382c-11e8-807a-d31fd1204379.png)

---

![image](https://user-images.githubusercontent.com/8933069/38335526-99511426-382c-11e8-9db5-f4dbaf6c46ed.png)

---

![imag

[2018-04-04 22:31] #47 closed

[2018-04-04 22:31] shapaklyak commented on #51
@achafetz want to take a stab at these as part of ICPI branding?

[2018-04-04 23:02] achafetz commented on #51
iconography? maybe there are best practices of using icons, but I don't want to be overly prescriptive in using icons unless there is a specific need (eg we all agree upon cluster icons).

[2018-04-04 23:04] jb3436 commented on #21
This can also be a part of the e-update for tomorrow.

[2018-04-04 23:12] shapaklyak commented on #51
Ok I'm fine either way ...we can close this out

On Wed, Apr 4, 2018 at 7:02 PM Aaron <notifications@github.com> wrote:

--
Katya Noykhovich, MPH
(913) 206-5718

[2018-04-05 14:29] bowdenj commented on #62
Data date has been updated in live pano. The preliminary data analysis message should be removed moving forward after confirmation with program. Closing this ticket for now, will re-open if any further issues arise.

[2018-04-05 14:29] #62 closed

[2018-04-05 15:54] #51 closed

[2018-04-05 18:26] imujawar commented on #65
These look great. I like them next to each other (so, options 1 or 4), and where the codes are easily copy-pasteable :)

[2018-04-05 19:40] achafetz commented on #65
thanks, @imujawar. We'll include a csv with the same information for analysis purposes. The visual is more around presentation and a quick reference. See the table below.

@bbaack. here's my first take on presenting the color palette with a few different options.
[ICPI_Color_Palette.pptx](https://github.com/ICPI/DIV/files/1881478/ICPI_Color_Palette.pptx)

---
[Color Palette Table](https://github.c

[2018-04-05 20:07] bowdenj commented on #43
Received one point of clarification from Catherine on the TB request today (clarifying which tabs the requests applied to). Updated ticket number 1354 in developer repo and in this spreadsheet (also attached to SharePoint).
[Q2 prioritization_04052018.xlsx](https://github.com/ICPI/DIV/files/1881614/Q2.prioritization_04052018.xlsx)

[2018-04-05 20:08] bowdenj commented on #43
Status/timeline:
First integrated prioritization meeting held 4/3. Second on 4/4. SIMS additional meeting 4/5. Next integration meeting with Jason R sign-off on priorities to be held Monday 4/9.

[2018-04-05 20:11] bowdenj commented on #48
@cnichols3h copying our updated language for the overall request here:
<img width="822" alt="tb request" src="https://user-images.githubusercontent.com/18291396/38389302-89382548-390d-11e8-9a32-9d4cf3077106.PNG">

[2018-04-05 20:16] cnichols3h commented on #48
@bowdenj - excellent. thank you!

[2018-04-05 20:40] achafetz commented on #65
hey @imujawar, @abrahamagedewICPI, I wrote a function to pull in the color palettes of your choice directly into R.

[code]

[2018-04-05 20:48] bbaack commented on #65
@achafetz, I like what you've done. I think it get's a little busy with all three elements. Can we do an informal poll to see which is more useful to analysts? My sense is that you'd need the HEX more often, since once imported to excel, you won't need to continue to look up RGBs and HEX is the standard for R.

Another thought is we could do a combo of what you've created and #4 above, with the na

[2018-04-06 12:34] achafetz commented on #65
Haha! Maybe we should rename the salmon color to "it's not pink, it's salmon" :laughing:

I do think having everything is too cramped. I like the simplicity of just the hex #'s and just proving the [csv doc](https://github.com/ICPI/DIV/blob/master/Documents/Color/ICPI_Color_Palette.csv) for everything else. I have a few things filling up my morning and early afternoon, but will try to play around

[2018-04-06 12:36] achafetz commented on #65
Oh and I pulled all the color names from [Encycolorpedia](http://encycolorpedia.com/), searching the hex number and seeing what color names were close to it.

[2018-04-06 12:42] achafetz commented on #65
Lastly, for documenting purposes, I took advantage of [this useful custom Excel function](https://excelribbon.tips.net/T010180_Determining_the_RGB_Value_of_a_Color.html) to extract the hex/rgb colors into cells rather than having to manually click 20 times through each color to get RBG and then look up its hex online.

![image](https://user-images.githubusercontent.com/8933069/38421811-72ed5b6e-39

[2018-04-06 14:16] bbaack commented on #65
@achafetz Ah, i used [name that color](http://chir.ag/projects/name-that-color/), I like encycolorpedia better. And thanks for sharing the nifty excel tip.

I assume the file you are working on is issue number 3 on the GCB task list. Have you started/do you want me to get started on the color guide? I think fonts/styles will be a little more complicated because we need to think through our recomme

[2018-04-06 14:38] achafetz commented on #65
I actually haven't gotten that far. I only took the first stab at presenting the colors. Maybe we can schedule something next week around the fonts/styles. If you want to jump on mock visuals (I sketch out a few examples I though would be good to include below) or color guide that would be great. Think the two go hand in hand and we can tweak them when we develop out the rest of the style guide. W

[2018-04-06 16:53] jb3436 opened #66 "Inventory of Pano Visualization Pain Points"
Ticket #[1363](https://github.com/pepfar-datim/Analytics/issues/1363) in DATIM/Analytics Repo

Jasmine to coordinate among groups to review Pano dashboards to identify visualization pain points (ie; graph values overlapping, resizing responsiveness, etc). Once a list is created, Pano team will review to provide possible solutions. This information will be used to facilitate discussions in the Data

[2018-04-06 18:24] achafetz commented on #65
@bbaack, I made the updates per your suggestion and think it looks pretty good.

![colorsheme_box](https://user-images.githubusercontent.com/8933069/38437558-d78fd95a-39a5-11e8-8fba-248efc550d73.png)

I also mocked up another version that is circles.  It's less busy. My only problem is I think some of the lighter shades might get lost.

![colorsheme_circles](https://user-images.githubusercontent.c

[2018-04-06 18:41] achafetz opened #67 "Develop mock visuals to demonstrate colors & Style Guide"
We need to demonstrate how colors/styles are implemented. Below are a few ideas for mocking up as examples, similar to [Urban Institute's style guide](http://urbaninstitute.github.io/graphics-styleguide/#examples).

We can get an initial jump on these and them update when we have more detailed info hashed out about fonts/symbology/etc.

![unnamed](https://user-images.githubusercontent.com/8933069/

[2018-04-06 20:58] shapaklyak commented on #41
@bowdenj  the above seems final and no further comments have been provided in the past 2 weeks.
what's the status of this with the Zendesk process?

[2018-04-09 19:57] bbaack commented on #65
@achafetz i like the clean look of the circles, even if the lightest shades get lost just a bit. just seeing your note about the mock visuals. will try to get those started today or tomorrow.

[2018-04-10 14:00] Yabayabadoo opened #68 "Proposal to present Target-based dashboards for Annual Indicators"
There are several annual indicators with required targets. Currently, Panorama presents data from the previous Fiscal Year for these annual indicators. Is it possible to create a dashboard based on targets and/or  differences between previous year results and current fy targets to display from FYX Q1-Q3 until results are submitted.

There are some logistical challenges to doing this; delays in tar

[2018-04-10 14:09] bowdenj commented on #68
Hi Yaa!
Thanks so much for submitting this. To make sure I'm clear, are you talking currently about FY18 targets, or would the request be to see FY19 targets?

[2018-04-10 15:15] shapaklyak commented on #42
can we also discuss what to do about existing repos? would we consolidate them based on the new guidance or what would be the best step forward?

[2018-04-10 15:41] Yabayabadoo commented on #68
@bowdenj Thanks for your quick f/u. If possible, would be good to get FY18 targets in for FY18 Q2 updates. If not, we can wait and roll out for FY18 Q3 (showing  FY18 and FY19 targets because for certain indicators, target setting reqs changed in COP18)?

[2018-04-10 16:25] abrahamagedewICPI commented on #42
This sounds great, I am available tomorrow (4/11) or Thur (4/12) morning.

[2018-04-10 16:37] bowdenj commented on #68
Hi @Yabayabadoo - Makes sense.
In the middle of RPMs, when we realized certain indicators weren't being shown for past years, we added certain semi-annual and annual indicators back to Panorama. This included their FY17 targets, FY17 results, and FY18 targets. It doesn't yet include their FY18 results, of course, but it will starting in Q2 or Q4 depending on the indicator. That currently looks lik

[2018-04-10 17:55] Yabayabadoo commented on #68
@bowdenj Thank you for this update. I can't speak for the other program folks, so would love to hear from @ERottinghaus @KatieOC what they think. For the FY 19 targets, I agree that delays in approval might affect presentation in Pano, if the new import process mitigates that delay, then fine, if not we can leave off.

From a VL standpoint, we'd want less of a tabulation of targets, but really how

[2018-04-10 18:10] bowdenj commented on #68
Hi @Yabayabadoo - Sounds good about FY19 targets, and definitely looking forward to the feedback from others.

For the FY18 targets, I think I understand - so the issue isn't with whether or not the FY18 targets are in Pano at all, but rather how they are displayed, and there are certain calculations that would be helpful for better analysis of those targets. Correct?

Based on your description ab

[2018-04-10 18:17] Yabayabadoo commented on #68
Thanks @bowdenj! Considering this a new dashboard request absolutely makes sense and I appreciate the difficulty with timing. Once @bshook and @shapaklyak comment, would be happy to send leads a request for an AWS build as well as rationale for a need in Pano proper.
Cheers,
Yaa

[2018-04-10 18:37] bowdenj opened #69 "Review Feedback from Leads"
Per today's DIV team meeting, we would like the full team to review the feedback from the Agency Leads from our presentation on Friday 3/30.

You can find our workplan in #14 - the scope of work is in the first tab. You can also find the full deck from our presentation in #47 for your reference.

Please use this space for discussion around the feedback and our proposed next steps. We'll be discuss

[2018-04-10 18:45] bowdenj commented on #68
Thanks @Yabayabadoo ! Looking forward to the feedback.

[2018-04-10 18:46] ERottinghaus commented on #68
The target conversation doesn’t apply to LAB_PTCQI indicator.  Regarding TX_PVLS, we in the lab are less concerned with age/sex disaggregation and more concerned with just the total number of tests targeted which sounds like is already displayed in pano.  I do support the development of a new dashboard to look at capacity vs. tests targeted.

Erin

Erin Rottinghaus, PhD | International Laboratory

[2018-04-10 19:00] shapaklyak commented on #69
notes from today's meeting can be found in the [wiki ](https://github.com/ICPI/DIV/wiki/All-DIV-Meeting-notes)

@ICPI/div please see above task

[2018-04-10 19:50] achafetz commented on #69
Just as a point of order (not to be the GitHub police :octocat: :policeman:), but we shouldn't have final docs in issues; it should only be drafts or temp docs. All living documents should stored in the ["Code" section](https://github.com/ICPI/DIV) of the repo or the [wiki](https://github.com/ICPI/DIV/wiki/All-DIV-Meeting-notes). When closing out the ticket you can point to the location.

[2018-04-10 20:17] shapaklyak commented on #69
good pt @achafetz , and also final docs should be also be posted to Cluster folder in sharepoint.

[2018-04-10 22:39] jb3436 commented on #66
Draft email
--
Dear ICPI Cluster and Team Leads,

We have an opportunity to document “pain points” in panorama visuals and make suggestions to be taken into consideration during a half day “data walk” that Susan is having with Irum in early May. Many “pain points” are likely items that you have already submitted (great!) that may be outstanding. This is an opportunity to think bigger picture about

[2018-04-11 01:28] bowdenj commented on #69
Thanks, @achafetz - you're right!
Posted to SharePoint here for now in our Administration folder - link below - in case others want to view. @shapaklyak can you add to wiki?

https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FDIV%2FAdministration&FolderCTID=0x01200080CC6F83D1766F4D9E3497D4529EC74A&View=%7B94C838

[2018-04-11 14:10] KatieOC commented on #68
@Yabayabadoo @bowdenj  I agree with all your points above. PMTCT has an annual indicator Final Outcome but it is very different from the treatment annual indicators and require a table displaying the disaggs. This is already on the pano list for building in Q3 with hopes of displaying in Q4.  I support to proposed additional dashboard to view data and agree that it could have a good impact on POAR

[2018-04-11 14:37] KatieOC commented on #66
@jb3436 reading through this and knowing that it is coming to me to do for Treatment, I actually think I could do a better job at this sitting in a room with folks walking through dashboards, bouncing ideas off each other. It would be ideal to have Diagnosis and Treatment together but then again, I think there are benefits of having Prevention, GIS and SIMS part of the discussion as well. Now this

[2018-04-11 14:47] jb3436 commented on #66
@KatieOC - that sounds like a great suggestion.  I can send this email out and add that we will schedule a working meeting to do some of this together to break down silos. So in advance of the meeting, analysts should have our assignments and then we can go through our general suggestions that cross technical areas.

[2018-04-13 20:08] shapaklyak commented on #42
let's use this space as brainstorming ideas until we can have a conversation about it.

things to add:

-  use the GitHub projects classification to track issues related to one project; for example, tag all issues related Panorama Requests under BI project; another option for DIV, would be to create Projects by Sprints...so we have the April 3-16 sprint (#64) that could be made into a project for

[2018-04-14 20:30] achafetz commented on #67
Below is a first go at mock visuals. I've also [attached the Excel file](https://github.com/ICPI/DIV/files/1911026/Example.Graphs.xlsx) to mock up different fonts/size/etc.

![mock_charts](https://user-images.githubusercontent.com/8933069/38772292-038676f2-4001-11e8-8653-ce2ab29694a8.PNG)

[2018-04-16 15:58] achafetz commented on #67
[Adding additional visuals](https://github.com/ICPI/DIV/files/1916162/Example.Graphs.xlsx) as options to work from.

[2018-04-16 20:44] imujawar commented on #65
Just wanted to share some 'real-life' visuals I did in R using the color palette you guys provided! Thanks so much for sharing!
![image](https://user-images.githubusercontent.com/18144056/38833837-a1bb1dde-4194-11e8-9abc-ff7a228e09a8.png)
![image](https://user-images.githubusercontent.com/18144056/38833997-17dbb578-4195-11e8-866b-a6b56e81ffa9.png)

[2018-04-17 21:27] achafetz commented on #42
(very) initial draft of best practices stored in [Best Practices folder](https://github.com/ICPI/DIV/blob/master/Best_Practices/Best%20Practices%20-%20GitHub.md).

Meeting scheduled for Thurdsday at 11:30am

[2018-04-17 21:31] achafetz opened #70 "GCB Current Tasks, Apr 16- May 1"
GCB current topics for work prior to our meeting in two weeks (edit this issue and add your name/tasks below):

- Style Guide
  - [x] Provide feedback/own version of mock visuals to Aaron/Brittany (Katya, ....), #67
  - [x] Discussion around components, including typeface, symbology, spacing, dates, etc (Aaron, Britt...)
  - [ ] Start working on write up (Aaron,...)
- Back end of Excel Tools guida

[2018-04-18 16:50] jaliasd commented on #42
Hi Abe,

How are projects defined here? Is that a github-project or just a project
like a task or somethign that the ICPI works on?

My issue with this is that I feel like assumes that github will be used
only as a ticketing system where we want to use it to store and collaborate
on code as well. With the way it's structured now, and with what's
proposed, forking the entire DAQ repo (with however

[2018-04-18 17:48] abrahamagedewICPI commented on #42
@jaliasd, projects in the above diagram are defined as all activities and tasks that ICPI works on. The only concern I have in creating project based repos is that the ICPI GH space will be extremely messy if folks start creating repos for the projects that they are working on (I get that ppl would need to fork the entire repo and update only the files that they are working on but I believe that i

[2018-04-18 18:03] achafetz commented on #42
let's put a pin in this conversation until we meet tomorrow, but let's take this time to think about what our asks/requirements are versus how GitHub is structured and it's purpose.

[2018-04-18 18:31] shapaklyak commented on #2
@achafetz is this related to back-end of tool development?

[2018-04-18 18:55] shapaklyak commented on #70
Regarding bullet 2 on **Back end of Excel Tools guidance**
-  here's the [list of previous & current tools/builders](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2fOGAC%2dHQ%2ficpi%2fShared%20Documents%2fICPI%20Tracker%20Tool&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691); out of date, but suggest we send out to all

[2018-04-18 19:08] shapaklyak commented on #69
Please review @achafetz @bowdenj @KatieOC
 [DIV responses](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FShared%20Documents%2FClusters%2FDIV%2FAdministration&FolderCTID=0x01200080CC6F83D1766F4D9E3497D4529EC74A&View=%7B94C838B2-E166-4122-B8B4-7BEB9E1BC12B%7D&InitialTabId=Ribbon%2ERead&VisibilityContext=WSSTabPersistence) and add comments o

[2018-04-18 19:15] achafetz commented on #2
Nope! Had no desire to get into back-end in November. The purposes was essentially a combo of library and style guide. I can rename.

[2018-04-18 19:31] shapaklyak commented on #70
@achafetz Thursday works for me. fyi..i'm out of office 4/24-27, and then on AL 4/30-5/2, could we do it on 5/3 if others are available?

[2018-04-18 19:33] achafetz commented on #69
minor comments added.

[2018-04-18 19:37] achafetz commented on #70
When is the Q2 structured dataset released? This should probably happen well in advance per Jasmine's and other leads' input.

[2018-04-18 19:39] shapaklyak commented on #70
May 22nd

[2018-04-19 15:03] jaliasd commented on #70
@shapaklyak May 25th is what @abrahamagedewICPI said yesterday.

[2018-04-19 17:02] #65 closed

[2018-04-19 17:06] achafetz opened #71 "Add Pano colors to ICPI color palette file"
@imujawar asked for Pano stop light colors the other day. They should be incorporated into the [ICPI_Color_Palette.csv](https://github.com/ICPI/DIV/blob/master/Color_Palettes/ICPI_Color_Palette.csv)

[2018-04-19 17:26] #71 closed

[2018-04-19 17:33] achafetz opened #72 "Color Palette Vlog"
OCM ask to create a vlog on the [ICPI color schemes](https://github.com/ICPI/DIV/tree/master/Color_Palettes).
  - overview
  - location
  - installing in Excel

[2018-04-19 17:39] achafetz opened #73 "Back end of Excel tools guidance"
Need to brain storm topics to discuss during the tool builder and broader Excel user meeting May 5 about what components are needed, how to structure tables/pivots, what should be included etc.

After meeting need to write up the "best practices" for ICPI.

[2018-04-19 20:31] shapaklyak commented on #72
installing in Word and Powerpoint, too? @mehtasp @achafetz

[2018-04-19 20:36] achafetz commented on #72
You only need to install in one MS location and then it works across the entire suite :stuck_out_tongue:

[2018-04-19 21:04] shapaklyak commented on #72
ahh... ok.   maybe @mehtasp you can mention on that the vlog for ppl like me who forget :)

[2018-04-20 13:48] jb3436 commented on #66
**Update:** No longer doing inventory of pain points at this time.

Jasmine and Susan discussed the data walk and Susan suggested that the pain points discussion happen organically during the data walk. The exercise may be better timed once the workspaces goes live and there is a need to look holistically at the new platform.

**Top pain points:**
1. Lack of universal filters
2. Lack of scrolling

[2018-04-20 13:48] #66 closed

[2018-04-20 14:26] achafetz opened #74 "Git testing talk"

[2018-04-20 14:27] achafetz commented on #74
This relates to [DAQ Issue 23](https://github.com/ICPI/DAQ/issues/23)

[2018-04-20 15:17] achafetz opened #75 "Discuss about posting current tools list to Github"
Is there value in posting the [current tool list](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2fOGAC-HQ%2ficpi%2fShared%20Documents%2fICPI%20Tracker%20Tool&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691) to Github (markdown format)? Will it be maintained?

[2018-04-20 18:40] shapaklyak commented on #72
@mehtasp can do you do an initial recording & share by middle next week so we can review/edit as needed?

[2018-04-20 18:45] mehtasp commented on #72
I can try to. My fisher price laptop is acting up with excel, so maybe word will be easier. Will update once I get the chance.

[2018-04-20 18:50] achafetz commented on #42
During our meeting today, we decided to set aside the broader best practices for GitHub and really focus on the question of when to create a repository. See the [best practices document posted](https://github.com/ICPI/DIV/blob/master/Best_Practices/Best%20Practices%20-%20GitHub%20Repos.md) to the Documents folder and __please provide commit any edits/comments/feedback to the md file__. :checkered_

[2018-04-20 19:25] jb3436 commented on #42
@achafetz , I suggest highlighting this (with a screenshot perhaps and a link) during the inbrief.

[2018-04-20 20:00] shapaklyak commented on #73
- use of pivot tables vs. formulas, drop-downs and what works best and where
- ease of updating tools in terms of set up

maybe can talk about things Backend fails?
- set up of static tables that are based on multiple pivot tables per tab
- no documentation

[2018-04-23 16:03] shapaklyak commented on #72
@shazadahmed10 can work with you on this...or take it on giving computer issues.
@hessionra can give you adobe connect instructions or you can use another screencast platform.

vlog should be no more than 3 min.. basic task is to review what it is, how to find the instructions, download, setup/installation and where to see the color palettes once you open Excel.  The instructions document should h

[2018-04-23 16:36] shapaklyak commented on #67
@achafetz @bbaack this looks great. I like sample 1, 2, and 4. Not so much of 3, something about the Courier New font.

Suggestion for how to apply the color palettes/visuals to existing tools, or even creating a graph would be to save the chart as a template that analysts can then pull up and apply to their current visual. For example, it's great to apply the  color palette to an entire workbook,

[2018-04-23 19:28] shazadahmed10 commented on #72
Update:

- @mehtasp will develop power point slide visual aid summarizing instruction steps
- @mehtasp will take first crack at developing script
- Shazad will provide examples of bad color schemes
- We will record on Thursday and disseminate to group

[2018-04-23 19:31] shazadahmed10 commented on #72
Update:

- Shazad will add the examples of bad color schemes to the ppt slide

[2018-04-23 19:56] #74 closed

[2018-04-24 20:52] imujawar opened #77 "Following up on VitaraCharts deployment in Analytic Workspaces"
Follow-up on VitaraCharts deployment in the Analytic Workspaces. VitaraCharts also includes a collapsible table visualization, which maybe useful for many of data tables in tools, in addition to other html widgets.

[2018-04-24 20:59] bowdenj commented on #77
Thanks, @imujawar !

Looking in the developer repo, the last update I see is that the VitaraCharts was undergoing security review. Will keep this ticket updated as updates come through on the developer repo for others with this question.

To expand on this in case others have similar issues, VitaraCharts will allow users to collapse or expand rows and columns in Analytic Work Spaces. Please feel f

[2018-05-01 15:49] shazadahmed10 commented on #72
Ppt slides created for vlog:

[Color Palettes 101 vlog V2.pptx](https://github.com/ICPI/DIV/files/1964282/Color.Palettes.101.vlog.V2.pptx)

[2018-05-01 21:20] achafetz opened #78 "GCB Current Tasks, May 1 - 29"
GCB current topics for work prior to our meeting in two weeks (edit this issue and add your name/tasks below):

- Style Guide
  - [x] Provide feedback/own version of mock visuals to Aaron/Brittany (Katya, ....), #67
  - [x] Purpose section (...)
  - [ ] Chart typology (...)
  - [ ] Color section (...)
  - [ ] Chart types (...)
- Tableau workshop
  - [x] Summarize info from registration and assessm

[2018-05-03 16:57] achafetz commented on #73
- common elements?
- common tabs?
- should tab/cells be hidden/protected?
- should calculation tables all occur in one tab or should it be close to the viewable table?
- does the structure need to match the MER Structured Dataset?
- pre-processing? and when should calculations be pre-processed or calculated within a workbook?
- what should a sheet's extent be?
- what kind of documentation should e

[2018-05-04 18:30] bowdenj commented on #53
@bbaack
The Pano developers are working on a solution for this in the Dev site. They wanted to check on the status so far and make sure this is looking the way it was intended to look. Can you please take a look at the below screen shot from the dev site and let us know if this was not the intention?

For the Follow-Up tab, example for Kenya (note mock data):
<img width="486" alt="vmmc follow up"

[2018-05-07 19:15] shazadahmed10 commented on #72
Update:

- Vlog created and shared with DIV, ICPI.
- Vlog slated to be shared on Thursday May 10

[2018-05-07 20:50] bowdenj commented on #48
Q2 update: As of last week, the developers re-considered the LoE for this request and now believe that it can go in for Q2. Copying email conversation below for reference.

**
From Janice, 5/1:
Renee and I have been working on your requests for changes and additions to TB/HIV dashboards (listed below) and would like to gather your feedback on the updates we’ve made.

1.	Please add the target value

[2018-05-07 20:51] bowdenj commented on #48
**From Catherine, 5/3:
Thank you for your email.  Apologies for my delayed response; I wanted to share this visual with a colleague.

These mock ups are looking very good.  The TB_STAT/ART Cascade correction is great.  That is exactly how we would like it.

For the TB/HIV Prevention and Screening visual, that is very close.  The targets as you have them (small yellow squares) is fine and consisten

[2018-05-07 20:51] bowdenj commented on #48
As of 5/7, development team acknowledged Catherine's feedback and is working on updates.

[2018-05-07 20:52] #49 closed

[2018-05-07 20:57] bowdenj commented on #50
Q2 update: Not determined to be in scope for Q2. However, next on integrated development priority list after TB, which is being worked on. Please stay tuned in case any further descriptions are requested.
Katya/Jasmine ref: https://github.com/pepfar-datim/Analytics/issues/1355

[2018-05-07 21:01] bowdenj commented on #53
Hi @bbaack @kimisatoPC @erinschelar @Couper-T -
Have you had a chance to take a look at the above mockup yet? Please let me know if you have any questions after the review. The development team is hopeful that we can get this request in for Q2, but wants to make sure it's done correctly.

For instance, I would think that you might possibly want to switch this up to have the device-based and surgic

[2018-05-07 21:03] bowdenj commented on #54
Hi @bbaack @Couper-T @erinschelar @kimisatoPC
This is being developed in Pano dev site for Q2. The team got some internal feedback on their mock-ups. They are making updates based on that feedback, then will reach back out to ICPI to confirm. Please stay tuned to provide feedback, which I will copy here.

@jb3436 @shapaklyak ref: https://github.com/pepfar-datim/Analytics/issues/1357

[2018-05-07 21:07] bowdenj commented on #60
This issue was determined to be outside the scope line for the Q2 release. Keeping open for tracking in future quarters.

[2018-05-07 21:09] bowdenj commented on #55
This issue was determined to be outside the scope line for the Q2 release. Keeping open for tracking in future quarters.

[2018-05-07 21:11] bowdenj commented on #59
Fixed in most recent release.

[2018-05-07 21:11] #59 closed

[2018-05-07 21:15] bowdenj commented on #58
This has been prioritized for Q2 and was identified as an issue beyond VMMC alone. The developers have put in code for these dashboards to show up when indicator keywords are typed into the search bar. Plan to deploy for Q2 release.

[2018-05-07 21:25] bowdenj commented on #43
Updated integrated prioritization for Q2 (with scope lines) attached.
[Copy of Q22018 Integrated Prioritization_April 2018.xlsx](https://github.com/ICPI/DIV/files/1981536/Copy.of.Q22018.Integrated.Prioritization_April.2018.xlsx)

[2018-05-07 21:27] bowdenj commented on #39
Hi @abrahamagedewICPI @imujawar -
As we're approaching the 5/22 Q2 release, is DAQ working on updating the MCAD logic document with the new approach for 5-year age bands? Or, will that be captured in separate documentation and we'll sunset the old MCAD logic document? Let me know your plan and we can work with DIV and/or the PRIME data team as needed to update the right documentation.

[2018-05-07 21:29] bowdenj commented on #37
Closing as these items were addressed in the most recent Pano release.

[2018-05-07 21:29] #37 closed

[2018-05-07 21:29] #36 closed

[2018-05-07 21:37] abrahamagedewICPI commented on #39
Hey @bowdenj, we are not making any changes to the MCAD script or logic for the new five year age bands since DATIM data entry screen are mutually exclusive for fine, semifine and coarse age bands. MCAD values will be the sum of the age bands (fine+semifine+coarse). The plan was to update the release notes and data dictionary with the correct guidance on deriving MCAD values.

[2018-05-08 09:30] bbaack commented on #53
@bowenj I am looking at this on my phone, but definitely this will need a few fixes. Follow up status should use the VMMC_CIRC_FollowUp/Total Follow up indicator/disaggregate combo. As of now, the disaggregates for this indicator are being incorrectly calculated in the PDH for FY15/16. Once this is corrected, we will want to look at this as stacked bar charts with the yes/no disaggs across all yea

[2018-05-08 15:15] bowdenj commented on #53
Hi @bbaack -
Thank you very much for the feedback--this is helpful.
A few clarification points would be helpful:
1. When you say "follow-up status should use VMMC_CIRC FollowUp/Total Follow Up indicator/disaggregate combo," is this specific to the FY15/FY16 time period, or all time periods? If there are different indicator/disagg combos that should be used for different years (which I think there

[2018-05-08 15:33] bowdenj commented on #53
@bbaack - with regards to my first question, are the correct calculations the ones spelled out in this DAQ ticket?

https://github.com/ICPI/DAQ/issues/30

[2018-05-08 15:37] bowdenj commented on #39
Right- thank you, Abe!
@kschlenker or @imujawar - has any documentation update been started yet for the release notes or data dictionary? If not, let's coordinate with @pvinayak001 and Stephanie- we definitely break this work out and coordinate over the next day or two before Friday's sitexIM release.

[2018-05-08 16:01] bowdenj commented on #53
Sorry, @bbaack - one more clarifying question:
For the % to total graphs, do you want:
1. "yes" as a percent of total and "no" as a percent of total
or
2. "no" as a percent of total and "yes" broken out to show "device-based" as a percent of total num and "surgical" as a percent of total num?

or another percent calculation?

[2018-05-08 16:52] #14 closed

[2018-05-08 16:52] #26 closed

[2018-05-09 14:11] imujawar commented on #39
@kschlenker @abrahamagedewICPI, lemme know how I can be of any assistance. Thanks, Imran

[2018-05-14 14:43] bowdenj commented on #50
Q2 update: Development team working on this ticket. Copying conversation below for tracking:

*Development team:*
We were able to incorporate all the requests above, except one last item "Results by Age/Sex". For an out of the box solution, I'm not able to separate the bars by age, then cluster by sex, and stack by result/target. What I am able to do are the two options below:

A. Separate by age

[2018-05-14 15:10] erinschelar commented on #50
Thank you for the update. Can you please clarify whether we have the option
to include BOTH these visuals, or do you need us to tell you which visual
we prefer to include?

On Mon, May 14, 2018 at 10:43 AM, Jessica Brown <notifications@github.com>
wrote:

--
*ERIN SCHELAR, MPH, RN*
Data Analysis Advisor, SIEI/SI Team | Office of HIV/AIDS
U.S. AGENCY FOR INTERNATIONAL DEVELOPMENT
Interagency Collab

[2018-05-14 16:14] bowdenj commented on #50
Hey @erinschelar - the development team came up with a compromise: the male/female colors have been hardcoded. The male and female bars are just not clustered. Is that acceptable?
I believe we do need to choose one, not have both, of the options.

<img width="527" alt="ovc hardcode" src="https://user-images.githubusercontent.com/18291396/40009567-ef018ea8-5791-11e8-83bc-5a376b26ad38.PNG">

[2018-05-14 20:01] erinschelar commented on #50
Thanks, we like this compromise option where the male and female are
clustered by age but the targets are included. We'd like to double-check
that the legend included reflects the visual and that the table with the
specific values will still be included.

On Mon, May 14, 2018 at 12:14 PM, Jessica Brown <notifications@github.com>
wrote:

--
*ERIN SCHELAR, MPH, RN*
Data Analysis Advisor, SIEI/SI Tea

[2018-05-14 20:11] bowdenj commented on #50
@shapaklyak copied this message over to the developer's repo. Awaiting his confirmation.

[2018-05-18 16:16] jb3436 opened #79 "Panorama Testing of POART Dashboards FY18Q2"
Dashboard Testing Status
--
Check off below once you have completed the testing of a dashboard. Feel free to update which tabs were completed if you did not finish all tabs in a dashboard.

Use Slack Channel for questions and find the **instructions** for the activity in a PPT [**here** ](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FSh

[2018-05-18 16:34] KatieOC commented on #79
I made some edits to the table to reflect a switch on people assigned. @HoustonJamie @aliyahwakil

[2018-05-18 18:34] shazadahmed10 commented on #79
Hmm, Also, i think the MSD datasets are just PSNU datasets, not PSNUxIM. Can someone else confirm this?

[2018-05-18 18:35] jb3436 commented on #79
@shazadahmed10 - i think you are right. I am using the Uganda one. @abrahamagedewICPI

[2018-05-18 18:38] jb3436 commented on #79
@shazadahmed10 , for the global dashboards, you can still select an OU once in that dashboard. Ideally it should be exactly the same as the OU review you did. I haven't gotten to the global one yet. I'll check back in. Also posting this on Slack.

[2018-05-18 19:10] bowdenj commented on #79
@shazadahmed10 - Thanks - I think you're right. Stephanie is checking the script.

[2018-05-18 19:11] bowdenj commented on #79
Ok - apologies all! We are re-running the scripts for Uganda and Swaziland. For now, please focus testing on OU/SNU and Global - new IM datasets will be posted shortly and I'll announce here when they're up!

[2018-05-18 19:38] bowdenj commented on #79
The Swaziland PSNUxIM dataset has now been posted. Uganda is expected up in about 20 min.

https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC-HQ%2Ficpi%2FProducts%2FICPI%20Data%20Store%2FMER%2FTesting&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC00C3CC873FA325DD44884DEFC36053A859&View=%7B58E3102A-C027-4C66-A5C7-84FEBE208B3C%7D&InitialTabId=Ribbon%2ERead&Visib

[2018-05-21 22:28] bowdenj commented on #79
Hi All - thank you for the continued effort today. Please see the updated tracking document (high-level summaries of issues here).
Please let me know if there is anything I have missed from this tracker.
[Issues Tracker Q2_v0521.xlsx](https://github.com/ICPI/DIV/files/2024275/Issues.Tracker.Q2_v0521.xlsx)

[2018-05-22 15:02] KatieOC commented on #79
@bowdenj if you look at the PMTCT OU dashboard, look at the table. the spacing is slight off in FY18 so the table looks a little warped, Is this worth adding a ticket for this or leave as is?

[2018-05-22 15:21] bowdenj commented on #79
Also adding here what was on the Slack channel this morning: that the Pano release has been pushed to 5/23 (tomorrow) due to a bug in the ETL impacting cumulative results for a number of indicators.

[2018-05-22 16:02] bowdenj commented on #79
Hey @KatieOC - Janice put in a fix for the spacing/alignment. I think it looks better, but please feel free to take a look and confirm.

[2018-05-22 17:25] #72 closed

[2018-05-22 21:08] bowdenj commented on #79
Hi testers! Updated issues document here. Please let me know if you do not see an issue you submitted on this list and you still see it appearing in the dev environment.
[Issues Tracker Q2_v0522.xlsx](https://github.com/ICPI/DIV/files/2028570/Issues.Tracker.Q2_v0522.xlsx)

Thank you all again so much for your hard work!

[2018-05-23 01:44] bowdenj commented on #79
Updated document again. Looks like all issues not documented as known items potentially to be included in the fast-follow (first four rows) have been resolved at this time.
[Issues Tracker Q2_v0522_v2.xlsx](https://github.com/ICPI/DIV/files/2029180/Issues.Tracker.Q2_v0522_v2.xlsx)

[2018-05-23 16:01] #79 closed

[2018-05-23 16:10] bowdenj opened #80 "Pano Q2 Testing Retrospective: Calling All Feedback from Testers!"
Hi @jb3436 @shapaklyak @shazadahmed10 @aliyahwakil @mehtasp @kimisatoPC @KatieOC @pvinayak001 @cnichols3h @bbaack @MicSherlock @HoustonJamie @imujawar - and any others who are interested:

Thank you all so much for the testing you did over the past few days in preparation for the Pano release. Thanks to your testing, we had over 27 issue reports (and many of those reports included a variety of dis

[2018-05-25 13:49] bowdenj commented on #43
Now that Pano Q2 has gone live (5/23), providing final update from Ana and the development team on the list of items that made it into this release.
There were a few associated issues (see ticket #79) lingering that should be resolved by the fast-follow.

However, there were more items that were included than expected after the integrated prioritization meeting. Please see the attached spreadsheet

[2018-05-25 13:49] bowdenj commented on #43
Closing this ticket as Q2 is live.

[2018-05-25 13:49] #43 closed

[2018-05-25 13:54] bowdenj commented on #58
This was resolved in the Q2 release. See below for the dashboards that are associated with the search term "vmmc." In addition, other search terms such as "OVC," "GEND," "HTS" etc are now associated with the age/sex disaggs tab and other related tabs where their indicators appear.
<img width="886" alt="vmmc search" src="https://user-images.githubusercontent.com/18291396/40548074-311fe69c-6023-11e8

[2018-05-25 13:55] #58 closed

[2018-05-25 13:56] bowdenj commented on #57
Received an update on this yesterday. There is not yet a known solution for this issue, but it is being tracked by developers. Putting it in our Pano backlog to raise and prioritize again in future quarters.

[2018-05-25 13:56] bowdenj commented on #54
This was implemented for Q2.

[2018-05-25 13:56] #54 closed

[2018-05-25 13:58] bowdenj commented on #53
This was implemented for Q2.
<img width="443" alt="vmmc disaggs" src="https://user-images.githubusercontent.com/18291396/40548247-b04bae10-6023-11e8-901b-78d05d0c6750.PNG">

[2018-05-25 13:58] #53 closed

[2018-05-25 14:02] bowdenj commented on #50
@shapaklyak - Now that many of these updates are live, I'm going to close this ticket and open a new one specific to the OVC_HIVSTAT updates that were not implemented for this quarter. We can then track that individual request for Q3 or Q4 prioritization without confusing it with what's already been done for Q2.

[2018-05-25 14:02] #50 closed

[2018-05-25 14:07] bowdenj opened #81 "Panorama Update Requested: OVC_HIVSTAT Visuals"
Stemming from the third priority in #50, the OVC team has requested updates to the OVC_HIVSTAT visual.

<img width="515" alt="ovc hivstat_propsal" src="https://user-images.githubusercontent.com/18291396/40548529-83f4b504-6024-11e8-8da1-daff3f47afeb.PNG">

@shapaklyak - please add any additional information needed to this ticket (there was a .pdf of a deck in ticket #50, but I'd like to limit it to

[2018-05-25 14:08] bowdenj commented on #48
This was implemented for Q2.

[2018-05-25 14:08] #48 closed

[2018-05-25 14:10] bowdenj commented on #39
This information about MCAD updates went out in the Q2 release notes and documentation. Closing this ticket.

[2018-05-25 14:10] #39 closed

[2018-05-25 14:12] bowdenj commented on #35
I believe all indicators were included in Q2. Closing this ticket. Feel free to re-open if any issues or want to re-open discussion. Thank you!

[2018-05-25 14:12] #35 closed

[2018-05-29 17:10] shapaklyak opened #82 "Update QC guidance"
[Current template for QC](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FManagement&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D)

per 5/22  [meeting](https://github.com/ICPI/DIV/wiki/All-DIV-Meeting-agenda-and-notes )

[2018-05-29 19:25] bowdenj opened #83 "Create Calendar for DIV BI Pano Requests"
Goal: To align requests for Panorama with the systems release calendar (FY18 calendar located on DATIM support here: https://datim.zendesk.com/hc/en-us/articles/115001940503)

Using timeline followed in Q2 release, populated a draft calendar with the following:
1. Deadline for new Panorama requests to be submitted to DIV following the process on the wiki (https://github.com/ICPI/DIV/wiki/Process-f

[2018-05-30 17:54] bowdenj opened #84 "Panorama Upgrade Testing Support"
Placeholder for upgrade testing to be held June 6-8. Additional information to be provided meeting to be held June 5.

We will be testing the same dashboards as we did in the Q2 testing (#79), but with a more limited scope to make sure that the development site matches the live site. This will help ensure that the functionality and data within the site is not compromised during a MicroStrategy upg

[2018-06-01 15:19] bowdenj opened #85 "Panorama: VMMC Visuals Follow-Up Status FY16 Update"
The update identified by @bbaack with FY16 VMMC Follow-Up Status disaggs was not able to be completed for the 6/1 Pano Q2 fast-follow. Adding it as an issue here so we can prioritize it moving forward.
Not adding screen shots due to public repo, but all FY16 follow-up is currently erroneously being displayed as "No" in Panorama. We would like to fix the calculated indicator.

[2018-06-01 17:40] shazadahmed10 commented on #82
I've uploaded a reviewed version of the document with track changes and comments.
I need help with two things:

- I need a SIMS expert to update the paragraph about QC'ing SIMS data
- If there are any other QC examples, please add them to the QC examples section following the DREAMS example format

[2018-06-05 03:49] shapaklyak commented on #73
Additional notes from 5/03 meeting.

[Backend of tools Notes_2018 05 03.docx](https://github.com/ICPI/DIV/files/2070771/Backend.of.tools.Notes_2018.05.03.docx)

[2018-06-05 13:38] bowdenj commented on #84
Test will include checking whether the following conditions are met in the development site, as compared to the live site:

- Layout displays as expected
- Filter selectors are working and target the correct visualizations as expected
- Panel selectors work as expected
- Exports work as expected
- Legends are displayed as expected
- Thresholds are displayed as expected
- Images/Icons are displayed

[2018-06-05 14:05] bowdenj commented on #84
Timeline: Testing will need to be completed in the Development environment and then again in the Production environment. Note, that we do migrate the ‘issue resolutions’ found in Dev up to Prod before commencing Prod testing to eliminate testing/correcting issues twice.
o	June 6th – 8th:  Test dev environment
o	June 11th – 15th: The dev team will be fixing anything found. Testers who have found is

[2018-06-05 19:50] bowdenj commented on #84
Thanks to all who joined the call today. Our preliminary list of testers for this week is attached.
[Testing Assignments_upgrade_0605.docx](https://github.com/ICPI/DIV/files/2073758/Testing.Assignments_upgrade_0605.docx)

[2018-06-08 19:12] shapaklyak commented on #82
@mehtasp could you take a look for SIMS please?

[2018-06-08 19:37] shapaklyak commented on #82
thanks @shazadahmed10 for taking a first stab. i've taken your version and made a few adjustments.
[QC Guide 06082018 SA KN.docx](https://github.com/ICPI/DIV/files/2085806/QC.Guide.06082018.SA.KN.docx)

@mehtasp can you update the SIMS part when you get a chance using the version linked here? @achafetz @KatieOC additional thoughts/edits?

[2018-06-08 19:45] mehtasp commented on #82
Yup, I can update it by Monday.

[2018-06-11 14:16] bowdenj commented on #84
Thank you all for testing! The developers will now work on resolving the issues you identified with the upgrade. If re-testing is needed after fixes are implemented, we will be reaching out via email. Thank you!

[2018-06-12 19:24] mehtasp commented on #82
SIMS QC piece updated. Just an FYI, we're also working on QC guidance for our dashboard right now. So I can update this doc if anything changes.
[QC.Guide.06112018.SA.KN.SM.docx](https://github.com/ICPI/DIV/files/2095513/QC.Guide.06112018.SA.KN.SM.docx)

[2018-06-18 14:33] bowdenj commented on #84
Thank you all again for round 1 of testing. Round 2 will start this week, and will run from Wednesday 6/20 through Friday 6/22. I will schedule a meeting for Tuesday afternoon to coordinate testers and review test instructions. Thank you!

[2018-06-19 17:08] shapaklyak commented on #82
To be submitted to Leads by July 2nd.  Anyone else to review/edit, please do so by June 29th.

[2018-06-21 19:14] shapaklyak commented on #83
@bowdenj is there an updated version based on Tuesday's DIV meeting?  thanks!

[2018-06-21 19:15] #11 closed

[2018-06-21 19:16] #29 closed

[2018-06-21 19:17] shapaklyak commented on #8
@kschlenker @abrahamagedewICPI was this already completed by DAQ? just going through old issues.. thanks!

[2018-06-21 19:18] shapaklyak commented on #12
ongoing? daq? @kschlenker @abrahamagedewICPI

[2018-06-21 19:22] #42 closed

[2018-06-21 21:23] shapaklyak commented on #75
@jb3436 is this appropriate to discuss at the next all staff meeting?

[2018-06-21 21:24] shapaklyak commented on #41
@bowdenj - any changes or is this closed out?

[2018-06-29 17:56] shapaklyak commented on #82
Submitted version below.

Thanks @shazadahmed10 @mehtasp !

[ICPI QC Guide.docx](https://github.com/ICPI/DIV/files/2150342/ICPI.QC.Guide.docx)

[2018-06-29 17:58] shapaklyak commented on #46
Updated SOW posted here and [here ](https://github.com/ICPI/DIV/blob/master/SOW.md)

please review by end of next week. thanks!

[DIV.SoW_20180629.docx](https://github.com/ICPI/DIV/files/2150327/DIV.SoW_20180629.docx)

[2018-07-02 16:54] bowdenj commented on #84
Upgrade deployed. Closing ticket.

[2018-07-02 16:54] #84 closed

[2018-07-13 18:11] shapaklyak commented on #46
See above @bowdenj @KatieOC @achafetz ^

[2018-07-17 22:14] shapaklyak opened #87 "Capturing lessons learned/best practices from Tableau training"
**please add to this list in the comments and i will compile. thanks!**

- Pre-training assessment helpful in fine-tuning training objectives and setting up for training evaluation/knowledge check
- Sending a "getting started" video for participants to watch prior to the training
- Highly recommended pre-work (rather easy) to get comfortable clicking in Tableau
- Detailed handouts (step by step) w

[2018-07-18 14:39] bowdenj commented on #46
Hi @shapaklyak - Reviewed and think this looks great from a BI perspective. Thank you for the update.

[2018-07-19 18:58] bowdenj commented on #80
Notes from meeting:
Participants: Katya, Jasmine, Shaylee, Jason R, Audrey, Imran

In the future, the team would like to see:

- A timeline for testing approximately two+ weeks out, with dates for when testing will be available and proposed names for dashboard testing PoCs. This way, testing PoCs can assign backups.
- Include a meeting that walks through at least one example dashboard to test to s

[2018-07-20 17:57] shapaklyak commented on #46
Final version posted on p[epfar.net](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FDIV%2FAdministration&FolderCTID=0x01200080CC6F83D1766F4D9E3497D4529EC74A&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D) and sent to Leads.

[2018-07-20 17:57] #46 closed

[2018-07-22 10:10] jb3436 commented on #10
https://github.com/ICPI/OCM/issues/18

Color Palette zip file, one pager, and naming convention one pager can be found on [SharePoint](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FDIV%2FResources&FolderCTID=0x01200080CC6F83D1766F4D9E3497D4529EC74A&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D):

[2018-07-31 15:51] shapaklyak commented on #87
Tableau training evaluation results

[20180717_Evaluation Summary.pdf](https://github.com/ICPI/DIV/files/2246065/20180717_Evaluation.Summary.pdf)

[2018-07-31 15:55] mehtasp commented on #82
Hi all, I've updated the QC guide using the suggestions from the Leads Review and Shazad's quick comments about the cheat sheet. The logos seem to be correctly positioned when mark-ups aren't being shown.
[ICPI QC Guide_ICPILEADS_SM_07312018.docx](https://github.com/ICPI/DIV/files/2246086/ICPI.QC.Guide_ICPILEADS_SM_07312018.docx)

[2018-07-31 16:10] shapaklyak commented on #87
Please review attachment by COB Friday, 8/3
Plan to submit to leads on Monday 8/6.

[DIV TableauTrainingBestPracticesLLs_20180731.docx](https://github.com/ICPI/DIV/files/2246139/DIV.TableauTrainingBestPracticesLLs_20180731.docx)

[2018-07-31 16:26] shapaklyak commented on #82
Thanks @mehtasp  for updating this! Please see my comments and edits in the attached. I added a more recent example for the datim.org comparison in addition to the retired tool example. If no one else has comments by COB today, then we can resubmit to leads.

[ICPI.QC.Guide_ICPILEADS_SM_KN_07312018.docx](https://github.com/ICPI/DIV/files/2246210/ICPI.QC.Guide_ICPILEADS_SM_KN_07312018.docx)

[2018-08-02 19:43] bowdenj opened #88 "Q3 Pano Testing Schedule"
Per conversation in the Q2 Pano testing retrospective, we want to prepare for testing Panorama dashboards in advance, using the method of one key PoC per dashboard type. Below please find the timeline, scope, and draft assignments for each of the ICPI/Pano dashboards for Q3:

**Timeline**
8/15 - Q3 data closes in DATIM
8/17, 8/20, 8/21 - Pano dashboards available for testing in Dev
8/22 - Pano Q3

[2018-08-06 13:06] shapaklyak commented on #82
Accepted all changes and submitted to leads on 8/6
[ICPI QC Guide_20180806.docx](https://github.com/ICPI/DIV/files/2262624/ICPI.QC.Guide_20180806.docx)

[2018-08-06 14:25] shapaklyak commented on #88
referencing feedback from prior testing https://github.com/ICPI/DIV/issues/80

[2018-08-06 14:39] MicSherlock commented on #88
I will be sure to cover disags in Treatment Continuum and will also take a look at disags page for the treatment indicators particularly, since we noticed errors on Net New.

Regarding Treatment Summary Dashboard...We have been talking about taking that dashboard down until it can be corrected in Analytic Workspace. The Dashboard as it is exists is not very useful. Is it possible to turn it off?

[2018-08-06 20:37] bowdenj commented on #88
Thanks, @MicSherlock - Having at least one key PoC per dashboard is great. You're more than welcome to do additional testing on other dashboards outside of these assignments.

In terms of turning dashboards off temporarily, I would defer to Jason and Ana. I'll send them an email and copy you and @Yabayabadoo to discuss that option for Q3. Thanks.

[2018-08-08 14:19] jb3436 opened #89 "Approval Process from Workspaces to Pano & Spotlight"
From PRIME Systems. There will be a meeting to discuss.

Approval Process from Workspaces to Pano
--
Review this process with the business owners to ensure approval process as we begin to handoff from Analytic Workspaces to Pano and Spotlight

1.	Submission Process – Survey Monkey
2.	Ticketing Process – Analytic Workspaces 1st?
3.	Frequency of approval meetings
4.	Data Policy and Governance
5.	App

[2018-08-09 14:15] shapaklyak commented on #82
thanks @mehtasp

[2018-08-09 14:17] #82 closed

[2018-08-10 16:42] bowdenj commented on #80
FYI @pvinayak001

[2018-08-10 20:34] bowdenj commented on #88
Hi @katieOC - thanks for the question. The above dashboards are the ones that are the minimum requirement for us to test. You're welcome to look at any dashboards on Pano if you believe the data should be checked. It should just be on top of the above assignments, not instead of them, if that makes sense. Thank you!

[2018-08-10 20:35] bowdenj commented on #88
Thanks all for the meeting this afternoon. If anybody who missed the meeting would like to walk through an example of testing, please reach out to Pooja or myself prior to 8/17. Thank you!

[2018-08-15 14:10] bowdenj commented on #88
Hi All - Heads up that due to ETL issues, we do not expect that the Pano dashboards will be available for Q3 data testing until later in the afternoon on Friday. When we have a better sense of the exact timing, we will let you know. Thank you!

[2018-08-15 19:09] bowdenj opened #90 "Testing "Soft-Launch" Dossier Dashboards"
Hi @jb3436 - Putting in a placeholder ticket for the testing of the "soft-launch" Dossier dashboards. I know you've been working with Susan and Ana on this request. Please feel free to use this space from a DIV BI perspective to note testers and expected timeline, or if there is anything that is needed from our team.
cc @pvinayak001

[2018-08-16 20:56] bowdenj commented on #88
Hi All - Rescinding my most recent comment: The Pano dashboards *will* be ready for testing in the Dev site per the process outlined above tomorrow morning.

They will then be taken offline briefly as an ETL finishes closer to 9:00PM on Friday. They will be available again for testing starting on Monday morning.

I will send out an email tomorrow with the links contained in this ticket as well as

[2018-08-22 02:25] jb3436 commented on #80
**Additional Suggestion for Q4**
- In the GitHub Issue, include check marks to show when people completed testing
- Save final comments that people send in on SharePoint somewhere and then link to it in the GitHub issue so we can see what others found and the resolution. for example, I reviewed a new dashboard and i am wondering if I found old issues or new issues.
- Send out a calendar invite to

[2018-08-22 13:16] bowdenj commented on #80
@jb3436 - Thank you so much for the feedback! These are great suggestions. Flagging for @KatieOC as well - good ideas for improving testing process in Q4.

The link in the PowerPoint being off was my fault this quarter - hopefully this will stay the same after SharePoint migrations conclude.

[2018-08-22 13:51] bowdenj opened #91 "Pano Request for Treatment Continuum: Remove "Total" in Blank Rows from Filtered Graph"
During Q3 testing, @jb3436 noted that the Treatment Continuum dashboard has the functionality to filter for Fiscal Year, but does not look clean when the filter is applied.

When a user clicks on "Age/Sex Disaggs," and then filters, for example, just to FY18, the below screen appears:
<img width="723" alt="filter by year" src="https://user-images.githubusercontent.com/18291396/44467433-6477e000-a6

[2018-08-22 16:01] bowdenj commented on #91
Closing - Janice implemented this for the Q3 release.

[2018-08-22 16:01] #91 closed

[2018-08-27 20:37] bowdenj commented on #88
Closing this ticket as Pano is now live. Thank you!

[2018-08-27 20:37] #88 closed

[2018-08-27 20:37] bowdenj commented on #85
Assigning to Pooja and Katie for follow-up in Q3 fast-follow or Q3 cleaning. This is related to the current VMMC follow-up status issues.

[2018-08-27 20:42] bowdenj commented on #83
No updates to the current version attached above. This can be used for quarterly prioritization when the Panorama team is able to receive new requests for update.
Closing this ticket.

[2018-08-27 20:42] #83 closed

[2018-08-27 20:43] bowdenj commented on #89
Assigning Pooja as FYI for discussion moving forward.

[2018-08-27 20:45] bowdenj commented on #77
@imujawar I believe this is deployed in analytic work spaces. Are you seeing it in Dev?

[2018-08-27 20:46] bowdenj commented on #81
Assigning to Katie from DIV BI lead perspective for future prioritization

[2018-08-27 20:46] bowdenj commented on #60
Assigning to Katie from DIV BI lead perspective for future prioritization

[2018-08-27 20:47] bowdenj commented on #57
Assigning to Katie from DIV BI lead perspective for future prioritization

[2018-08-27 20:47] bowdenj commented on #57
This was deployed in Q2. Closing this ticket.

[2018-08-27 20:47] #57 closed

[2018-08-27 20:48] bowdenj commented on #55
Assigning to Katie from DIV BI lead perspective for future prioritization

[2018-08-27 20:48] bowdenj commented on #52
Assigning to Katie from DIV BI lead perspective for future prioritization

[2018-08-27 20:49] bowdenj commented on #68
Adding Pano backlog tag so we keep this on the radar for discussion in future prioritization. Thank you!

[2018-08-27 20:50] bowdenj commented on #41
Closing this as the Zendesk process is in place.

[2018-08-27 20:50] #41 closed

[2018-08-27 20:51] bowdenj commented on #33
@shapaklyak @KatieOC - Is this still in active discussion? It might be worth folding this in with conversations around Analytic Work Spaces for triangulation of data sources in the systems.

[2018-08-27 20:57] bowdenj opened #92 "Panorama Discussion: Retention Dashboard?"
Hi @Yabayabadoo - Per our earlier discussion, the team should have a conversation about whether the retention dashboard should be retired due to MER indicator revisions. Note that TX_RET will not be removed until FY19, so it may be worth keeping the Retention dashboard for FY18 Q4 but retiring it in the future. Please feel free to use this ticket to track conversation.

If you do decide to retire

[2018-08-28 14:59] bowdenj opened #93 "Panorama Q4 Discussion: GEND_GBV PEP?"
Hi @kimisatoPC - For discussion:

In FY18, a change was made to GEND_GBV to show Number of People Receiving PEP by Age. The Pano team is tracking this DATIM update for Q4. Please feel free to discuss in this forum whether any corresponding updates will need to be made to the GEND_GBV dashboard in Pano. Thank you!

[2018-08-28 17:27] shapaklyak commented on #33
fyi @jb3436

[2018-08-28 17:46] bowdenj commented on #18
@pvinayak001 flagging that we may want to work with Tesha on this moving forward if needed.

[2018-08-28 19:37] bowdenj opened #94 "Question on has_modality Flag for CHIPS Tool in Pano"
@shazadahmed10 - A question came up from Derek and the Pano team about the CHIPS tool using our new flag structure seen in the MER Structured Datasets.

For 2016, we should *not* have a Y in "has_modality" for both "ServiceDeliveryPoint/Result" and also "ServiceDeliveryPoint." Which of the below two options would you recommend for 2016 results?

1. ServiceDeliveryPoint/Result should have has_modal

[2018-08-29 18:29] shazadahmed10 commented on #94
Hi @bowdenj - apologies, could you ask this differently? i guess i;m just having trouble understanding what the two options are trying to convey.

Feel free to call me: 202-663-1265

[2018-09-06 13:49] pvinayak001 opened #95 "Testing addition of Q2 indicators to Q3 Panorama release"
Per Analytics ticket 1624, the Panorama team has added Q2 indicators into 6 Panorama dashboards for Q3. Please test the dashboards below to confirm that the indicators have been added correctly.

**Timeline:**
9/6-9/7 Test dashboards
Q2 indicators can be deployed to production once testing is complete.

**Scope:**
Compare Q2 indicators against MER Structured Dataset or DATIM to confirm that the va

[2018-09-06 17:35] KatieOC commented on #95
@aliyahwakil can you do All Mech?
@kimisatoPC can you do Mech by SNU?
@jb3436 can you do OU level?
@kkale25 can you do SNU level?
@mehtasp can you do completeness review?
@hessionra can you do narratives?

[2018-09-06 20:39] pvinayak001 commented on #95
Hi all, I have flagged the issue with the password for the Pano team. I'll post an update as soon as I hear back. Thanks!

[2018-09-06 20:51] pvinayak001 commented on #95
The test account has been re-enabled. Please try again with the same credentials and let me know if you have any issues. Thanks!

[2018-09-07 17:00] hessionra commented on #95
Narratives is checked, good to go!

[2018-09-07 18:51] jb3436 commented on #95
Did All Mech and OU

[2018-09-07 18:57] KatieOC commented on #95
@pvinayak001 A non MER indicator is showing up “OVC_HIVST”
This is an essential survey indicator and should not be displaying here.

[2018-09-07 19:12] KatieOC commented on #95
@pvinayak001 in the Mech by SNU dashboard, I don't see TB_ART, TB_STAT or SC_Stock. Should all semi-annual results be included? The ticket in the Datim-Analytic repo doesn't have the full or accurate list of semi-annual indicators.

![image](https://user-images.githubusercontent.com/34076296/45238616-6e573f80-b2b0-11e8-92db-34cc639bba7d.png)

[2018-09-07 20:44] pvinayak001 commented on #95
Thanks all for testing. Issues noted in corresponding Analytics ticket:
https://github.com/pepfar-datim/Analytics/issues/1624

[2018-09-10 15:01] pvinayak001 commented on #95
@kkale25 I am getting the same values listed in MSD and Pano. Can you double-check your pivots or can we compare?

Using CDI PSNUxIM MSD for Q3 initial:

![image](https://user-images.githubusercontent.com/22644265/45305712-ead46300-b4e8-11e8-8a49-f2d061ba718e.png)

[2018-09-10 19:12] kkale25 commented on #95
@pvinayak001 Hey - just double checked on a new pivot I just created. Both issues are matching - no longer a problem.

[2018-09-10 19:38] pvinayak001 commented on #95
@kkale25 Thanks Kashmira!

[2018-09-13 14:41] pvinayak001 commented on #95
Hi @KatieOC
TB_ART, TB_STAT, TB_STAT_POS have been added to the dashboards. Please let me know when the second round of testing is complete. The dev environment link and credentials are the same. Thanks!

[2018-09-13 19:16] arcann commented on #94
We're asking which of the two disaggregates should be used as the primary source for Modality level results.  The primary source is tagged with has_modality = `Y`.

Option 1 would make `ServiceDeliveryPoint`  the primary, and `ServiceDeliveryPoint/Result` would be tagged with has_modality = `With Result` meaning it should only be used if report users want Modality and Result. By default, reports w

[2018-09-13 19:17] arcann commented on #94
This question applies only to 2016 results.

[2018-09-13 19:18] arcann commented on #94
For 2017, our plan is to use the MCAD disaggs as the primary source.
For 2018 there is no duplication, so no issue.

[2018-09-13 20:26] kimisatoPC commented on #95
@pvinayak001 @KatieOC  I'm still not seeing any Q2/Q4 prevention indicators in any of the dashboards. I thought this had been fixed? But I might have missed something. Looking specifically for PP_PREV and OVC_SERV

[2018-09-14 18:43] pvinayak001 commented on #95
@kimisatoPC , @jb3436 , @kkale25 , @mehtasp, @hessionra, can you all test the same dashboards but check TB_ART, TB_STAT, and TB_STAT_POS?

@kimisatoPC We need to test the TB indicators, and get final sign off from Jason R before going live in Panorama. I will email Jason but he is out at a training this week and might not be able to approve until Monday.

[2018-09-14 18:58] cnichols3h commented on #95
@pvinayak001 @kimisatoPC @jb3436 @kkale25 @mehtasp @hessionra - Hi all!  I'm checking TB_ART, TB_STAT and TB_STAT_POS right now.

[2018-09-14 20:16] cnichols3h commented on #95
@pvinayak001 @KatieOC Here's the verdict. All Mech, OU level, SNU level, and Narratives match for TB_STAT, TB_STAT_POS and TB_ART. For the completeness review, is that supposed to only apply to Q3 indicators? The title of the page currently says that (a little confusing if you're looking at % completeness for Q2 indicators) and data is missing for results and % completeness for TB_STAT and TB_ART.

[2018-09-17 14:09] pvinayak001 commented on #95
@cnichols3h Any issues with the Mech by SNU tab? I will include your feedback on the completeness review tab in the corresponding Analytics ticket and start a new ticket for the disag tab. May need to get some more detail from you on the disag tab issue.

[2018-09-18 20:08] shapaklyak commented on #95
@pvinayak001 @cnichols3h just tested Mech by SNU - values match between dev & MSD for Kenya across TB_STAT, TB_STAT_POS, and TB_ART. Emailing spreadsheet with documented matches.

[2018-09-18 20:18] cnichols3h commented on #95
@shapaklyak - thank you!!  @pvinayak001 - whoops, i meant to confirm that was ok. thank you also for proceeding w/ creating a ticket for the disagg. table...i brought it up b/c i think it's a related issue of why % completeness doesn't show up properly for TB_STAT on that dashboard.

[2018-09-19 22:29] pvinayak001 opened #96 "Q3 Clean Pano Testing Schedule"
Below please find the timeline, scope, and draft assignments for each of the ICPI/Pano dashboards for Q3 Cleaning:

**Timeline**
9/21 - Q3 cleaned data closes in DATIM
9/24-9/25- Pano dashboards available for testing in Dev
**Note**: Issues submitted by Tuesday 9/25 will be resolved for the 9/28 release. If you submit issues on 9/26, they may or may not be included depending on the LOE. So I recom

[2018-09-19 22:54] pvinayak001 commented on #95
@KatieOC Testing passes for OU level, SNU level, All Mech, Mech by SNU, and Narratives. These have been marked as ready for release.

For completeness review, the developers have said it would require an enhancement request to add Q2 data. I have asked them to keep the dashboard as-is, rather than adding Q2 indicator names without showing the data as well. Please let me know if you would like to s

[2018-09-20 08:52] cnichols3h commented on #95
@pvinayak001 @KatieOC Thanks to both of you. My (unsolicited) 2 cents is that it's not essential to have the % completeness page completed for the TB/HIV indicators, so I'm ok with this omission.

[2018-09-24 15:46] KatieOC commented on #96
I just updated the list. thank you to all the volunteers! We will wait on @pvinayak001 to provide next steps on our timing.

[2018-09-24 16:40] pvinayak001 commented on #96
@KatieOC Test MSDs are posted [here](https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Data%20Store%2FMER%2FTesting&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC00C3CC873FA325DD44884DEFC36053A859&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D). Happy testing!

[2018-09-25 19:37] KatieOC commented on #96
@pvinayak001 issues for all PMTCT cascade indicators for FY18Q3 using OU MSD. Numbers are so close but not exact. email with details sent.

[2018-09-25 19:38] KatieOC commented on #96
Erin just completed GEND_GBV and found no issues.

[2018-09-25 19:45] pvinayak001 commented on #96
Hi @KatieOC , this may be due to an issue with the PSNU x IM MSD files, not Pano. We have seen similar issues for TB, HTS, and OVC. Can you test with OU X IM and let us know if there are still issues?

All - It looks like there is an issue with the Uganda PSNU x IM file as well. MSD team is looking into it. In the meantime, please use the OU x IM file to test OU level and Global dashboards. We’ve

[2018-09-25 19:49] KatieOC commented on #96
@pvinayak001 i was using the OU x IM file.

[2018-09-26 13:31] pvinayak001 commented on #96
**Summary of testing status:**

 CHIPS - Shazad - Issues found; confirming file used for testing

 GEND_GBV - Erin - Testing completed, no issues

  OVC - Katya - Issues found due to error in MSD; retest using new PSNU x IM MSD

  PMTCT  - Katie - Issues found using OUxIM MSD - Tracking in Analytics #520

  Retention - Yaa - Issues found using OUxIM - Emailed to Ana

  TB - Catherine - @cnichols3h

[2018-09-26 15:30] KatieOC commented on #96
@pvinayak001 I am behind on emails. What can we check off in the first message on this issue as completed?

[2018-09-26 18:12] pvinayak001 commented on #96
@KatieOC I was not planning to check them off until all issues we resolved. If that's the case, I would uncheck the CHIPS dashboards because Shazad found issues. @shazadahmed10 Would you agree? And CHIPS dashboards that did not have issues?

[2018-09-26 18:41] KatieOC commented on #96
@pvinayak001 we have been checking off as we do our QC -issues found or not. the issues are being tracked via tickets so the check boxes help us assess what was QCd or not. This process okay with you?

[2018-09-26 18:57] pvinayak001 commented on #96
@KatieOC Sure! In that case, I will update Dustyn has tested VMMC global and Yaa has attempted to test Viral Load P/M but could not due to lack of filter - issue was noted.

[2018-09-28 12:46] shapaklyak commented on #94
@shazadahmed10 is this resolved?

[2018-10-01 14:50] pvinayak001 commented on #95
Deployed to Panorama 9/28.

[2018-10-01 14:50] #95 closed

[2018-10-01 14:52] #96 closed

[2018-10-02 17:21] achafetz opened #98 "FY18 DIV accomplishments draft --> feeback"
@ICPI/guidance-capacity-building, here link to the markdown file that contains our FY18 accomplishments. Please review in lieu of our meeting today and if you have any inputs or changes, feel free to push your changes.

https://github.com/ICPI/DIV/blob/master/Reference_Materials/FY18_DIV_Accomplishments.md

[2018-10-05 17:54] shapaklyak commented on #98
@achafetz this looks great! I'd love for us to use this a way to identify gaps that DIV/GCB can fill in the upcoming year. Can someone put together a BI section? @KatieOC or @pvinayak001 ?

[2018-10-15 14:39] jb3436 commented on #98
@shapaklyak @achafetz I also suggest adding that you revised the quality control best practices.

[2018-10-17 12:04] #87 closed

[2018-10-17 12:07] #64 closed

[2018-10-17 12:07] #70 closed

[2018-10-17 12:08] #78 closed

[2018-11-13 14:46] pvinayak001 opened #101 "Q4 Initial Panorama Testing Schedule"
Below please find the timeline, scope, and draft assignments for each of the ICPI/Pano dashboards for Q4 Initial:

Timeline
11/15 - Q4 initial data entry closes in DATIM
11/16 - 11/19- Pano dashboards available for testing in Dev
11/21 - Pano Q4 initial dashboards released

Scope

Review functionality of each dashboard (remember to test OU/SNU, Partner/Mech, and Global if applicable)
Review data (

[2018-11-13 14:48] pvinayak001 commented on #101
@shabeenally I can only assign 10 people to the ticket, but tagging you for your awareness as well!

[2018-11-13 16:06] Couper-T commented on #101
Hey Pooja,

I will be unable up preform testing during that time. Is there someone else
who can step in?

Couper

On Tue, Nov 13, 2018, 11:00 AM Pooja Vinayak <notifications@github.com
wrote:

[2018-11-13 16:57] aliyahwakil commented on #101
Hey @Couper-T,

I'm second in line so I'll be able to QC VMMC. @pvinayak001 I'm going to have a one of our new analysts help with the QC of Treatment Summary Dashboard and will update the list above.

[2018-11-13 17:23] shapaklyak opened #102 "Broken link - pivot tables"

[2018-11-13 19:02] achafetz commented on #102
Updated the resources with the [pivot table training link](https://www.pepfar.net/OGAC-HQ/icpi/Products/ICPI%20Data%20Store/MER/Training/_Archive/Beginner%E2%80%99s%20Guide_Walkthrough%20to%20Using%20FV%20Datasets%20(2).docx). It had been moved on PEPFAR Sharepoint to the MER Training Archive folder.

[2018-11-13 19:02] #102 closed

[2018-11-13 20:01] pvinayak001 commented on #101
Thanks @aliyahwakil ! Can you forward the testing calendar invite to Nicole as well? I don't have her email.

[2018-11-13 22:47] shabeenally commented on #101
@pvinayak001 Thanks Pooja! the SSD (SIMS Structured Dataset) will be posted on the 16th as well, correct? I think that's what Stephanie O'Hara said, but just making sure. thanks!

[2018-11-14 15:30] pvinayak001 commented on #101
@shabeenally Thanks for checking! Stephanie sent the group an email with some additional questions.

[2018-11-14 19:53] achafetz opened #103 "PEPFAR Academy Pivot Table Content"
In preparation for the PEPFAR Academy, the DIV/GCB team will put together material for a number of short (1-5 minute) sessions on creating pivot tables in Excel using the MSD.

@ICPI/guidance-capacity-building members (and other volunteers) should sign up for one of the session below and outline the content. Update the markdown file with your session material. We review all sessions prior to the D

[2018-11-19 19:47] KatieOC commented on #101
@shazadahmed10  @kimisatoPC @jb3436 @Yabayabadoo @MicSherlock @anu87 @aliyahwakil @cnichols3h  how is testing going? everyone still on track?

[2018-11-19 19:51] KatieOC commented on #101
@pvinayak001 or @jb3436 any tips on QCing Additional Disaggs dossier? we are talking about lots of MER indicators in one page.

[2018-11-19 19:53] kimisatoPC commented on #101
![image](https://user-images.githubusercontent.com/36009724/48731314-c2649580-ec0a-11e8-9ca0-e5a8e6150351.png)

I'm getting this error when I selected Kenya for the GEND_GBV OU dashboard. All other OUs seem to be working. @pvinayak001

[2018-11-19 20:06] kimisatoPC commented on #101
@pvinayak001 GEND_GBV dashboards look good, except that the default year selected is FY2017 when it should be FY2018.

![image](https://user-images.githubusercontent.com/36009724/48732093-acf06b00-ec0c-11e8-9dba-07bbdd7fcf55.png)

[2018-11-19 20:46] aliyahwakil commented on #101
we are behind on TSD and VMMC. When @nmcarloni and I first opened dev.pano on Friday, TSD had no data. Tried again this morning, still no data and alerted systems team of issue.

VMMC OU level is complete and TSD OU level will be complete. After TSD OU, will continue with TSD Mech

[2018-11-20 00:02] jb3436 commented on #101
Major issues found for OVC. Email with details sent. I wasn’t able to review static tables.

[2018-11-20 14:39] shabeenally commented on #101
FYI: we found several issues with the SIMS Dashboard. Sent info to Pooja who shared with developers.

[2018-11-27 15:45] pvinayak001 commented on #101
@KatieOC Can you submit a helpdesk ticket about PMTCT_STAT?

[2018-11-27 15:45] #101 closed

[2018-12-05 21:52] pvinayak001 opened #104 "Q4 Clean Panorama Testing Schedule"
Below please find the timeline, scope, and draft assignments for each of the ICPI/Pano dashboards for Q4 Clean:

**Timeline**
12/21 - Q4 initial data entry closes in DATIM
12/28 - 1/2 - Pano dashboards available for testing in Dev
1/4 - Pano Q4 initial dashboards released

**Scope**
- Refer to the powerpoint for testing instructions in the calendar invite (coming soon).
- Review functionality of e

[2018-12-05 21:58] pvinayak001 commented on #104
@KatieOC Can you help get testers confirmed by Monday 12/10? There may be a new procedure for documenting issues, so we'd like to get testers confirmed early with enough time for a training before people leave for the holidays.

@jb3436 I checked all the dashboards, and OVC was the only one that had a Global version that was not already listed. Please let me know if you notice anything else missin

[2018-12-05 22:06] pvinayak001 commented on #104
@jb3436 I can only assign 10 people to a ticket, so I took your name off the list to make room. You are still a tester!

[2018-12-06 21:20] KatieOC commented on #104
@pvinayak001 what dates are we testing? I see the 4th but wanted to give everyone the full set of dates they have to test to check availability. Also, can we move the Dossiers to OGAC? The lift is a bit heavy for ICPI staff in my opinion.  @jb3436 let me know if you concur or have a different suggestion.

[2018-12-07 15:53] pvinayak001 commented on #104
@KatieOC Testing would be one day on January 2. We discussed at the DIV meeting yesterday, and folks agreed most people would probably not test earlier anyway due to the holidays. It's possible the dashboards will be available earlier, but we're planning on testing on Jan 2. Please let me know if you have concerns or think people would be open to testing on Monday 1/31.

I'll send Ana an email abo

[2018-12-10 21:16] pvinayak001 commented on #104
@KatieOC An update from the comment above: The Pano team let me know that testing can begin as early as 12/28, as that is when both Pano dashboards and the test MSDs and SSDs will be available. It would actually be great if anyone who is available can start testing on the 28th so we don't get a flood of issues on 1/2.

[2018-12-11 23:07] shapaklyak commented on #103
hi all, please login to the PEPFAR Virtual Academy to take a look at our course outline in open edX.

[2018-12-11 23:09] shapaklyak commented on #103
Here's a snapshot

[Course Outline _ ICPI Workspace - Sandbox _ Studio.pdf](https://github.com/ICPI/DIV/files/2669793/Course.Outline._.ICPI.Workspace.-.Sandbox._.Studio.pdf)

![image](https://user-images.githubusercontent.com/5234106/49836183-c1d59f80-fd6f-11e8-9838-1c43500d5183.png)

[2018-12-28 17:30] nmcarloni commented on #104
Treatment Summary OU level dashboard has incorrect totals in the Fine Age tab (for both Uganda and Eswatini)

[2018-12-28 17:45] nmcarloni commented on #104
FYI...Treatment Summary OU level dashboard has incorrect totals in the Fine Age tab (for both Uganda and Eswatini)

[2018-12-31 17:21] pilarbullis commented on #104
@nmcarloni, @MicSherlock - Please note the removal of Treatment Summary Dossier and Treatment Continuum Dossier from the list above, as those dossiers have not yet been released in Panorama.

[2018-12-31 19:31] shazadahmed10 commented on #104
Re. the testing/CHIPS dashboards:
The numbers displayed for the grandfathered age bands in the _fine age band_ set (10-14, 15-19, 20-24, and 50+) in the **age/sex pyramid visuals** in the Pano dashboards and dossier did not match the MSD. This applies to both HTS_TST and POS. The values for the semi fine age bands matched.

[2019-01-01 20:49] anu87 commented on #104
![image](https://user-images.githubusercontent.com/17214140/50576287-d3452100-0ddc-11e9-8f02-bcf46fc5018c.png)

[2019-01-02 20:04] mehtasp commented on #104
Retention (OU & P/M) - Total Numerator & Age/Sex tabs
- TX_NEW (previous year) values in Pano tables are 5x larger than TX_NEW values in the MSD for both Uganda and Eswatini

All other data for TX_CURR and TX_RET matched the MSD's PSNU_IM data files

[2019-01-07 21:09] #104 closed

[2019-01-08 20:25] shapaklyak opened #106 "ICPI Recording studio - software list (by COB Fri Jan.11)"
- Camtasia or Screencast-O-Matic
- R & RStudio

[2019-01-08 20:55] shapaklyak opened #107 "PEPFAR Virtual Academy: Course Name/Number"
Related to #103

What course name and course number do we want for the pivot tables course? Below is the current example using the ICPI sandbox and a proposal. Please refer to the PEPFAR Virtual Academy Resource Guide (p.22) posted on [pepfar.net](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FDIV%2FProjec

[2019-01-08 21:15] achafetz commented on #106
Let's figure out as well which version of Excel they have too! (and who ever starts working on it should also load the ICPI color palette to MS Office)

Unfortunately, I don't think State's CIO doesn't allow RStudio.

[2019-01-08 21:21] achafetz commented on #107
Big question is: are pivot tables beginner or intermediate? I would venture towards intermediate.

And let's focus the title on pivot tables since we're not doing a ton of data manipulation (just summarizing and reshaping).

- PEPFAR Between the Sheets: Learning how to Pivot the MER Structured Dataset (MSD)

[2019-01-08 21:24] achafetz commented on #103
I updated the masked dataset again from the initial to the cleaned data. Masked datasets are accessible on the [ICPI/TrainingDataset repo](https://github.com/ICPI/TrainingDataset)

[2019-01-09 19:23] KatieOC commented on #107
https://www.youtube.com/watch?v=R2u0sN9stbA

[2019-01-15 21:19] shapaklyak commented on #107
@achafetz great title!

Does this work? I revised the coursename & number.

Title: PEPFAR Between the Sheets: Learning how to Pivot the MER Structured Dataset (MSD)
Coursename: ICPIexcel201200
Course number: ICPI_Excel_PivotTables2019

[2019-01-15 21:19] shapaklyak commented on #106
thanks @achafetz

@jb3436 , i think we can go ahead and request this for your station. thank you for volunteering your space for this!

[2019-01-15 21:30] #106 closed, assigned to shapaklyak, achafetz, jb3436, imujawar, cnichols3h

[2019-01-15 21:30] #8 closed

[2019-01-15 21:30] #63 closed

[2019-01-15 21:31] #75 closed

[2019-01-15 22:00] shapaklyak commented on #18
please see [draft platform guidance](https://github.com/ICPI/DIV/blob/master/Reference_Materials/Platformguidance.md)

thx!

[2019-01-24 15:44] achafetz commented on #103
I'm attaching the subset training dataset to use for our videos. It includes just HTS (HTS_TST, HTS_TST_POS, HTS_TST_NEG).

[FY18Q4c_TRAINING_MSD_HTS.zip](https://github.com/ICPI/DIV/files/2792367/FY18Q4c_TRAINING_MSD_HTS.zip)

[code]

[2019-01-25 16:37] achafetz commented on #2
okey doke. a year plus and finally posting a [draft of the ICPI Style Guide](https://github.com/ICPI/DIV/blob/master/StyleGuide/ICPI_Style_Guide.md).

Needs a lot of improvements. It should definitely include examples of each of the sub sections at the bottom.  Language needs to be cleaned up a lot. etc, etc.

@ICPI/div have a look.

[2019-01-31 00:37] aliyahwakil commented on #60
Putting a note here as a reminder for myself.
For issue 1. I'm not exactly sure what it involves and wondered if it was already fixed. I'll have to ask someone that has used the dashboard previously.

For issue 2. It looks that this has been resolved as the disaggregate tables do show Yes/No for vmmc circ followup

[2019-01-31 00:55] aliyahwakil commented on #85
After reviewing all VMMC tables, I see both  values Yes and No for Follow up status in tables so believe this has been resolved.

[2019-02-01 15:44] shapaklyak opened #108 "FY19 Q1 Initial Panorama Testing Schedule"
Pano Testing Schedule
--
Below please find the timeline, scope, and draft assignments for each of the ICPI/Pano dashboards for Q1 Initial:

### Timeline
2/15 - Q1 initial data entry closes in DATIM
2/19-20 - Pano dashboards available for testing in Dev
2/22 - Pano Q1 initial dashboards released
(FYI - ICPI dashboards/tools due on 2/26)

###  Scope - PENDING TUTORIAL on 2/12
- Refer to the powerpoi

[2019-02-01 15:51] #90 closed

[2019-02-01 15:56] #67 closed

[2019-02-01 15:58] #81 closed

[2019-02-01 20:39] shapaklyak commented on #103
@achafetz i'm having a hard time opening the training dataset...i keep getting sent through a bunch of folders matroyshka (nesting doll) style
![image](https://user-images.githubusercontent.com/5234106/52148382-7afd7b00-2637-11e9-9ad0-d4573633ac66.png)

[2019-02-01 21:08] shapaklyak commented on #18
any comments folks?

[2019-02-01 21:11] shapaklyak opened #109 "Review PVA scripts for PEPFAR Between the Sheets (Tues 2/5)"

[2019-02-01 21:12] shapaklyak opened #110 "Record videos for PVA: PEPFAR Between the Sheets"
Use this ticket to schedule recording for each video

[2019-02-01 21:13] shapaklyak opened #111 "Add Transcription for PVA Videos"
- [x] 1. Your mission, should you choose to accept (Imran)
- [x] 2. What is a pivot table? (Aaron)
- [x] 3. Why and when to use a pivot table? (Catherine)
- [x] 4. Data structure (tidy data) (Aaron)
- [x] 5. Accessing and downloading data (Shazad)
- [x] 6. How to create a pivot table (Shazad)
- [x] 7. Different parts of a pivot table (Katya)
- [x] 8. Structural options (Katya)
- [x] 9. Filtering (

[2019-02-01 21:13] shapaklyak opened #112 "Upload videos to PVA/Studio"
- [x] 1. Your mission, should you choose to accept (Imran)
- [x] 2. What is a pivot table? (Aaron)
- [x] 3. Why and when to use a pivot table? (Catherine?)
- [x] 4. Data structure (tidy data) (Aaron)
- [x] 5. Accessing and downloading data (Shazad)
- [x] 6. How to create a pivot table (Shazad)
- [x] 7. Different parts of a pivot table (Katya)
- [x] 8. Structural options (Katya)
- [x] 9. Filtering 

[2019-02-01 21:14] shapaklyak opened #113 "Upload Course Handouts for PVA"

[2019-02-01 21:21] shapaklyak opened #114 "develop PVA course evaluation - any Volunteers?"

[2019-02-01 21:52] shapaklyak opened #115 "Update R resources on DIV Wiki & PVA"
From Federal Eval Listserv

[2019-02-04 19:31] shapaklyak opened #116 "ICPI Onboarding Training presentation - tools overview (due 2/25)"
previous materials on [pepfar.net](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FTrainings%2FICPI%20Interagency%20Onboarding%20Training%20%28Nov%202018%29&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D)

[2019-02-05 16:00] jb3436 commented on #93
These updates have been incorporated.  There were some items flagged during Q4 testing and they were resolved. This ticket can be closed.

[2019-02-05 16:00] #93 closed

[2019-02-05 17:37] shapaklyak opened #117 "Review & Pilot PVA videos"
You may see recorded videos posted on [learn.pepfar.net](https://learn.pepfar.net)

[2019-02-05 17:39] shapaklyak opened #118 "PVA quiz questions"

[2019-02-05 17:39] shapaklyak commented on #118
each video should have a quiz question to assess knowledge/skills.

[2019-02-05 17:54] jb3436 commented on #103
@achafetz
Is it possible for this file to not be buried in 8 sub-folders? I was able to access it, but it makes some people's computers freeze.
![image](https://user-images.githubusercontent.com/13006198/52293554-27e03c80-2945-11e9-9624-6c601c052ace.png)

[2019-02-07 16:07] shapaklyak commented on #110
- [ ] 1. Your mission, should you choose to accept (Imran)

- [ ] 2. What is a pivot table? (Aaron)

- [ ] 3. Why and when to use a pivot table? (Catherine)

- [ ] 4. Data structure (tidy data) (Aaron)

- [ ] 5. Accessing and downloading data (@shazadahmed10)
  - **scheduled** Monday, Feb. 11 at 2pm. @jb3436  - could we use your office?

- [ ] 6. How to create a pivot table (Shazad)

- [ ] 7. Diff

[2019-02-08 16:15] achafetz commented on #103
:grimacing: oh boy that is a mess! Apparently I was missing an option in the `zip()`  function to not include the full file tree (`extras = "-j"`).

ziped filed updated here and code is updated above.

[FY18Q4c_TRAINING_MSD_HTS.zip](https://github.com/ICPI/DIV/files/2845876/FY18Q4c_TRAINING_MSD_HTS.zip)

[2019-02-12 18:59] pvinayak001 commented on #108
Outstanding:
TB/HIV - Meaghan does not have access to analytics repo so Catherine is assigned for now
Treatment Continuum - Michelle does not have access to analytics repo to Katie is assigned for now

[2019-02-13 18:54] imujawar opened #119 "Casting call: PVA: PEPFAR Between the Sheets (session 1 and 12)"
Hi all, we're looking for cast and crew :clapper: for session 1 and 12. Looking for actors for the following roles :movie_camera::

**Analyst**
For [session 1](https://github.com/ICPI/DIV/blob/master/Training/PT_material_PEPFAR_Academy.md#1-Your-mission-should-you-choose-to-accept-it-imran): Your mission should you choose to accept it.

**Boss**
For [session 12](https://github.com/ICPI/DIV/blob/ma

[2019-02-15 14:01] pilarbullis commented on #108
@petersonml has now access to the Analytics repo.

[2019-02-15 18:35] shapaklyak commented on #103
@achafetz thank you! is this stored in a file/folder on the DIV repo or another repo currently? If not, can we put it here or somewhere else that makes sense? https://github.com/ICPI/DIV/tree/master/Training/PVA_PEPFARBetweentheSheets

[2019-02-15 18:48] achafetz commented on #103
That makes sense. It's just linked in this issue, but I think it makes sense to add it to the training site. I'll do that now.

[2019-02-15 20:49] nmcarloni commented on #119
@imujawar I'll be the ninja in session 1

[2019-02-18 23:50] pvinayak001 commented on #108
Hi all, the test MSDs and SSDs are now posted on SharePoint.

The test MER Structured Datasets are posted [here](https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Data%20Store%2FMER%2FTesting&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC00C3CC873FA325DD44884DEFC36053A859&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D)

[2019-02-19 15:27] #103 closed

[2019-02-19 15:30] #109 closed

[2019-02-19 17:47] jb3436 commented on #29
Evolution of the logo! https://icpi.github.io/hexagon.html

[2019-02-21 20:03] KatieOC commented on #108
@shazadahmed10 @shapaklyak @mehtasp @MicSherlock @anu87  were you able to complete testing yesterday? can you please note above if you completed by checking the boxes and note any issues found, especially if they have not been corrected. Thanks!

[2019-02-22 18:53] shapaklyak commented on #110
If you are unable to record your video, please find a replacement and note that here.

You may see recorded videos posted on [learn.pepfar.net](https://learn.pepfar.net) or on the unlisted playlist [here](https://www.youtube.com/watch?v=F1G7BIHtEB8&list=PLn-DLxFzj8XIr5xNoEq8YAASbNAE2Kvl8)

[2019-02-22 22:38] jb3436 opened #120 "Panorama Redesign SOPS"
Jacob Dee is leading a redesign of Panorama
This redesign will be articulated in the following documents

**Panorama Vision and Strategy (high level document)**

 Implementation Documents that will actualize the vision
1. Management Document
2. Requirements and Design/Workplan Document
3. Style Guide
4. Catalog (what will be included in new vision)
5. Use Case Analysis

**Status**

- [x] Jasmine t

[2019-02-26 18:14] KatieOC commented on #117
- volunteers needed to review (Katie, Michelle, Kashmira) -  by Thursday morning

[2019-02-26 18:16] KatieOC commented on #114
volunteers needed to complete by end of March. Kasmira to give it a first pass. @kkale25

[2019-02-26 18:17] KatieOC commented on #113
pending HTML code from SGAC

[2019-02-28 17:23] shapaklyak opened #121 "Edit videos for PVA: PEPFAR Between the Sheets"
- [x] 1. Your mission, should you choose to accept (@imujawar )
- [x] 2. What is a pivot table? (Aaron)
- [x] 3. Why and when to use a pivot table? (Catherine)
- [x] 4. Data structure (tidy data) (Aaron)
- [x] 5. Accessing and downloading data (@shazadahmed10)
- [x] 6. How to create a pivot table (Shazad)
- [x] 7. Different parts of a pivot table (Katya)
- [x] 8. Structural options (Katya)
- [x] 9

[2019-02-28 17:25] shapaklyak commented on #117
did anyone get a chance to review videos? @kkale25 @MicSherlock @KatieOC ?