[2019-02-28 17:45] MicSherlock commented on #117
No sorry, we are still in fire drill to get Q1 tools out…

Michelle Williams-Sherlock, MPH
Epidemiologist
HCTB/DGHT/CDC

From: Katya Noykhovich [mailto:notifications@github.com]
Sent: Thursday, February 28, 2019 12:25 PM
To: ICPI/DIV <DIV@noreply.github.com>
Cc: Williams Sherlock, Michelle (CDC/DDPHSIS/CGH/DGHT) <myy6@cdc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [ICPI/DIV] Review PV

[2019-02-28 18:14] kkale25 commented on #117
I haven't either. Was planning on doing this later today during a quieter onboarding session.

________________________________
From: Michelle Williams-Sherlock <notifications@github.com>
Sent: Thursday, February 28, 2019 12:45:44 PM
To: ICPI/DIV
Cc: Kale, Kashmira (CDC/DDPHSIS/CGH/DGHT); Mention
Subject: Re: [ICPI/DIV] Review PVA videos in DIV meeting (#117)

No sorry, we are still in fire drill

[2019-02-28 19:35] shapaklyak commented on #118
Example for different parts of a pivot table
![image](https://user-images.githubusercontent.com/5234106/53593178-03533b00-3b66-11e9-9ae4-a69d4315b655.png)

[2019-02-28 20:10] shapaklyak commented on #117
ok no problem, please see ticket #112 to see which videos have been uploaded to review.
Thanks!

[2019-03-05 18:00] jb3436 commented on #120
Working Session 3/5/19
--

Notes:

[2019-03-22 19:27] shapaklyak opened #122 "Q1 Clean Panorama Testing Schedule"
Below please find the timeline, scope, and draft assignments for each of the ICPI/Pano dashboards for Q1 Clean:

**Timeline**
3/22 - Q1 clean data entry closes in DATIM
**3/26-27 - Pano Q1 clean dashboards available for testing in Dev**
3/29 - Pano Q4 initial dashboards released

**Scope**
- Refer to the powerpoint for testing instructions (email from Pilar on 3/22 @ 5:38PM).
- Review functionalit

[2019-03-26 14:41] jb3436 commented on #120
Draft Documents
--
Panorama Vision
Style Guide
Management Document

[2019-03-27 12:18] shapaklyak commented on #110
@imujawar video 12 is 0kb on pepfar.net, can you please reload?  "12. What are calculated indicators and how to create them (Imran)"

[2019-03-27 12:23] shapaklyak commented on #110
@imujawar, also is there a video 1?

[2019-04-01 15:00] #85 closed

[2019-04-02 21:13] imujawar commented on #110
Thanks @shapaklyak , not sure why video didn't upload correctly. Will repost. Apologies for the inconvenience. Video 1 is still under post-prod phase, as it requires significant editing.

[2019-04-03 18:30] shapaklyak commented on #110
@imujawar do you happen to have video 12 ? Can you please upload again to [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FDIV%2FWorking%20Folder%2FPVA%5Fvideos&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D

[2019-04-03 18:58] KatieOC commented on #110
@imujawar I am going to pilot the video series on my branch Tuesday afternoon. Any chance you can get it done beforehand? I feel like without video 1, they won't have a true understanding of the task at hand :)

[2019-04-03 19:56] imujawar commented on #110
@KatieOC @shapaklyak, I'm uploading video 12 now, and can work on completing the edits by the end of the week if any of you are are in the office tomorrow.

I'll work on the edits for video 1 after that to have it ready for your Tuesday branch meeting. Maybe there'll be Hollywood agents there too :)

[2019-04-03 19:58] imujawar commented on #110
Can you see the video for session 12 on PEPFAR.net now?

[2019-04-03 20:30] shapaklyak commented on #110
yes, but it's still 0kb  @imujawar
![image](https://user-images.githubusercontent.com/5234106/55511125-cf1fde00-562d-11e9-8541-ff2bae212fd5.png)

[2019-04-03 20:53] imujawar commented on #110
I think it's too large a file to upload. I can share via USB, if anyone is in the office tomorrow or Friday.

[2019-04-03 21:05] shapaklyak commented on #110
@imujawar i'll be in the office tomorrow.

[2019-04-04 13:31] pvinayak001 commented on #80
@KatieOC Can this ticket be closed?

[2019-04-04 13:45] #80 closed

[2019-04-04 14:08] pvinayak001 commented on #94
@shazadahmed10 Is this resolved or OBE?

[2019-04-04 19:40] #119 closed

[2019-04-04 19:42] #110 closed

[2019-04-08 18:57] #112 closed

[2019-04-08 18:58] #121 closed

[2019-04-08 19:00] shapaklyak commented on #117
all videos have been uploaded to learn.pepfar.net. please login, watch and comment on this issue w/any feedback by April 15. thanks!

@KatieOC @kkale25 @MicSherlock  @ICPI/div

[2019-04-09 18:14] aliyahwakil opened #123 "PVA course resources"
A potential resource for PVA pivot table training is the ICPI MSD on boarding training that has a couple of pivot table exercises. Posted here: https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FTrainings%2FICPI%20Interagency%20Onboarding%20Training%20%28Feb%202019%29%2FMER%20Structured%20Dataset%20Review&FolderCTID=0x01

[2019-04-10 14:36] shapaklyak commented on #123
thanks @aliyahwakil !

[2019-04-10 23:23] KatieOC commented on #117
My review:

Overall, great resource. There are some voices that are better suited for recordings over others. During excel demonstrations, the speakers move too fast. It was challenging for my pilot pupils to do the actions along with the presenter. I had to keep pausing the video. Instead of re-recording, maybe there is a feature to add additional pauses between steps.

1. Your mission, should yo

[2019-04-19 18:27] shapaklyak commented on #117
Thanks @KatieOC  for your comments and pilot!

1 - revised to remove references discussed at DIV meeting
4 - changed this to "theory of tidy data"
5 - added Aliyah's slide deck as an additional resource linked to pepfar.net (since it is not using dummy data) in this section
6-  in process of creating a video after this section titled "exploring the MSD" and it includes looking at the various disag

[2019-05-06 19:39] #117 closed

[2019-05-06 19:40] shapaklyak commented on #113
completed by @randyyee

thanks!

![image](https://user-images.githubusercontent.com/5234106/57250395-55f11d80-7015-11e9-90a1-8950759917de.png)

[2019-05-06 19:40] #113 closed

[2019-05-06 19:41] shapaklyak commented on #114
@kkale25 do you have any drafts for this? thanks!

[2019-05-07 16:51] kkale25 commented on #114
First draft of evaluation:

1.	Name (Optional)
2.	Agency
3.	Please indicate your level of agreement with the following statements (Strongly Agree, Agree, Neutral, Disagree, Strongly Disagree)
a.	Overall, I found this course to be helpful in learning how to create basic pivot tables using a training MER Structure Dataset.
b.	Overall, the course design and set up were effective and conducive to onli

[2019-05-07 21:27] shapaklyak opened #124 "FY19Q2 Initial Panorama Testing Schedule: May17-20"
**Timeline**
Wednesday, 5/15 - Q2 initial data entry closes in DATIM
Friday, 5/17- Monday 5/20 - Pano dashboards available for testing in Dev
Wednesday, 5/22 - Pano Q2 release

**Scope**
- Refer to the powerpoint for testing instructions (email from Pilar).
- Review functionality of each dashboard (remember to test OU/SNU, Partner/Mech, and Global if applicable)
- Review data (focus on Q2, but che

[2019-05-07 21:44] #122 closed

[2019-05-08 15:38] #115 closed

[2019-05-08 15:38] #116 closed

[2019-05-08 15:40] shapaklyak commented on #111
Thanks @randyyee !

Video 12 will be moved to an intermediate course.

All Video mp4 files saved here: https://www.youtube.com/playlist?list=PLn-DLxFzj8XIr5xNoEq8YAASbNAE2Kvl8

[2019-05-08 15:40] #111 closed

[2019-05-08 15:40] #2 closed

[2019-05-08 15:40] #18 closed

[2019-05-08 15:42] #108 closed

[2019-05-08 15:42] #61 closed

[2019-05-08 15:47] shapaklyak commented on #114
@kkale25 can you put this in a google form survey please?

[2019-05-08 15:50] kkale25 commented on #114
@shapaklyak yes happy to do that but wanted to get the eval finalized before putting on Google forms since it's a little less easy to make changes to Google forms!

[2019-05-08 15:54] shapaklyak commented on #114
@kkale25 for question 4, please see the response choices to use from the R training evaluation, please use those choices instead. (much more and much less more is too wordy and isn't straightforward in an evaluation).
thanks!

![image](https://user-images.githubusercontent.com/5234106/57389272-d041af00-7187-11e9-81ad-73d82f22f52d.png)

[2019-05-08 16:52] shapaklyak commented on #123
thanks @randyyee for putting this up on PVA!

[2019-05-08 16:52] #123 closed

[2019-05-08 16:53] shapaklyak opened #125 "Video files saved on pepfar.net"
[ICPI--> General --> Clusters-->DIV--> Working folder -->PVA Videos](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FDIV%2FWorking%20Folder%2FPVA%5Fvideos&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2%2DE166%2D4122%2DB8B4%2D7BEB9E1BC12B%7D)

[2019-05-08 16:54] shapaklyak commented on #125
fyi @randyyee

[2019-05-08 16:56] shapaklyak commented on #98
posted here: https://github.com/ICPI/DIV/blob/master/Reference_Materials/FY18_DIV_Accomplishments.md

[2019-05-08 16:56] #98 closed

[2019-05-08 16:56] #125 closed

[2019-05-08 16:57] shapaklyak commented on #38
can this be closed out? @KatieOC

[2019-05-08 16:58] shapaklyak commented on #52
@KatieOC @aliyahwakil close this issue?

[2019-05-08 16:58] shapaklyak commented on #55
@KatieOC @aliyahwakil close this issue?

[2019-05-08 16:58] shapaklyak commented on #60
@KatieOC @aliyahwakil close this issue?

[2019-05-08 16:59] shapaklyak commented on #68
still relevant? @Yabayabadoo @KatieOC  close this issue?

[2019-05-10 06:56] aliyahwakil commented on #60
@shapaklyak yes this can be closed, the new table displays in the ways requested.

[2019-05-10 07:01] aliyahwakil commented on #52
@KatieOC @shapaklyak this should remain opened

[2019-05-10 07:02] aliyahwakil commented on #55
@KatieOC  @shapaklyak this should remain opened

[2019-05-10 15:25] #60 closed

[2019-05-10 16:10] nmcarloni commented on #124
@shapaklyak Since I will be unavailable for testing, Mala (@vanamala-narasimhan) will be testing the dashboards I normally do (Treatment Summary OU and P/M, VMMC dashboards) for this release

[2019-05-10 16:17] shapaklyak commented on #124
thanks @nmcarloni and @vanamala-narasimhan !

[2019-05-13 12:37] kimisatoPC commented on #124
@shapaklyak I can test the DREAMS dossier. The Prevention cluster will identify POCs for the GEND_GBV, OVC, and PrEP Dossier ASAP

[2019-05-13 16:57] shapaklyak commented on #124
thanks @kimisatoPC , please update the above with your name next to the dossier/dashboard when ready.

[2019-05-14 15:15] shapaklyak commented on #114
hi @kkale25 and @randyyee ...has this been completed?

[2019-05-14 15:21] randyyee commented on #114
@shapaklyak , @kkale25
I can link the form on PVA whenever it's ready!

[2019-05-14 15:22] kkale25 commented on #114
I’ll add it today!

From: Randy Yee <notifications@github.com>
Sent: Tuesday, May 14, 2019 11:21 AM
To: ICPI/DIV <DIV@noreply.github.com>
Cc: Kale, Kashmira (CDC/DDPHSIS/CGH/DGHT) <neu6@cdc.gov>; Mention <mention@noreply.github.com>
Subject: Re: [ICPI/DIV] develop PVA course evaluation - any Volunteers? (#114)

@shapaklyak<https://github.com/shapaklyak> , @kkale25<https://github.com/kkale25>
I can

[2019-05-14 19:05] shapaklyak opened #126 "DIV videos stored on pepfar.net"
mp4 and camtasia files stored at below link, including video 12 - calculated indicators

[General --> Clusters --> DIV --> Working Folder --> PVA_videos](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FDIV%2FWorking%20Folder%2FPVA%5Fvideos&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED34

[2019-05-14 19:36] kkale25 commented on #114
Here's the link: https://forms.gle/4GhLJvJRrV2jxdHP8

@shapaklyak I actually didn't change the question about comfort in this form to what you suggested. The questions are asking different things. The way the question was worded in the R training form doesn't give us information on whether the course itself improved their comfort on the specific task. So we couldn't compare their responses to anyt

[2019-05-14 19:51] randyyee commented on #114
@shapaklyak & @kkale25

Thanks! I've updated PVA with the course evaluation link.
![image](https://user-images.githubusercontent.com/34801151/57727664-143d2400-7660-11e9-8619-c24f9cb8a642.png)
Let me know what you think.

[2019-05-15 15:03] jb3436 opened #127 "PEPFAR Analytic Workspaces (PAWS) Lessons Learned"
Project Management

Dataset and Metrics

Software Specific

Site Level Analytics

[2019-05-17 16:09] #126 closed

[2019-05-17 16:10] shapaklyak commented on #118
@randyyee added quiz questions. thank you!

[2019-05-17 16:10] #118 closed

[2019-05-17 16:11] #114 closed

[2019-05-17 16:14] shapaklyak opened #128 "PVA course ready to launch"
- [x]  beta testing
- [x]  launch, contact sgac training.
- [x] include link & announcement in inbrief
- [x] include in ICPI huddle

[2019-05-20 18:47] kimisatoPC commented on #124
**DREAMS Dossier Review Completed**
Full review with screenshots posted on PEPFAR SharePoint [here](https://www.pepfar.net/OGAC-HQ/icpi/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FShared%20Documents%2FClusters%2FPrevention%2FWorking%20Folder%2FPanorama&FolderCTID=0x012000C815322C717A7E4B8164EA374FA254EC002682B939F9BED347BD49E43D77D3C691&View=%7B94C838B2%2DE166%2D4122%2D

[2019-05-20 19:20] pilarbullis commented on #124
@kimisatoPC - The notes about the DREAMS dossier you entered above should be in the Integration Testing ticket in the Analytics repo: https://github.com/pepfar-datim/Analytics/issues/2115. Please make sure to add them so the Panorama team can address the different items submitted.

Having said that, this dossier was approved as is by Shabeen here: https://github.com/pepfar-datim/Analytics/issues/8

[2019-05-20 21:18] kimisatoPC commented on #124
@pilarbullis @erinschelar Thanks for the heads up, Pilar! @shabeenally please see my feedback in the assigned ticket. I communicated with Caroline Cooney today about the DREAMS dossier, but she's not on Github, so I didn't tag her here.

[2019-05-20 22:02] shabeenally commented on #124
Hi Kimi, this ticket is specifically for Pano testing of these dossiers for Q2 release. Hope that helps clarify. Thanks!

---
Shabeen Ally, PhD
Epidemiologist
Office of the U.S. Global AIDS Coordinator and Health Diplomacy |
1800 G St NW, 10th Floor | Washington, DC 20006 |
Mobile: (404) 996-8904 | xlk1@cdc.gov<mailto:xlk1@cdc.gov>

From: Kimi Sato <notifications@github.com>
Sent: Monday, May 20,

[2019-05-21 16:52] anu87 commented on #124
Viral Load dashboards have FY19Q1 data in them

[2019-06-20 20:13] jb3436 commented on #128
Email to go out to ICPI Listserv
--
Dear ICPI ListServ,
Kindly forward this along to your colleagues whom we may have missed.

ICPI, through its Data Integration and Visualiation (DIV) Team, is excited to announce its first online course available in PEPFAR Virtual Academy, “PEPFAR: Between the Spreadsheets.”

Course Description:
PEPFAR Between the Spreadsheets: Learning how to Pivot the MER Struc

[2019-06-20 21:05] jb3436 opened #129 "FY19Q2 Clean Panorama Testing Schedule: June 24-26"
**Timeline**
Friday June 21 - Q2 clean data entry closes in DATIM
Monday 6/24 - Wednesday 6/26 - Pano dashboards available for testing in Dev
Friday , 6/28 - Pano Q2 clean release

**Scope - Instructions**
- Refer to the powerpoint for testing instructions (email from Pilar).
- Review **functionality** of each dashboard (remember to test OU/SNU, Partner/Mech, and Global if applicable)
- Review **d

[2019-06-21 17:28] jb3436 opened #130 "FY19Q3 PAWS to Panorama Development by ICPI"
FY19Q3 Schedule for Development and POCs (ICPI-Specific)
--

## Assignments
First 90 (Jacob)
Second 90 (Nicole, Michelle, Aliyah, Imran)
Third 90 (Anu, Yaa, Mackenzie, Imran)
HHS (Yaa, Travis, Mackenzie)
DREAMS (Kimi, Aliyah)
Age and Sex Disaggregates (Jacob)

## Timeline
FY19 Q3 Iterative timeline (dates may shift slightly):
June 3-14:  2 weeks of requirements gathering & discussions about gettin

[2019-06-21 17:36] jb3436 commented on #130
FYI @jaliasd @achafetz @cnichols3h @HoustonJamie @jla7 @wvp3

[2019-06-21 17:47] MicSherlock commented on #130
The 2nd 90 team is thinking that 1,2, 3 90 dossiers might only be needed at OU and site. We aren’t sure we need a Global, it’s so high level that we think CC dossier might cover it cover needs. Putting in the parking lot…

Michelle Williams-Sherlock, MPH
Epidemiologist
HCTB/DGHT/CDC

From: Jasmine Buttolph [mailto:notifications@github.com]
Sent: Friday, June 21, 2019 1:28 PM
To: ICPI/DIV <DIV@nore

[2019-06-21 17:54] jb3436 commented on #127
Copying Suggestions over from #all-paws-ondeck slack channel here before I archive it

[2019-06-21 17:55] jb3436 commented on #127
hope you're doing great. Quick question: As you know the dossier is currently in two separate dossiers, one pointing to the dynamic datasets and the other to another back-end dataset. Can the two dossiers be merged into one, still retaining their datasets? Thanks a ton!

*Questions from Related to HRH Dossier #3*
A few requests that are still outstanding for the dossier [human resources for health

[2019-06-21 18:01] jb3436 commented on #127
Add a label of which OU is selected into the visualization
![image](https://user-images.githubusercontent.com/13006198/59942185-ff0c9f80-942c-11e9-8cff-a9f7e577b4c2.png)

[2019-06-21 18:02] jb3436 commented on #127
HTML Code used in Pano Dossiers
<head>
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
main {
padding:15px;
font-family: 'Lato', sans-serif;
color: #00467F;
}
h1 {
  color: #002442;
}
h2{
font-size: large;
color: #002442;
}
p{
font-size: large;
line-height: 1.5;
}
ul{
font-size: large;
line-height: 1.5;
}
</style>
</head>
<main>
<h1> Dossier Name</h

[2019-06-24 19:33] jb3436 opened #131 "HSS Dossier Development"
Dossier Development
--
### HSS Dossier
**Checklist of Milestones**
- [ ] Requirements Document Submitted
- [ ] Requirements Document Feedback Received/Incorporated and Resubmitted
- [ ] Requirements approved
- [ ] Dossier development begins in [Pano PAW Dev Environment HERE](https://dev-workspaces.pepfar-panorama.org/MicroStrategy/asp/Main.aspx:)
- [ ] Initial check In with systems
- [ ] Second ch

[2019-06-24 22:18] jb3436 opened #132 "Second 90 Dossier Development"
Dossier Development
--
### 2nd 90 Dossier FY19Q3
**Assignees**:  Nicole, Michelle, Aliyah, Imran
All comments and issues for the systems team should be documented in the analytics repo:

**Provide updates in Analytics Repo**
Single OU pepfar-datim/Analytics#2193
Global pepfar-datim/Analytics#2194

**Checklist of Milestones**

**Requirements** :pencil:
- [x] Stakeholder feedback solicited on requir

[2019-06-24 22:19] jb3436 opened #133 "3rd 90 Dossier Development"
Dossier Development
--
### 3rd 90 Dossier FY19Q3
Assignees:  Anu, Yaa, Mackenzie

**Checklist of Milestones**

**Requirements** :pencil:
- [ ] Stakeholder feedback solicited on requirements document  (confirm that all POCs were given opportunity to provide input or at least acknowledged receipt)
- [ ] Requirements Document Submitted
- [ ] Requirements Document Feedback Received/Incorporated and Re

[2019-06-24 22:21] jb3436 opened #134 "DREAMS Dossier Development"
Dossier Development
--
### 3rd 90 Dossier FY19Q3
Assignees:  Kimi, Erin, Aliyah

**Checklist of Milestones**

**Requirements** :pencil:
- [ ] Stakeholder feedback solicited on requirements document  (confirm that all POCs were given opportunity to provide input or at least acknowledged receipt)
- [ ] Requirements Document Submitted
- [ ] Requirements Document Feedback Received/Incorporated and Res

[2019-06-24 22:23] jb3436 opened #135 "First 90 Dossier Development"
Dossier Development
--
### 1st  90 Dossier FY19Q3
Assignees:  Jacob (Primary) - For input: Shaylee, Randy , Shazad, Shabeen

**Checklist of Milestones**

**Requirements** :pencil:
- [ ] Stakeholder feedback solicited on requirements document  (confirm that all POCs were given opportunity to provide input or at least acknowledged receipt)
- [ ] Requirements Document Submitted
- [ ] Requirements Doc

[2019-06-24 22:27] jb3436 opened #136 "OVC Dossier Development"
Dossier Development
--
### OVC  Dossier FY19Q3 Clean or FY10Q4
Assignees:  Erin, Jenny,
All comments and issues for the systems team should be documented in the analytics repo:

Global pepfar-datim/Analytics  TBD

**Checklist of Milestones**

**Requirements** :pencil:
- [x] Stakeholder feedback solicited on requirements document  (confirm that all POCs were given opportunity to provide input or at

[2019-06-24 22:28] jb3436 opened #137 "PMTCT Dossier Development"
Dossier Development
--
### PMTCT Dossier FY19Q3 Clean or FY19Q4
Assignees:  Katie
All comments and issues for the systems team should be documented in the analytics repo:
Global pepfar-datim/Analytics  TBD

**Checklist of Milestones**

**Requirements** :pencil:
- [x] Stakeholder feedback solicited on requirements document  (confirm that all POCs were given opportunity to provide input or at least

[2019-06-24 22:29] jb3436 opened #138 "TB Dossier Development"
Dossier Development
--
### TB Dossier FY19Q4
Assignees:  Catherine, Meagan, Shaylee
**Provide updates in Analytics Repo**
All comments and issues for the systems team should be documented in the analytics repo:

Global pepfar-datim/Analytics  https://github.com/pepfar-datim/Analytics/issues/2422

**Checklist of Milestones**

**Requirements** :pencil:
- [x] Stakeholder feedback solicited on require

[2019-06-25 15:29] kimisatoPC commented on #129
@jb3436 @KatieOC I don't see a ticket to post my DREAMS dossier feedback, [this is the one](https://github.com/pepfar-datim/Analytics/issues/2115) assigned for Q2 initial, should I post in there?

[2019-06-25 15:45] anu87 commented on #130
Result Cumulative metric not available in Dev environment:

Dev Env:

![image](https://user-images.githubusercontent.com/17214140/60112932-b7dd2200-973e-11e9-932f-6d5dc1e44b66.png)

Production Env:

![image](https://user-images.githubusercontent.com/17214140/60112814-8401fc80-973e-11e9-8bf2-e54faa987540.png)

[2019-06-25 15:48] anu87 commented on #130
Dev environment is extremely slow - it takes >15 minutes every time to load PSNU level data for one OU.

[2019-06-25 16:03] reneerace commented on #129
HTS_Index Dossier - https://github.com/pepfar-datim/Analytics/issues/2251
DREAMS Dossier - https://github.com/pepfar-datim/Analytics/issues/2115
GEND_GBV Global Dashboard - https://github.com/pepfar-datim/Analytics/issues/2114
Cervical Cancer Dossier - https://github.com/pepfar-datim/Analytics/issues/1718

[2019-06-25 20:41] jb3436 commented on #130
Check in With Dossier POCS 6/25
--
**Discussed:**
- expectations around timeline and will send out calendar invites for check ins
- expectation to check in regularly with stakeholders throughout the process
- use of GH and slack channel for open communication
- best practice of building in PAW prod and not worrying about dev until later in July

**Action Items**
- Jasmine to send follow up summary

[2019-06-25 21:11] jb3436 commented on #127
Building in Dev directly didn't work due to user permissions issues.
Recommendation is to build in PAW and then copy over to DEV later on. This improves visibility and reduces need for special access to DEV

[2019-06-26 17:20] jb3436 commented on #127
Multiple People working on a Dossier
--
**Question**: have users faced issues when multiple users work in the same dossier and try to save their work simultaneously? is there a way to avoid over-writing each other's work?
**Answer**: More than one person making changes to the same object at the same time is definitely a problem (and a potential cause of metadata corruption).

**Question**: If not

[2019-06-26 17:21] jb3436 commented on #127
Color Palettes
-
For Microstrategy out of the box visuals (OOTB) ues below
![image](https://user-images.githubusercontent.com/13006198/60201013-563bb700-9815-11e9-87e8-4b9e480b7f6d.png)

For Vitara Charts Use below
![image](https://user-images.githubusercontent.com/13006198/60200982-4ae88b80-9815-11e9-9fa7-f562b14a54cd.png)

[2019-06-27 21:39] jb3436 opened #139 "PAW Dev Issues"
Documenting Issues and Resolutions in Pano Dev for First Round of Development
--
**Issue** Transparency of dev dossiers if people are unable to see dev environment
**Resolution**: Add additional users to Dev environment

**Issue**:
User permissions: the analysts don’t have the right permissions in the dev environment to do what they need to do
**Resolution**:
We have compared the privileges and pe

[2019-06-28 16:41] jb3436 commented on #133
Status
--
Had some issues in Dev - resolved all of those that were discussed. - see GH ticket in analytics repo

Had screenshare session with pano dev team
Met with Joseph K for additional tips on how to build in MS
On track

[2019-06-28 19:05] Yabayabadoo commented on #131
@ Pilar, the generic dynamic metrics dataset doesn't  include HRH_PRE in the indicator options. Can we please have it added?

[2019-06-28 20:50] jb3436 commented on #131
@Yabayabadoo going to comment in analytics repo.

[2019-06-28 22:33] jb3436 opened #140 "PEPFAR Analytic Workspaces (PAW) User Groups"
ICPI User Groups in MSTR - Analytic Workspaces
--

### User Group Definitions:
ICPI #IN = ICPI Members who are in DC
ICPI #OUT = ICPI Members who are not in DC
ICPI #Collaborators = Affiliates of ICPI who would like to work in/see ICPI PAWS workspace
ICPI #PREVIEW = temporary members given access to see in progress work

### Purpose
To more easily manage ICPI list of users in PAW

### Process
Mast

[2019-07-01 18:16] #128 closed

[2019-07-08 18:32] kimisatoPC commented on #134
@janholcombe Please create a narratives dataset that includes AGYW_PREV and DREAMS implementation narratives to build out Narratives chapter in DREAMS dossier.

Screenshot of the DATIM data entry screen:

![image](https://user-images.githubusercontent.com/36009724/60833727-e7534c00-a18c-11e9-8498-45b0d2f6286f.png)

Also, please edit HTML box on DREAMS Overview page to say "HTS_TST_POS" not "HTST_T

[2019-07-08 21:45] jb3436 commented on #139
Visualizations Plug In Update
--
From Rachel 7/18:
We are adding the visualizations plug-ins that were in Production, but not yet in PAW Development for you to use in the Panorama for Content Developers.

To pick up these visualization, we need to restart the Web Server.

[2019-07-08 21:48] jb3436 commented on #127
Fine Age 2019 vs. TrendsFine Age 2019 Question
--

- **Q:**    What is the difference between "Fine Age 2019" and "TrendsFine Age 2019"?
- **A:**    TrendsFine Age 2019 will use the same age grouping as Fine Age 2019, but unlike Fine Age 2019 it can be used when wanting to show trends for previous years (FY16, 17 and 18)

### Example:
- if using Fine Age 2019, all results and targets for previous

[2019-07-08 22:09] jb3436 commented on #130
2nd Systems Check In with Dossier POCs 7/8
--

- **Workplan**
  - Janice walked the group through the excel workplan
  - ACTIONS:
    - Janice to send a copy of the workplan
    - Jasmine to maintain updates

- **1st 90 Dossier** Custom dataset created
  - Joseph following the requirements document
  - May import some of the visuals from existing dossiers
  - Janice will help with the importing

[2019-07-08 22:10] janholcombe commented on #134
@kimisatoPC The dataset is now in the DREAMS folder and it is called Narratives - DREAMS. Here is the dataset definition:

![image](https://user-images.githubusercontent.com/25203259/60844264-c39cff80-a1a6-11e9-81df-31d0ddb974c0.png)

I changed the typo in the Overview page. I will add the dreams logo tomorrow as I need to save it in the server itself. I will let you know once that is done.

[2019-07-09 12:48] kimisatoPC commented on #134
@janholcombe  I'm getting an error message when I try to add more than one DREAMS OU in the Narratives dataset. Is it not possible to add all 15 like I've done with the Q3 dataset? Thanks.

[2019-07-09 16:20] jb3436 commented on #131
Update from Travis on 7/2
--
For those of you who weren’t able to make it to the HSS dossier office hours or the PAWS-to-pano meeting yesterday with DataStrong, here are some key takeaways:

1. From now on, please log any and all issues using the standing ticket for the entire dossier on the PEPFAR-DATIM GitHub (not ZenDesk), ticket numbers #2197 & #2198.  Don’t create separate tickets for each is

[2019-07-09 16:21] jb3436 commented on #134
These comments were also copied over to the analytics repo for consistent tracking of issues and updates.

[2019-07-09 21:01] jb3436 commented on #138
Requirements document template shared with Catherine. She will begin working on it with Meaghan Peterson.
Provided caveat that metrics creation portion of requirements document still needs massaging

[2019-07-09 21:27] janholcombe commented on #134
@kimisatoPC I removed the prompt for both datasets since we are making this a global dossier. Let me know if you run into issues.

[2019-07-10 15:37] jb3436 commented on #131
Adding @ERottinghaus  to the analytics repo and to dev to support Mala in building out the  lab visuals

[2019-07-11 15:38] jb3436 commented on #127
Swapping Out Derived Metrics for Systems Metrics
--
Once systems metrics are created, you must swap your derived metrics for the systems metrics. This should not take too long and it is important to build first and make sure the visuals function instead of waiting for the metrics.

[2019-07-11 15:45] jb3436 commented on #130
3rd Systems Check In 7/11
--
**Room** : Katie, Anu, Shaylee, Aliyah, Nicole, Jasmine , Joseph, Travis
**Phone** : Janice, Kimi, Renee, Mackenzie, Erin, Jeff, Jamie, Yaa, Jacob

- **General Updates**
  - Levels Dataset - should we consolidate
  - Agency and SNU3 added
  - Creating the case statement
  - Schema overview and Maps PPT
    - Need to play around the layers in the map
    - They are all

[2019-07-11 15:54] jb3436 commented on #127
Geo spatial Relationship Thoughts
--
From Jacob 7/11
RE: Pano Requirements and development milestones

Important point for all dossiers: I think we need to be clear on “geospatial relationship” which is probably better said as “geospatial dynamic” or some such (Nate can please chime in here) Everything can and will be map-able in the mapping dossier. There needs to be a particular justification to

[2019-07-20 02:17] jb3436 opened #141 "OGAC Stakeholder Dossier Review Session"
Review Session for OGAC Stakeholders
--
Activity: Hosted a review session for OGAC Stakeholders
**Objectives**
- ensure stakeholders were aware of progress, fucntionality, and questions being prioritized in dossier
- solicit feedback on questions and functionality
- share the feedback with the dossier POCs

Summary
--
- OGAC stakeholders had similar feedback to ICPI stakeholders and Jacob Dee on D

[2019-07-22 18:09] jb3436 opened #142 "Create Developer Checklist for Finalization of Dossiers"
Checklist should cover:
- Content
- Polish - Style Guide
- Cover Page
- Page by Page
- Selectors
- Layout
- Follow Up items

[2019-07-22 19:11] jb3436 commented on #142
Notes 722 Discussion
--
Jacob, Jasmine, Jamie

**Timeline**
Schedule a check in a bi-weekly check in for all of the dossiers

**Finalization of items**
Content
Polish
HTML Cover Page
Style Elements
All OU - Global Versions

**Do a Monday check in and a Wednesday check in until the end of the session**
1st 90
Prevention
2nd 90
3rd 90
HSS

Pull in info from
HRH dashboard and
3rd 90 dashboard

**Ques

[2019-07-23 15:06] kimisatoPC commented on #134
@janholcombe Is it possible to change the wording of the completion disaggs? Per a request from Caroline Cooney, we updated the DREAMS excel dashboard to reflect these changes but they would also like them changed in the DREAMS dossier.

Previous   wording of completion disaggs | Desired wording
-- | --
DREAMS Not Completed | Primary Package Not Completed
DREAMS Fully Completed | Primary Package C

[2019-07-23 18:06] kimisatoPC commented on #134
@janholcombe Can you please add TrendsFine2019 to the DREAMS dataset Q3 NEW? I'm not seeing it as an option.

![image](https://user-images.githubusercontent.com/36009724/61735949-0cca8300-ad53-11e9-98bf-10ce955a7d07.png)

[2019-07-24 16:45] KatieOC commented on #142
Check-in with dossier developers on Tuesday, July 23

2nd 90:
-team is having 2 check-ins a week with Jamie so no further check-ins with DIV needed
- pending case statements for the level selectors
-pending age/sex into separate level selectors (asked Joseph for code but didn’t work) but will follow-up with them after this meeting
-pending merge but planning on working on this after this meeting
-

[2019-07-25 21:14] jb3436 opened #143 "Pano Style Guide and Checklist for Dossier Finalization"
Style Guide and Checklist
--

- [ ] Finalize the Style Guide V1.0
- [ ] Create a cheklist based off of the style guide for analysts building dossiers to use to finalize/polish their work before it is handed over to production

Final Documents
--

SharePoint Link

[2019-07-26 19:45] jb3436 commented on #142
Checklist and Style Guide attached to issue #143
[Checklist for Dossier Development Finalization July242019_V3](https://github.com/ICPI/DIV/files/3437216/Checklist.for.Dossier.Development.Finalization.July242019_V3.docx)

[2019-07-26 19:46] jb3436 commented on #134
DREAMS Check In Tuesday July 23:
-next check-in with Jasmine on Friday, anticipate being 95% complete
-Kimi and Erin both out next week, Kimi asked Aliyah to support DREAMS dossier if anything comes up next week

[2019-07-26 20:05] jb3436 commented on #132
Check-in with dossier developers on Tuesday, July 23

2nd 90:
-team is having 2 check-ins a week with Jamie so no further check-ins with DIV needed

pending case statements for the level selectors
-pending age/sex into separate level selectors (asked Joseph for code but didn’t work) but will follow-up with them after this meeting
-pending merge but planning on working on this after this meeting
-t

[2019-07-26 20:05] jb3436 commented on #133
3rd 90:
-next check-in on Tuesday
-Anu on TDY this week but will work on outstanding items either during TDY or once she gets back
-Yaa to follow-up with polishing items once Anu makes outstanding changes
-will accept support from Pooja and Lachandra for non-technical matter

[2019-07-26 20:06] jb3436 commented on #131
HSS:
-need to schedule several more check-ins between now and launch
-still need to find the sweet spot of conveying simple ideas and complex ideas so that the end user who is not a HSS expert can follow
-suggest seeking feedback from PPM (suggestion Sally Blatz)
-need to incorporate feedback from Jacob
-need to work closely with Rebecca and Janice for more frequent communications to resolve any o

[2019-07-26 20:43] jb3436 commented on #142
Checklist for Dossier Finalization
--

**Objective** :  To ensure Panorama analyses present visualizations with a consistent look and feel. This checklist is a reminder of items to review as analysts polish their dossiers.

This is also an opportunity to document what is done and what is outstanding.

**Requirements Fidelity**

**Anatomy**

- Cover page with content in HTML format [https://github.

[2019-07-26 20:44] #140 closed

[2019-07-30 20:15] jb3436 commented on #131
Check in with stakeholders 7/25
Check in with PET/PPM 7/30

[2019-07-30 20:32] jb3436 commented on #131
Program Management

- May not be able to show this across partners - it could be misleading if we take out personnel from program management
- We should include personnel listed as program management  (recommendation from PET)
- We should look at the data to fix the data quality concerns
- show the breakdown and then insert a  caveat and make the data better in follow up
- HRH - Cameroon looked at

[2019-08-02 16:30] jb3436 commented on #130
6th and Final Systems Check in 8/1
--
Attendance:
**Phone** :  Kimi (in TZ), Anu (in India), Jacob (in DRC), Yaa, Renee, Erin, Mackenzie, Katie, Nicole, Aliyah, (others on the line I missed)
**In Person:**  Janice, Pilar, Rachel, Jamie, Pooja, Henry, LaChandra, Travis, Alice, Jasmine

Notes and Actions
--

- **3rd 90 -**
  - Removed all the extra items and pages
  - Almost done with all the visual

[2019-08-02 20:03] jb3436 commented on #131
After consultation with agency subject matter experts over the past several days, we have been asked to make changes to certain visuals and need to therefore request a few additional system custom derived metrics and attributes:
Attributes
1.	EMR_Site_treatment_exists = yes if EMR_SITE = 1 for the disaggregate option "service delivery area: care & treatment" and no if EMR_SITE = 0 (for that same d

[2019-08-02 20:04] jb3436 commented on #131
Team has been asked to hold off on two pages in the ER chapter as the SMEs have expressed concern at a late stage of development and we will be unable to find a compromise by the deadline.  The visuals will be worked on with SMEs and released for Q3 clean.

[2019-08-02 21:20] jb3436 commented on #143
# **Checklist for Dossier Finalization**

**Objective** :  To ensure Panorama analyses present visualizations with a consistent look and feel. This checklist is a reminder of items to review as analysts polish their dossiers.

This is also an opportunity to document what is done and what is outstanding.

 **Dossier Checklist**
--

**Requirements Fidelity**

**Anatomy**

- Cover page with content i

[2019-08-03 18:10] jb3436 commented on #130
HOLD

[2019-08-03 18:10] jb3436 commented on #130
HOLD

[2019-08-05 14:02] jb3436 commented on #130
Final Fixes Notes
Hi all,

We are almost at the finish line. The dossiers need to be migrated today. However there are still some issues to address to make the dossiers ready for Q3 initial release. Here are the final issues to address for your dossiers to go forward. Most of these are very quick fixes.

There is no shame in kicking off a problematic page until a fast follow.

2nd 90:
•	To make th

[2019-08-05 15:18] jb3436 commented on #130
**Today’s Timeline:**
11:00am – 1:00PM

- Pano Server upgrade and changing server instance (DEV DOWN during this time)
- Dossier POCs  - prepare responses and plan to address final fix comments from Jacob (ACTION)

1:00PM – 5:00PM

- Dossier POCs make formatting, context, content layout udpates to make dossier visually 100% ready to go (ACTION)
- Catalog items that are outstanding in terms of filt

[2019-08-05 23:00] jb3436 commented on #134
Handover to systems 8/5 at 10:00am

[2019-08-05 23:17] jb3436 opened #144 "Prevention Dossier Development"
Dossier Development
--
### Prevention Dossier FY10Q4
Assignees:  Kimi, Kayla, Jenny Albertini (program poc)
All comments and issues for the systems team should be documented in the analytics repo:
Global pepfar-datim/Analytics  TBD

**Checklist of Milestones**

**Requirements** :pencil:
- [x] Stakeholder feedback solicited on requirements document  (confirm that all POCs were given opportunity to

[2019-08-06 18:22] jb3436 commented on #133
Follow Up
1.	P2: Org level should be on top and FY on bottom so that the FYs are next to each other when you have multiple comparators (like you have for p3)
a.	Adjust formatting for container
2.	P4:
a.	fine age 2018 should be fine age 2019 (this is on multiple pages) (not dealbreaker—can be done later)
i.	Discussed w  Jacob - agreed to keep 2018 for now.
b.	graphs are missing secondary % axis.
i.

[2019-08-09 17:42] kimisatoPC commented on #134
Request to add link to [DREAMS excel-based dashboard](https://www.pepfar.net/OGAC-HQ/icpi/Products/Forms/AllItems.aspx?RootFolder=%2FOGAC%2DHQ%2Ficpi%2FProducts%2FICPI%20Approved%20Tools%20%28Most%20Current%20Versions%29%2FDREAMS%20Dashboard&FolderCTID=0x0120004DAC66286D0B8344836739DA850ACB95&View=%7B58E3102A%2DC027%2D4C66%2DA5C7%2D84FEBE208B3C%7D) on Overview page

[2019-08-12 15:43] jb3436 commented on #133
Handed over to dev

[2019-08-12 15:50] jb3436 commented on #127
Filtering visuals to exclude outliers
--

![image](https://user-images.githubusercontent.com/13006198/62878598-63deca80-bcf7-11e9-91c6-960645d781a4.png)

![image](https://user-images.githubusercontent.com/13006198/62878612-69d4ab80-bcf7-11e9-9e24-52b93b1adedd.png)

[2019-08-12 22:50] jb3436 opened #145 "FY19Q3 Panorama Testing 8/19-8/20"
# Testing Timeline and Instructions

## Timeline
Thursday August 15 - Q3 data entry closes in DATIM
Monday 8/19 - Tuesday 8/20 QC Pano dashboards/dossiers in dev
Thursday, 8/22 - Pano Q3 release

## Scope - Instructions

See attached SOP for detailed instructions [SOP for Pano Dossier Testing _FY19Q3_08122019.docx](https://github.com/ICPI/DIV/files/3494843/SOP.for.Pano.Dossier.Testing._FY19Q3_0812

[2019-08-12 23:21] #38 closed

[2019-08-14 13:50] nmcarloni commented on #145
@jb3436 I'll be on TDY next week so @aliyahwakil will do the pano testing for VMMC. Still looking for someone to cover Treatment Summary OU and Partner/Mech

[2019-08-16 19:54] pilarbullis commented on #145
@jb3436 A few of the dossiers and dashboards assigned above are being retired in FY19Q3, so they will not be in the landing page on Monday.

Please see: https://github.com/pepfar-datim/Analytics/issues/2212#issuecomment-522067496

[2019-08-19 15:13] jb3436 commented on #145
I removed the deprecated dossiers from the list above. Thanks for the reminder Pilar.

[2019-08-19 15:43] reneerace commented on #145
CHIPS is depreciated as well.

[2019-08-19 16:14] jb3436 commented on #143
<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/D85CCJHBR/p1565739769000500)</sub>

[2019-08-19 16:16] jb3436 opened #146 "FY19Q3 Fast Follow or FY19Q4 To Do List"
#### Cross Cutting Issues

FY19Q3 Clean
- [ ]  Global Versions of single OU dossiers
- [ ] PSNU needs to be added and drop SNU2 and SNU3 for performance issues
- [ ] Male and female colors applied backwards in a few places. Males = purple and females = teal. in new dossiers, colors applied htis way, in older ones it is flipped.
- [ ] Color Scheme
- [ ] Inclusion of Notes
- [ ] Selector Location
-

[2019-08-19 16:18] jb3436 commented on #146
Q: What have people been doing with dedup for the org level selector?

R: people have been leaving it in. there is a way around this

R: Let's investigate for Fast follow or Q 4 for consistency

<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/C9QPHK324/p1566227852088100)</sub>

[2019-08-19 16:23] jb3436 commented on #146
Provide default preferences for filters, etc for each page

[2019-08-19 16:25] jb3436 commented on #146
Find solutions to unclump scatter plot visuals

<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/C9QPHK324/p1565122594041900)</sub>

[2019-08-20 03:28] jb3436 commented on #146
make sure values for PMTCT_STAT targets in dreams dossier are correct.

[2019-08-20 19:26] jb3436 commented on #146
PSNU needs to be added or SNU1 needs to be rationalized to be PSNU -- &gt; decide by Fast follow**
<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/D85CCJHBR/p1566329176002100)</sub>

[2019-08-20 19:32] jb3436 commented on #146
<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/D85CCJHBR/p1566329559002600)</sub>

[2019-08-21 14:48] jb3436 commented on #146
Create a training on process and steps
Emulate QC process earlier
Think of style guide temporality

[2019-08-21 15:33] jb3436 commented on #146
<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/C84RN5TJT/p1566401556044300)</sub>

[2019-08-21 16:52] KatieOC opened #147 "FY19Q4 PAWS to Panorama Development"
# FY19Q4 Schedule for Development and POCs

See below for assignments, instructions, quick links, and basic status updates. Comments on issues related to development should happen in the github issues in the analytics repo and general questions/suggestions in slack on the #analytic_workspaces channel or via direct message.

## Assignments
_POCs please update assignments as they adjust_
https://dev

[2019-08-21 18:10] jb3436 commented on #146
<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/D83L7E3FS/p1566410854014300)</sub>

[2019-08-21 18:15] jb3436 commented on #146
Review Comments from Jamie on Clinical Cascades
--
Need to make sure they are 100% for the fast follow

Clinical Cascade:

1) Overview:

A) For the top left graphic the results are missing unknown age and aggregated age for HTS_TST (likely for all indicators) but its represent as HTS_TST – N.   Why not just use the Total Numerator disag here?
![image](https://user-images.githubusercontent.com/1300

[2019-08-21 19:16] jb3436 commented on #146
Male and female colors applied backwards in a few places. Males = purple and females = teal.  in new dossiers, colors applied htis way, in older ones it is flipped.

[2019-08-21 20:44] jb3436 commented on #146
HSS Dossier
Can we exclude HRH_CURR, and TX_NET NEW? There are no targets for these indicators so achievement in blank (this could be for a FF) - please advise
![image](https://user-images.githubusercontent.com/13006198/63467241-fa676600-c432-11e9-8b67-7f45b9e96ce9.png)

[JH] - There is no clean way to filter the selector in a page that would not affect other visuals. We can brainstorm on options

[2019-08-22 01:18] jb3436 commented on #146
PreP Dossier

#### Pg 3: Prep Use Segmented by...

### Suggestion for future release
- remove KP_PREV from the chart on the right and put it with the other "context setting indicators/denominators on the left - so the left chart will show the breakdown by HTS and KP, then the chart on the right, we will be able to see the distribution in PrEP CURR and NEW, which are obscured by the large volumne o

[2019-08-22 01:43] jb3436 commented on #146
Fast Follow Suggestion
CH: HRH Support Overview
Pg. 4: HRH Staff Provider patient ratio
Did we agree to leave the test on visual for fast follow up?
Thanks all! @pilarbullis comment has a type should say text where Provider Patient ratio is hovering in bottom right hand corner. Not urgent.

[2019-08-22 01:47] jb3436 commented on #146
Global versions

[2019-08-22 01:58] jb3436 commented on #146
Now that the org level selectors work well and we have Partner IM filters on each dossier, can we deprecate the "agency and Geography" versions of the clinical cascade?

I think we should keep Single OU and Global and refine those two and deprecate the rest.

[2019-08-22 14:13] jb3436 opened #148 "Update Requirements Doc for PAW-Pano Development"

[2019-08-22 14:13] jb3436 opened #149 "Update Style Guide for Q4 Panorama"

[2019-08-22 14:13] jb3436 opened #150 "Update Checklist for Dossier Development"
https://github.com/ICPI/DIV/issues/143

[2019-08-22 14:13] jb3436 opened #151 "Update Testing SOP for Pano Q4"

[2019-08-22 19:26] jb3436 commented on #146
Age and Sex Disaggregates (Jacob)
Single OU pepfar-datim/Analytics#2205
Global pepfar-datim/Analytics#2206

[2019-09-12 17:52] jb3436 opened #152 "Data Tables Dossier Development"
Dossier Development
--
### Data Tables
Assignees:  - Janice and Pilar (Analytic POCs)
Program POC - Shared/TBD

**Provide updates in Analytics Repo**
All comments and issues for the systems team should be documented in the analytics repo:
https://github.com/pepfar-datim/Analytics/issues/2206

**Checklist of Milestones**

**Requirements** :pencil:
- [ ] Stakeholder feedback solicited on requirement

[2019-09-16 13:46] jb3436 commented on #77
Deployed.

[2019-09-16 13:46] #77 closed

[2019-09-16 13:56] jb3436 commented on #89
This process is in place as part of Jacob's panorama evoluation process. The steps are now outlined in the "management document" and all documents are in SharePoint

[SP Link to Panorama Evoluation Documents
](https://www.pepfar.net/Project-Pages/collab-38/PanoramaEvolution/Forms/AllItems.aspx)

[2019-09-16 13:56] #89 closed

[2019-09-16 13:57] jb3436 opened #153 "Cervical Cancer Dossier Update Development"
Dossier Development
--
### Cervical Cancer Dossier Update FY10Q4
Assignees:  Kayla and Shabeen
All comments and issues for the systems team should be documented in the analytics repo:
Global pepfar-datim/Analytics  https://github.com/pepfar-datim/Analytics/issues/2204

**Checklist of Milestones**

**Requirements** :pencil:
- [ ] Stakeholder feedback solicited on requirements document  (confirm tha

[2019-09-17 18:45] jb3436 opened #154 "Review of Requirements Documents FY19Q4"
# Review of Requirements Documents
As part of the management process to develop in Panorama, first a requirements document that has been reviewed by the technical inter agency community (including OGAC) needs to be submitted for review to ensure it meets the vision of the pano redesign and is consistent with the rest of the platform.

## Requirements Documents Received
- [ ] Prevention
- [x] OVC
-

[2019-09-17 18:52] jb3436 commented on #154
### Requirements Documents Reviewed and Feedback Shared
 - [ ] Prevention
- [ ]  OVC
- [ ]  TB/HIV
- [ ]  PMTCT
- [ ]  Cervical Cancer
- [ ]  KP

[2019-09-18 14:11] jb3436 opened #155 "Metrics Template for Pano Dossiers"
## Example from Janice
Parent Issue in Analytics Repo https://github.com/pepfar-datim/Analytic_Workspaces/issues/633

### Example of How to request metrics for dataset for dossier
Metrics to be added to the MER Quarterly datasets (all using Results):

- [x]  Yield: HTS_TST_POS/HTS_TST
- [x]  Linkage: TX_NEW/HTS_TST_POS
- [x]  Not Linked: HTS_TST_POS - TX_NEW
- [x]  Retention: TX_NET_NEW/TX_NEW
- [

[2019-09-18 19:52] jb3436 commented on #142
Task complete - will update other ticket with style guide and checklist as it evolves per quarter

[2019-09-18 19:53] #142 closed

[2019-09-20 16:11] KatieOC opened #156 "FY19Q3 Clean Panorama Testing 9/24 - 9/25"
# Testing Timeline and Instructions

## Timeline
Friday August 20 - Q3 clean data entry closes in DATIM
Tuesday 9/24 - Wednesday 9/25 QC Pano dashboards/dossiers in dev
Friday, 9/27 - Pano Q3 release

## Scope - Instructions

See attached SOP for detailed instructions [SOP for Pano Dossier Testing _FY19Q3_08122019.docx](https://github.com/ICPI/DIV/files/3494843/SOP.for.Pano.Dossier.Testing._FY19Q3

[2019-09-20 16:13] KatieOC commented on #156
@jb3436 can you review above ticket for errors. Should we add global dossiers to the above?

[2019-09-20 16:33] jb3436 commented on #156
Will review asap

[2019-09-20 17:00] jb3436 commented on #156
@KatieOC minor edits. Looks good. Global dossiers will be for FY19Q4 I think

[2019-09-24 01:05] reneerace commented on #156
@jb3436 SIMS Dashboard - pepfar-datim/Analytics#525 is depreciated. Do you want me to assign Megan to #2119?

[2019-09-24 15:05] jb3436 commented on #154
## Guiding Questions for Review
- Is it in line with other dossiers
- Comprehensive analytic questions  in line with other dossiers - a portion of these will be inserted in each page in the dossier
- Make sure questions are routine monitoring questions and not ad hoc one off analytic questions that will time out of utility quickly

## Dossier addresses multiple audiences:
- S/GAC Front Office
- S/

[2019-09-24 15:38] pilarbullis commented on #156
@jb3436 Please update/note that for SIMS testing, this ticket is being used instead: https://github.com/pepfar-datim/Analytics/issues/2410.

[2019-09-24 20:08] KatieOC commented on #137
Tentative timeline:

Sept 27: Katie holds 1:1 with DS without Nicole
Oct 10: Nicole attends group dossier check-in (hopefully Katie can call in from Switzerland)
Oct 16: hold first stakeholder progress update
Oct 17: second group dossier check-in
Oct 24: final group dossier check-in
Nov 1: final stakeholder progress update

[2019-09-24 22:06] jb3436 commented on #147
## Dataset check ins (1:1) week of 9/24
- [ ] Prevention
- [ ] TB/HIV
- [ ] OVC
- [ ] PMTCT
- [ ] Mapping

[2019-09-25 14:46] jb3436 commented on #156
@pilarbullis  I updated the ticket. Thanks!

[2019-10-02 17:33] KatieOC commented on #137
Updated timeline:
10/2: Met with systems to discuss dataset and review data map.
10/3: 1st systems check-in (Katie to call in for partial meeting)

[2019-10-17 14:26] jb3436 opened #157 "Map Dossier Development"
Dossier Development
--
### Map Dossier FY19Q4
Assignees:  Keifer, Ed, Nate
**Provide updates in Analytics Repo**
All comments and issues for the systems team should be documented in the analytics repo:

Global pepfar-datim/Analytics  https://github.com/pepfar-datim/Analytics/issues/2424

**Checklist of Milestones**

**Requirements** :pencil:
- [x] Stakeholder feedback solicited on requirements doc

[2019-10-17 14:30] jb3436 commented on #127
# Sorting values
first create a grid, THEN convert it to your visual

[2019-10-17 15:16] #149 closed

[2019-10-18 15:12] hessionra commented on #127
<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/C9QPHK324/p1571324845001100)</sub>

[2019-10-18 15:45] jb3436 commented on #146
<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/C9QPHK324/p1570652109005200)</sub>

[2019-10-18 17:14] jb3436 commented on #127
<sub>[View in Slack](https://icpi-pepfar.slack.com/archives/C9QPHK324/p1571416905006300)</sub>

[2019-10-29 14:23] NateHeard commented on #157
I don't see the following calculated indicators in the mapping data. @janholcombe @HoustonJamie Can I confirm that we have decided to not include these in Q4?

- FY19_TX_CURR_SUBNAT/PLHIV
- FY19_VL_SUPPRESSION_SUBNAT/TX_CURR_SUBNAT
- FY19_DIAGNOSED_SUBNAT/PLHIV
- FY19_TX_CURR_SUBNAT/FY_19_DIAGNOSED_SUBNAT

[2019-10-29 14:26] NateHeard commented on #157
@janholcombe Is it too late to add an agency filter option to the dossier? Also, the sex categories I see in the sex filter are (All), All Sexes, and Sex. Not M, F, Unkown.

[2019-10-29 14:38] HoustonJamie commented on #157
@NateHeard @janholcombe in follow up to the meeting on Friday I think Janice was going to check to see if these were available in the in process data?

I think I was supposed to review the FY18 data entry screens to confirm if it is in the same structure, I just tried to review the FY18 data entry screens, but DATIM Zendesk is down.  DATIM is aware and working to fix, but will check again later to

[2019-10-29 19:33] NateHeard commented on #157
Thank you so much!

[2019-10-31 14:20] NateHeard commented on #157
The name of the final draft is “Mapping Dossier”.

Data Layers NOT being used in the Mapping Dossier

Data (Green):

- Fiscal Quarter
- Fiscal Year
- Operating Unit
- SNU 1
- SNU 2
- TrendsFine Age 2019
- Level selector
- Level selector 1
- New attribute
- New attribute 1

Metrics (Yellow):

- % Achievement
- Result
- Result Cumulative
- Row Count
- Target

[2019-11-06 18:09] KatieOC opened #158 "FY19Q4 Initial Panorama Testing Dates 11/19-11/20 COB"
# Testing Timeline and Instructions

## Timeline
Friday 11/15 - initial Q4 clean data entry closes in DATIM
Tuesday 11/19 - Wednesday 11/20 QC Pano dashboards/dossiers in dev
Friday, 11/22 - Pano Q4 release

## Scope - Instruction
See PPT (does not include log in info)
[FY19Q4 Pre-Clean_Panorama_QC_Testing_no password.pptx](https://github.com/ICPI/DIV/files/3864761/FY19Q4.Pre-Clean_Panorama_QC_Tes

[2019-11-18 23:13] reneerace commented on #158
Index Testing: https://github.com/pepfar-datim/Analytics/issues/2251
Narratives: https://github.com/pepfar-datim/Analytics/issues/2549
Data Tables: https://github.com/pepfar-datim/Analytics/issues/2550
If needed, Financial Management: https://github.com/pepfar-datim/Analytics/issues/2541

[2019-11-19 16:14] #145 closed

[2019-11-19 16:15] #156 closed

[2019-11-19 16:20] #129 closed

[2019-11-19 16:20] #124 closed

[2019-11-20 16:01] kimisatoPC commented on #158
@reneerace @KatieOC @HoustonJamie Confirming that GEND_GBV dashboards (Global, OU, Mech) will be retired at Q4 initial?

[2019-11-20 16:04] HoustonJamie commented on #158
@kimisatoPC they will not be, the PSC did not approve this request, they will be retired at clean Q1

[2019-11-20 17:26] kimisatoPC commented on #158
@HoustonJamie I don't see anyone assigned to QC them and I unfortunately don't have time.

[2019-11-20 17:28] HoustonJamie commented on #158
@KatieOC @kimisatoPC we were aware of this and someone was assigned, Katie do you remember who?

[2019-11-20 17:42] kimisatoPC commented on #158
@HoustonJamie @KatieOC I see that Parviez has been assigned. Sorry! I didn't look under PRIME section. We are all good.

[2019-11-20 18:29] KatieOC commented on #158
@mahirnkhan @jleehurst @aliyahwakil @shazadahmed10 @randyyee @cnichols3h @mackenziecox1 @cnichols3h @HosseiniPR @anu87 @Yabayabadoo @vanamala-narasimhan @LaChandraS @BarbaraDdamulira @kkale25 @HoustonJamie how goes testing?? the day is half done! Will you finish?

[2019-11-20 19:11] jleehurst commented on #158
@KatieOC @erinschelar We have done a lot of work on our dossier, but there are a number of issues. I will continue working, but I will need the morning. I can finish by noon tomorrow.

[2019-11-20 19:13] aliyahwakil commented on #158
@KatieOC Yes, will be completed by today.

[2019-11-20 21:31] KatieOC commented on #158
@kkale25 @shazadahmed10 @HoustonJamie @randyyee @Yabayabadoo how's it going?

[2019-11-21 15:26] kkale25 commented on #158
@KatieOC - updated assigned dossiers!

[2019-11-25 20:59] Yabayabadoo commented on #158
Dossier name: Viral Load: Global
Chapter/Page: Facility Snapshot/Facility Counts
OU: All
Issue: Period selector contains quarters with no data. Remove FY18 Q1, Q2, Q3
![image](https://user-images.githubusercontent.com/34660366/69577572-98bc1800-0f9c-11ea-911a-ed7ca4902ace.png)

[2019-11-25 21:01] Yabayabadoo commented on #158
Dossier name: Viral Load: Global
Chapter/Page: Viral Load Trends/ Pregnant & Breastfeeding Women VLC & VLS
OU: All
Issue: Page is missing Fiscal year selector
![image](https://user-images.githubusercontent.com/34660366/69577684-e769b200-0f9c-11ea-87ee-fec949645ec2.png)

[2019-11-25 21:46] randyyee commented on #158
Dossier: Testing (Single OU)
**Chapter/Page: Index Testing Proxy Cascade > Peds Index proxy cascade trends &
Chapter/Page: Index Testing Proxy Cascade > Adult index testing trends by sex**

Issue: Yield y-axis not in percentage, as a result yield values not showing up on the graph.

@pilarbullis @janholcombe

![image](https://user-images.githubusercontent.com/34801151/69580098-e25b3180-0fa1-11ea-8

[2019-11-25 21:55] randyyee commented on #158
Dossier: Testing (Single OU)
Chapter/Page: HTS_TST_POS > Pos: targets & results

Issue: Target value not lined up with Result values (left y-axis).

![image](https://user-images.githubusercontent.com/34801151/69581250-2e0eda80-0fa4-11ea-8419-754cc64b1e5d.png)

[2019-11-25 21:58] aliyahwakil commented on #158
Prevention: Single OU -Botswana
VMMC Chatper

Page: Age Results by Geographic Level
Functionality Issue: Agency, SNU1, PSNU, IM/Partner filters not targeting both visuals

Page: Test Results by Geographic Level
Functionality Issue: IM/Partner not targeting visual

Page: Technique by Geographic Level
Functionality Issue: Agency, SNU1, PSNU, IM/Partner filters not targeting both visuals

Page: Follo

[2019-11-25 22:00] aliyahwakil commented on #158
Prevention: Global
VMMC Chapter

Page: Results and Targets
Functionality Issue: Agency and IM/Partner filters not targeting Cumulative Results Year Comparison visual

Page: Global Trends
Functionality Issue: Agency and IM/Partner filters not targeting both visuals

Page: Results by VMMC Priority Age
Functionality Issue: Agency and IM/Partner filters not targeting VMMC Results by Priority Age visua

[2019-11-25 22:00] KatieOC commented on #158
PMTCT-HEI dossier - no issues found.

[2019-11-25 22:02] erinschelar commented on #158
1. OVC Global Dossier- ISSUE 1
	2. OVC_SERV coarse age comparisons
	3. OU-Eswatini
       4. Total achievement: Targets and % achievement do not match for Eswatini. Underlying data issue

[2019-11-25 22:04] erinschelar commented on #158
![image](https://user-images.githubusercontent.com/36451344/69582018-a75afd00-0fa5-11ea-842c-41551d427193.png)

[2019-11-25 22:05] erinschelar commented on #158
![image](https://user-images.githubusercontent.com/36451344/69582042-b6da4600-0fa5-11ea-8a91-7bb6c09427cb.png)

[2019-11-25 22:05] erinschelar commented on #158
![image](https://user-images.githubusercontent.com/36451344/69582062-c48fcb80-0fa5-11ea-8381-4be4162a01e4.png)

[2019-11-25 22:05] erinschelar commented on #158
![image](https://user-images.githubusercontent.com/36451344/69582081-d07b8d80-0fa5-11ea-9a9c-9d21b7051d4a.png)

[2019-11-25 22:06] kayla-z commented on #158
Dossier/dashboard name: Cervical Cancer Global
Chapter/page: Cervical Cancer Global Analysis - Cervical Cancer Results by OU
Issue: When you select USAID, CXCA_SCRN_N, CXCA_SCRN_POS, and CXCA_TX_N data does not show up on table but shows up on the bar graph visual.

![11 25_1](https://user-images.githubusercontent.com/55258968/69582014-a5913980-0fa5-11ea-9e60-c7db3c36b6bf.PNG)

[2019-11-25 22:13] kayla-z commented on #158
Dossier/dashboard name: Cervical Cancer Global
Chapter/page: Fine Age Results - Screening Results by Fine Age
Issue: Can't select more than one quarter - no check boxes

![11 25_2](https://user-images.githubusercontent.com/55258968/69582458-a5de0480-0fa6-11ea-9616-6f98dd8c51d9.PNG)

[2019-11-25 22:35] HoustonJamie commented on #158
Dossier/dashboard name: Treatment Single OU
Chapter/page: Treatment Overview/Treatment Summary Table
Issue: Default for period still Q3 (did not get updated to be Q4)

[2019-11-25 22:50] HoustonJamie commented on #158
Dossier/dashboard name: Treatment Single OU
Chapter/page:  NET_NEW and Treatment Cascade
Issue: Order is supposed to be HTS_TST_POS, TX_NEW, TX_NET_NEW, not POS, TX_NET_NEW, and TX_NEW

[2019-11-25 22:51] kayla-z commented on #158
Dossier/dashboard name: Cervical Cancer Global
Chapter/page: PrEP Use Segmented by Population Group
Issue: Can't select multiple quarters - no checkboxes

[2019-11-25 23:08] HoustonJamie commented on #158
Dossier/dashboard name: Treatment Single OU
Chapter/page: Treatment Overview/Treatment Summary
Issue: HTS_POS achievement should be 159% for Eswatini, and it 119%

![image](https://user-images.githubusercontent.com/34521581/69585666-65828480-0fae-11ea-8131-f80fd4fdeac5.png)

[2019-11-25 23:28] HoustonJamie commented on #158
Dossier/dashboard name: Treatment Single OU
Chapter/page: Treatment Overview/Treatment Summary
Issue: Retention Proxy 92% for Eswatini on Treatment Summary Dashboard and 90% for Treatment Summary @nmcarloni can you clarify which is accurate in the AM? Currently they are inconsistent but not sure which is correct

![image](https://user-images.githubusercontent.com/34521581/69586616-243fa400-0fb1-11

[2019-11-25 23:43] HoustonJamie commented on #158
Dossier/dashboard name: Treatment GLOBAL
Chapter/page: Treatment Overview/Treatment Summary
Issue: Same issues flagged in Single OU, TX_NET_NEW should be 31% achievement and is showing 2% achievement

![image](https://user-images.githubusercontent.com/34521581/69587377-6a960280-0fb3-11ea-9561-4d9dd23a637b.png)

[2019-11-25 23:46] HoustonJamie commented on #158
Dossier/dashboard name: Treatment Global
Chapter/page: Treatment Overview/Treatment Summary
Issue: Retention Proxy 93% for Kenya on Treatment Summary Dashboard and 94% for Treatment Summary @nmcarloni can you clarify which is accurate in the AM? Currently they are inconsistent but not sure which is correct

[2019-11-26 00:22] petersonml commented on #158
Dossier/dashboard name: TB Screening and TPT: Single OU
Chapter/page: CH1: Page A-C, CH2: Pages A2, B, and C, CH3: Pages A, B2, and C2
OU: Kenya
Issue: When selecting SNU1 and IM+Partner, the font size for the %TPT Completion table below does not adjust to accommodate for comparison level views.  The data in the % TPT Completion table becomes impossible to see.  Can we ensure that the font size wi

[2019-11-26 01:03] EAwong commented on #158
Dossier/dashboard name: Clinical Cascade: Global
Chapter/page: Overall Cascade
OU: All
Issue: Numbers above result bars are cut off because they're vertical

[2019-11-26 01:08] EAwong commented on #158
Dossier/dashboard name: Clinical Cascade: Global
Chapter/page: Disaggregate Completeness
OU: All
Issue: No data for TX_NET_NEW - should it be blank? Consider removing if not going to show data?
<img width="893" alt="Screen Shot 2019-11-25 at 8 02 41 PM" src="https://user-images.githubusercontent.com/57774340/69591023-5fe16a80-0fbf-11ea-89ec-320d02bc105c.png">

[2019-11-26 01:55] EAwong commented on #158
Dossier/dashboard name: Clinical Cascade: Global
Chapter/page: KP Testing & Yield
OU: All
Issue: Cumulative data for 2019 when selected all 4 quarters is lower than a single quarter (e.g., Zimbabwe 2019Q4 has 40,260 tested, but 2019Q1-4 has 29,935 tested.

[2019-11-26 02:23] EAwong commented on #158
Dossier/dashboard name: Clinical Cascade: Single OU
Chapter/page: HTS: Modalities (Testing & Yield by Modality, Testing & Yield Modality and Age/Sex, Testing & Yield Trends by Age/Sex, and Testing & Yield Trends by Modality), HTS: Modalities & KP (Testing & Yield by modality & KP), HTS: KP (KP Testing & Yield)
OU: All
Issue: Can't or difficult to click on top row of filters or side column of filte

[2019-11-26 03:15] erinschelar commented on #158
OVC Global Dossier- ISSUE 5
Same issue across multiple pages, need IM and Agency filters
All pages in Age/sex deep dive chapter
Global results and OU results by program status
OVC Trend data (also need SNU filter)

[2019-11-26 11:50] cnichols3h commented on #158
Dossier/dashboard name: TB Screening and TPT: Single OU
Chapter/page: CH2 D1 and CH2 D2.
OU: Kenya
Our html code does not work on these pages.  For ex, one should be able to enter a # and that will return the appropriate # of listings/rankings.

[2019-11-26 11:51] cnichols3h commented on #158
Dossier/dashboard name: TB Screening and TPT: Single OU
Chapter/page: CH2 E.
OU: Kenya
For this visual, there is only data returned when the period “2019 Q2” is chosen.  There is no data returned for any other periods.  However, there should be data returned.

[2019-11-26 11:56] cnichols3h commented on #158
Dossier/dashboard name: TB Screening and TPT: Single OU
Chapter/page: *ALL* Chapters and Pages except CH 1 F and CH 2 F.
OU: Kenya
For the drop-down options under Period, targets and years appear.  For ex., "2017 Target", "2018 Target", "2019 Target".  However, these are not necessary as no data is returned for the visuals when choosing these Periods.  Request to remove these options for all Chapt

[2019-11-26 12:48] petersonml commented on #158
Dossier/dashboard name: TB Screening and TPT: Single OU
Chapter/page: CH1 Page G.
OU: Kenya
For this visual, the y-axis is hard-coded to 100% causing some data points (for ex. Kenya, OU level, FY18Q4) not to be shown. Request to adjust the upper limit to 105% in an effort to display these areas where poor data quality causes metrics >100%.

[2019-11-26 12:55] ERottinghaus commented on #158
Dossier/dashboard name: Health Services: Single OU
Chapter/page: OU Lab Quality
OU: All
Issue: Number of specimens received KPIs (all 7 boxes) are not changing when Implementing Mechanism + Partner selector is changed.

![image](https://user-images.githubusercontent.com/36669856/69635304-1d9d4500-1022-11ea-9055-ddc67ad180fd.png)

[2019-11-26 16:08] anu87 commented on #158
For some countries like Mozambique we can't see lab sites without zooming in on the map:

![image](https://user-images.githubusercontent.com/17214140/69650744-0ddf2a00-103d-11ea-93b8-83d6d61c86ad.png)

[2019-11-26 16:16] anu87 commented on #158
Dossier: Viral Load Single OU
Chapter 2, page: Specimen at Lab vs. Patients
OU: All
Issue: Note in red is redundant and needs to be removed

![image](https://user-images.githubusercontent.com/17214140/69651522-34ea2b80-103e-11ea-9613-2dc6d30da537.png)

[2019-11-26 16:56] Yabayabadoo commented on #158
Dossier: Health Services: Single OU
Chapter: N/A
OU: All
Issue: Name of dossier is incorrect, Health Systems OR Health Systems Strengthening not Health Services
![image](https://user-images.githubusercontent.com/34660366/69655046-c8722b00-1043-11ea-98b8-40f84613f451.png)

[2019-11-26 17:06] Yabayabadoo commented on #158
Dossier: Health Services: Single OU
Chapter/Page: HRH Support Overview/HRH At a Glance- OU
OU: All
Issue: No Scroll bar for page, visual truncated
![image](https://user-images.githubusercontent.com/34660366/69655510-ab8a2780-1044-11ea-89e3-f22b5703be6b.png)

[2019-11-26 17:10] Yabayabadoo commented on #158
Dossier: Health Services: Single OU
Chaper/Page: HRH Support Overview/HRH Coverage Comparison
OU: South Africa
Issue: No data displaying for any fiscal year

![image](https://user-images.githubusercontent.com/34660366/69655943-9eba0380-1045-11ea-9b20-f9593e564441.png)

[2019-11-26 17:15] Yabayabadoo commented on #158
Dossier: Health Services: Single OU
Chapter/Page: HRH Support Overview/HRH Above Site comparison
OU: SA
Issue: Y axis generating odd intervals
![image](https://user-images.githubusercontent.com/34660366/69656368-6d8e0300-1046-11ea-9d73-fc759b83f34f.png)

[2019-11-26 17:50] Yabayabadoo commented on #158
Dossier: Health Services: Single OU
Chapter /Page: HRH_CURR Cadre Mix/Average HRH team composition
OU: South Africa
Issue: left to right scrolling not working on this page. Visuals truncated

![image](https://user-images.githubusercontent.com/34660366/69659019-57cf0c80-104b-11ea-84b0-2d2972297534.png)

[2019-11-26 19:25] HosseiniPR commented on #158
GEND_GBV OU Level and Global are agree with MSDs.  GEND_GBV Mechanism is **_still_** defaults to 2018.  Panorama and the MSDs don't agree with DATIM, but because it seems to be an issue with the DATIM  cleaning favorite not including TA results, I've filed a DATIM ticket, #30850, on the helpdesk for DATIM.

[2019-11-26 19:41] jleehurst commented on #158
@erinschelar

On OVC_SERV Coarse Age Comparison Chapter, the wrong StandardDisaggregates are selected in the dossier. The Dossier has "Total Numerator" selected as the disagg, but it should be "Age/Sex" and "Age/Sex Program Status"
![image](https://user-images.githubusercontent.com/43347379/69666683-a2a45080-105a-11ea-8fdd-3165a6bc8003.png)
For the Dashboard:
![image](https://user-images.githubuse

[2019-11-26 21:18] BetzOHA opened #159 "HTS: KP - Testing and Yied issue in Testing - Global Dossier"
Dossier/dashboard name: Testing Global
Chapter/page: HTS: KP - Testing and Yield
OU: all
Issue:  Global Testing dossier was producing very strange numbers for testing and yield (HTS_TST_POS was fine). When filtering to specific OUs, these numbers did not align with the numbers from the single OU dossier or the dashboard. Nor were usual disaggs available by KP. The results would also sometimes decl

[2019-11-26 21:27] kayla-z commented on #158
@shabeenally

Dossier: SIMS-MER Integrated Analysis
Chapter/Page: Partner Performance - SIMS 4.0 Assessments by Partner
OU: Botswana
(small) Issue: Title has a large space between the words "by" and "Partner"
![11 26_1](https://user-images.githubusercontent.com/55258968/69673959-8065ff00-1069-11ea-9aae-e146fb1a84e5.PNG)

[2019-11-26 21:31] kayla-z commented on #158
@shabeenally

Dossier: SIMS-MER Integrated Analysis
Chapter/Page: Site Level Analysis - SIMS 4.0 Site Performance Over Time
OU: Botswana
Issue: Can't select more than one Organisation Site - no checkboxes
![11 26_2](https://user-images.githubusercontent.com/55258968/69674271-1ef26000-106a-11ea-926a-a1dc9ee08938.PNG)

[2019-11-26 21:36] kayla-z commented on #158
@shabeenally

Dossier: SIMS-MER Integrated Analysis
Chapter/Page: SIMS 4.0 Snapshots - Elective CEE Performance
OU: Botswana
Issue: Can't select more than one SIMS Set Name in drop down menu above, but can select more than one SIMS set name on side - any reason for two drop down menus?
![11 26_3](https://user-images.githubusercontent.com/55258968/69674556-b788e000-106a-11ea-8673-0c243a7ff427.PNG)

[2019-11-26 21:56] kayla-z commented on #158
Dossier: Cervical Cancer Global
Chapter/Page: Cervical Cancer Cascade - Cervical Cancer Cascade Results by OU
Issue:  When user first opens page, they can't see CXCA_TX_N results in table unless they scroll to side
![11 26_4](https://user-images.githubusercontent.com/55258968/69675753-5d3d4e80-106d-11ea-8531-f58f687a7de4.PNG)

[2019-11-27 13:24] rblakeds commented on #158
Hi @kayla-z - I am reviewing item: https://github.com/ICPI/DIV/issues/158#issuecomment-558361267

No data is displaying for Botwana for the three metrics  CXCA_SCRN_N, CXCA_SCRN_POS, and CXCA_TX_N in the grid as there are no values for Botswana in the graph (CXCA_SRCN_D is not in the graph); if you scroll down to Eswatini, there are values there
- Botswana returns in the grid because it has values

[2019-11-27 18:15] rblakeds commented on #158
Hi @randyyee - we researched the following item:
https://github.com/ICPI/DIV/issues/158#issuecomment-558357507

We found that the Target display value is rounded (to account for larger numbers), such that the 2K value is 1,778 and aligns with the left access. Please let us know if you have any questions.

![image](https://user-images.githubusercontent.com/51160650/69749034-a053fc00-1117-11ea-9d78-

[2019-11-27 22:31] EAwong commented on #158
Dossier: Testing: Single OU
Chapter/Page: HTS_TST_POS, Pos: Pos trends by age/sex
OU: Mozambique
Issue: Extra "n/a"  on x-axis

<img width="995" alt="Screen Shot 2019-11-27 at 5 28 22 PM" src="https://user-images.githubusercontent.com/57774340/69763596-af4ca580-113b-11ea-9388-ae38e99ec0cf.png">

[2019-11-29 12:47] rblakeds commented on #158
Hi @EAwong - for the issue https://github.com/ICPI/DIV/issues/158#issuecomment-559272793

Dossier: Testing: Single OU
Chapter/Page: HTS_TST_POS, Pos: Pos trends by age/sex
OU: Mozambique
Issue: Extra "n/a" on x-axis

Fix: the N/A has been filtered out in the visualization, this fix will be available in Panorama Production for the 12/2/2019 Fast Follow Release.
![image](https://user-images.githubus

[2019-11-29 13:48] rblakeds commented on #158
Hi @cnichols3h for the issue https://github.com/ICPI/DIV/issues/158#issuecomment-558594436

Dossier/dashboard name: TB Screening and TPT: Single OU
Chapter/page: CH2 D1 and CH2 D2.
OU: Kenya
Our html code does not work on these pages. For ex, one should be able to enter a # and that will return the appropriate # of listings/rankings.

**Fix**: We found that there is no metric behind the filter sel

[2019-11-29 14:27] rblakeds commented on #158
Hi @nmcarloni and @HoustonJamie - regarding ticket https://github.com/ICPI/DIV/issues/158#issuecomment-558388110

**Review/Findings**: I compared the values in the Treatment Summary Table to the Treatment Dossiers and found that the Treatment Summary Table value is filtered for Q4 (2019) and the Treatment Dossier value is filtered upon 2019 (not specifically for Q4:

![image](https://user-images.g

[2019-11-29 15:25] rblakeds commented on #158
Hi @Yabayabadoo - regarding ticket comment: https://github.com/ICPI/DIV/issues/158#issuecomment-558730431

Dossier: Health Services: Single OU
Chapter/Page: HRH Support Overview/HRH Above Site comparison
OU: SA
Issue: Y axis generating odd intervals

**Finding**: The values for the particular selection require display of decimal places:
![image](https://user-images.githubusercontent.com/51160650/6

[2019-11-29 16:09] rblakeds commented on #158
Hi @Yabayabadoo - regarding https://github.com/ICPI/DIV/issues/158#issuecomment-558728177

Dossier: Health Services: Single OU
Chaper/Page: HRH Support Overview/HRH Coverage Comparison
OU: South Africa
Issue: No data displaying for any fiscal year

**Findings** (from Renee):
The visualization filter as it is excludes results because HRH_STAFF does not have results for Disaggregate = CadreCategory/

[2019-11-29 19:54] rblakeds commented on #158
Hi @Yabayabadoo - https://github.com/ICPI/DIV/issues/158#issuecomment-558744969

Dossier: Health Services: Single OU
Chapter /Page: HRH_CURR Cadre Mix/Average HRH team composition
OU: South Africa
Issue: left to right scrolling not working on this page. Visuals truncated

The visualizations on this page are set to custom settings to only display values between 0 and 2 (0 and 200%), such that is th

[2019-11-29 20:13] rblakeds commented on #158
Hi @Yabayabadoo - https://github.com/ICPI/DIV/issues/158#issuecomment-558726643

Dossier: Health Services: Single OU
Chapter/Page: HRH Support Overview/HRH At a Glance- OU
OU: All
Issue: No Scroll bar for page, visual truncated

We reviewed this item and found that the visualization is compressed; the visualization doesn't allow for scrolling as it returns the all of values in the heat map within

[2019-12-03 19:16] kimisatoPC commented on #158
@janholcombe @pilarbullis
Dossier: Prevention Global
Page: Prevention continuum by KP
OU: All

KP_PREV isn't populating as the first bar in the bar charts. It is populating in the Prevention Single OU dossier.

![image](https://user-images.githubusercontent.com/36009724/70081748-1d2f1c00-15d7-11ea-848a-201de1e3ef36.png)

[2019-12-03 19:19] pilarbullis commented on #158
@kimisatoPC After the two fast follows post 11/22 release, all issues found in Panorama production need to be submitted to Panorama support: https://pepfar-panorama.zendesk.com/hc/en-us

Thank you.

[2019-12-04 19:42] janholcombe commented on #158
This has been logged in Zendesk: https://datim.zendesk.com/agent/tickets/30917. Closing this ticket.

[2019-12-20 18:57] KatieOC opened #160 "FY19Q4 Clean Panorama Testing Dates 12/26-12/27 COB"
# Testing Timeline and Instructions

## Timeline
Friday 12/20 - clean Q4 data entry closes in DATIM
Thursday 12/26 - Friday 12/27 QC Pano dashboards/dossiers in dev
Friday, 1/3 - Pano clean Q4 release

## Scope - Instruction
See PPT (does not include log in info)
[FY19Q4 Pre-Clean_Panorama_QC_Testing_no password.pptx](https://github.com/ICPI/DIV/files/3864761/FY19Q4.Pre-Clean_Panorama_QC_Testing_n

[2019-12-20 18:58] KatieOC commented on #160
@HoustonJamie can you review the above to see that i have it all captured correctly? I removed the prevention ones from our list.

[2019-12-20 18:59] #158 closed

[2019-12-26 19:08] mehtasp commented on #160
@KatieOC @HoustonJamie Have the SIMS dossiers already been tested by somebody (they're checked off)? Because I'm just now starting them..

[2019-12-29 06:18] Bege907 commented on #160
Can I have some that are understand so i can go through the class to aquire certificate?

[2020-01-02 18:55] KatieOC commented on #160
@mehtasp sorry for delayed response, I saw you completed the SIMS dosser so did not follow-up. Thanks for doing so!

@Bege907 can you please clarify your question?

[2020-02-18 15:36] KatieOC opened #161 "FY 20 Initial Q1 Panorama Integration Testing February 18-19"
# Testing Timeline and Instructions

## Timeline
Tuesday 02/18 - Wednesday 02/19 QC Pano dashboards/dossiers in dev
Friday, 02/21 - Pano inital Q1 release

## Scope - Instruction
See PPT (does not include log in info)
[FY20Q1 Pre-Clean_Panorama_QC_Testing.pptx](https://github.com/ICPI/DIV/files/4220157/FY20Q1.Pre-Clean_Panorama_QC_Testing.pptx)

- Refer to the PowerPoint for testing instructions (

[2020-02-18 17:27] reneerace commented on #161
Two new tickets have been created for the site level versions:

Testing (Site Level) https://github.com/pepfar-datim/analytics/issues/2735
Treatment (Site Level) https://github.com/pepfar-datim/Analytics/issues/2736

[2020-02-18 21:35] alexmbrun commented on #161
No issues found.

[2020-02-19 21:02] #160 closed

[2020-02-19 21:04] KatieOC commented on #161
@kimisatoPC @cnichols3h @LaChandraS @shazadahmed10 @kkale25 @MicSherlock @vanamala-narasimhan @BarbaraDdamulira @wvp3 how is QCing going? Will you be done by the deadline?

[2020-02-19 21:12] LaChandraS commented on #161
@KatieOC Yes.

[2020-02-19 21:38] shazadahmed10 commented on #161
yes

[2020-02-20 14:50] KatieOC commented on #161
awesome work everyone!

[2020-02-20 14:50] #161 closed

[2020-03-19 19:21] HoustonJamie opened #162 "FY 20 Clean Q1 Panorama Integration Testing March 24-25"
# Testing Timeline and Instructions

## Timeline
Kickoff Meeting:  Monday 1 pm 03/24
Monday 03/24 - Tuesday 03/25 QC Pano dashboards/dossiers in dev
Friday, 03/27  - Pano clean Q1 release

## Scope - Instruction
See PPT (does not include log in info)
Will add by COB on Monday

- Refer to the PowerPoint for testing instructions (email from Janice).
- Review **functionality** of each dossier (rememb

[2020-05-12 17:28] Yabayabadoo opened #163 "Develop template for landscape analysis"
Using the Panorama Style Guide and decisions from DIV meeting discussions, create a template for assessing every dossier's application of the style guide in Panorama.

POCs: Jairo, Navneet, Erin R, Larry Westerman, Annika

Panorama Style Guide (Full): https://www.pepfar.net/sites/icpi/Shared%20Documents/Management%20and%20Processes/Staff%20Handover%20Notes/Style%20Guide%20and%20Checklists%20for%20

[2020-05-15 18:48] oharasl commented on #94
Moved to: https://jira.pilot.pepfar.net/browse/DMA-72

[2020-05-15 18:49] oharasl commented on #94
Accidentally closed, but may be good to revisit what if anything needs to be done between the MER 2.0 "Service Delivery" modalities and MER 2.1+ current modalities.
DAQ Agenda item?

[2020-05-29 17:26] KatieOC opened #164 "DRAFT FY20 Initial Q2 Panorama Integration Testing June 8-9"
# Testing Timeline and Instructions

## Timeline
Kickoff Meeting: do we want this? If yes, on 06/08?
Monday 06/08 - Tuesday 06/09 QC Pano dossiers in dev
Monday, 06/15  - Pano initial Q2 release

## Scope - Instruction
See PPT (does not include log in info)
Will add

- Refer to the PowerPoint for testing instructions (email from Janice).
- Review **functionality** of each dossier (remember to test

[2020-05-29 17:28] KatieOC commented on #164
@HoustonJamie can you review the above assignments. Do we still need a spotlight section like you had in Q1? Also, do we want to start adding the new analyst?

[2020-06-09 14:58] reneerace commented on #164
@KatieOC @HoustonJamie We will not need Spotlight testing until July, we are smoke testing them just to be safe, but there are no changes for this Q2 release to QC test. Thank you!

[2020-06-26 20:33] KatieOC opened #165 "Pano Integration Testing June 29-30"
# Testing Timeline and Instructions

## Timeline
Kickoff Meeting: Monday, June 29th at 9am
Monday 06/29 - Tuesday 06/30 QC Pano dossiers in dev
Thursday, 07/02  - Pano clean Q2 release

## Scope - Instruction
See PPT (does not include log in info)
Will add

- Refer to the PowerPoint for testing instructions (email from Janice).
- Review **functionality** of each dossier (remember to test OU/SNU, P

[2020-06-26 20:42] KatieOC commented on #165
@janholcombe is the Spotlight QC needed? I haven't been here for the last two integration testings so not sure where we are at with this. thanks!

[2020-06-26 20:43] janholcombe commented on #165
@KatieOC It would be good if we can have some people test a few of the chapters. We have the Spotlight dossier separated into a ticket per chapter.

[2020-06-26 20:46] HoustonJamie commented on #165
@janholcombe @KatieOC can we add @mehtasp (SIMS-Index testing), @shazadahmed10 (Recency) and @nmcarloni (main data tables); this is a new role with Shaylee but similar role for Shazad and Nicole that they supported at clean Q1.  There is a longer term plan to align this better but given the prominence of Spotlight use at AIDS 2020 the following week we want to support this one more round.

[2020-06-26 20:46] KatieOC commented on #165
@shazadahmed10 @nmcarloni you both were assigned to previous spotlight QC. What is your bandwidth, can you still do the Spotlight assignment above or should I try and find someone else or another chapter?

[2020-06-26 20:48] KatieOC commented on #165
@HoustonJamie can you edit the issue above so it reflects exactly what you are thinking? I don't want to get it wrong.

[2020-06-26 20:54] HoustonJamie commented on #165
@KatieOC done, SIMS QC is on hold Shabeen will reach out if she needs support, but the other two items are the same as for Q1 clean

[2020-06-26 20:55] nmcarloni commented on #165
@KatieOC yes, I can still do my assigned Spotlight chapters

[2020-06-26 21:05] reneerace commented on #165
@KatieOC https://github.com/pepfar-datim/Analytics/issues/1718 for Cervical Cancer Global

[2020-06-26 21:12] KatieOC commented on #165
@HoustonJamie i dont see your additions.

[2020-06-26 21:42] reneerace commented on #165
+ Treatment (2nd 90): Single OU (non site level) https://github.com/pepfar-datim/analytics/issues/2472
+ Testing (1st 90) Single OU https://github.com/pepfar-datim/analytics/issues/2656

[2020-06-29 12:51] #164 closed

[2020-06-29 12:52] #162 closed

[2020-06-29 12:52] KatieOC commented on #162
closed

[2020-06-30 19:23] ikabore commented on #165
no issues were found during QCing Chap1 (page A to G)/TB screening dossier.

[2020-07-23 13:18] #163 closed

[2020-07-23 13:18] Yabayabadoo opened #166 "Implement landscape analysis"

[2020-07-23 13:20] #137 closed

[2020-07-30 13:39] Yabayabadoo opened #167 "PAW-to-Pano Pre-Hand Off Q3 Preliminary Data Testing"
Timeline
Code Review Calls: Monday July 28th - Wednesday July 30th
Wednesday July 30th QC Pano dossiers in PAW Dev
Friday, July 31st 10 AM- Dossier Handoff

Refer to the PowerPoint for testing instructions (email from Janice).
Review functionality of each dossier (remember to test OU/SNU, Partner/Mech, and Global if applicable)
Review data (focus on Q2, but check prior periods as well) against Liv

[2020-08-03 16:45] #167 closed

[2020-08-06 14:02] randyyee commented on #12
Closing due to age

[2020-08-06 14:02] #12 closed

[2020-08-06 14:04] randyyee commented on #68
Closing due to age

[2020-08-06 14:04] #68 closed

[2020-08-06 14:04] randyyee commented on #73
Closing due to age

[2020-08-06 14:04] #73 closed

[2020-08-06 14:04] randyyee commented on #151
Closing due to age

[2020-08-06 14:04] #151 closed

[2020-08-07 19:25] Yabayabadoo commented on #159
Unable to replicate issues highlighted above. Assigning @shazadahmed10  to check before closing ticket.

[2020-08-07 19:26] #157 closed

[2020-08-07 19:28] #155 closed

[2020-08-07 20:05] #154 closed

[2020-08-07 20:05] #153 closed

[2020-08-07 20:06] #150 closed

[2020-08-07 20:07] #152 closed

[2020-08-07 20:10] #148 closed

[2020-08-07 20:32] #147 closed

[2020-08-07 20:33] #146 closed

[2020-08-13 18:10] Yabayabadoo opened #168 "Pano Integration Testing: Q3 Pre-Clean August 17-19"
# Testing Timeline and Instructions

## Timeline
Kickoff Meeting: Monday, August 17th at 1pm
Monday 08/17 - Wednesday 08/19 QC Pano dossiers in dev
Friday, 08/21  - Pano Pre-Clean Q3 release

## Scope - Instruction
See PPT (does not include log in / password info)
[FY20Q3 Pre-clean_Panorama_QC_Testing-No password.pptx](https://github.com/ICPI/DIV/files/5085879/FY20Q3.Pre-clean_Panorama_QC_Testing-

[2020-08-14 05:20] #141 closed

[2020-08-14 05:21] #138 closed

[2020-08-14 05:21] #136 closed

[2020-08-14 05:23] #120 closed

[2020-08-14 05:24] #94 closed

[2020-08-14 05:24] #92 closed

[2020-08-14 05:25] #55 closed

[2020-08-14 05:26] #52 closed

[2020-08-14 05:26] #33 closed

[2020-08-14 05:27] #144 closed

[2020-08-27 15:42] Yabayabadoo commented on #168
Treatment dossier modified post submission. All ICPI dossiers cleared and release 8.21.2020

[2020-08-27 15:42] #168 closed

[2020-09-18 19:55] Yabayabadoo opened #169 "Pano Q3 Clean Integration Testing: 9/21 - 9/23"
## Testing Timeline and Instructions

## Timeline
Kickoff Meeting: Monday, 9/21 @ 1 PM
Monday 09/21 - Wednesday 09/23 QC Pano dossiers in Dev
Friday, 09/25 - Pano Clean Q3 release

## Scope - Instruction
See PPT (does not include log in / password info)
FY20Q3 Clean_Panorama_QC_Testing-No password.pptx

1. Refer to the PowerPoint for testing instructions (email from Janice).
2. Review functionalit

[2020-09-24 15:08] #169 closed, assigned to shazadahmed10, cnichols3h, kimisatoPC, nmcarloni, petersonml, SchneiderMadeline, KateWilkinsMPH

[2020-11-04 20:26] randyyee opened #170 "BI Section: Introduction Checklist"
Introduction:
-Knowledge check with some questions based on previous PVA courses (Between the Spreadsheets and Onboarding) so users will know whether or not they are ready for this BI course
-BI platforms in general
-Recap MSD data and structure, where to access datasets (Pano and Genie)
-Long and wide structure topic - 201 or 101 content?
-Knowledge check asking student to identify long and/or wi

[2020-11-04 20:28] randyyee commented on #170
- [ ] Item 1

[2020-11-04 20:54] randyyee opened #171 "Acquire practice MSD from DAQ"

[2020-11-04 20:55] randyyee opened #172 "Compare Power Query and Tableau Prep"

[2020-11-04 21:04] randyyee opened #173 "Draft Power Query deck"
Proposed Topics:
Section | Topic
-- | --
Data Management | MSD Import
Data Management | Power Query Interface
Data Management | Query Step Sidebar
Data Management | Changing Column Types
Data Management | Subset Indicator
Data Management | Pivoting
Data Management | Merging Columns
Data Management | Saving and Loading

[2020-11-04 21:07] randyyee opened #174 "Draft Tableau Prep deck"

[2020-11-04 21:09] randyyee opened #175 "BI Subsection: Data Management Checklist"
- [x]  Compare Power Query and Tableau Prep Topics (Nov 13) https://github.com/ICPI/DIV/projects/10#card-48724529

- [ ] Draft Tableau Prep Deck (Nov 20) https://github.com/ICPI/DIV/projects/10#card-48724843

- [ ] Draft Power Query Deck (Nov 20) https://github.com/ICPI/DIV/projects/10#card-48724838

- [ ] Review Scripts

- [ ] Record Data Management Subsections

[2020-11-05 16:44] randyyee opened #176 "Tableau Prep and Power Query script review"

[2020-11-05 20:37] Yabayabadoo commented on #170
Meeting Touchbase & assignments 11/5/20
Introduction:
-Knowledge check with some questions based on previous PVA courses (Between the Spreadsheets and Onboarding) so users will know whether or not they are ready for this BI course @alkimmel
    **Plan to pull Questions from both courses to include as feeder questions**
- Results: If no pass, recommend completing the 2 courses prior

-BI platforms

[2020-11-12 06:12] Yabayabadoo opened #177 "Pano Q4 Pre-Clean Integration Testing"
## Testing Timeline and Instructions

## Timeline
Kickoff Meeting: Monday, 11/16 @ 11 AM
Monday 11/16 - Wednesday 11/18 QC Pano dossiers
Friday, 11/20 - Pano Pre-Clean Q4 Live Pano release

## Scope - Instruction
See PPT (does not include log in / password info)
FY20Q4 PreClean_Panorama_QC_Testing-No password.pptx

1. Refer to the PowerPoint for testing instructions (email from Janice).
2. Review

[2020-11-13 17:55] randyyee commented on #175
Notes:

- Discussed Power Query topic slides with @cnichols3h, added "What is Power BI? What is Power Query?" sections to align with Tableau track

- Presented Power Query pivoting process for the MSD.

- Catherine presented the Tableau Prep, looks like there is some discrepancies, Catherine to try simplifying the Tableau Prep pivoting step

- Will reconvene next Thursday at the subgroup meeting t

[2020-11-13 17:56] randyyee opened #178 "Develop PVA course evaluation"

[2020-11-13 17:56] randyyee opened #179 "Launch PVA course"

[2020-12-16 17:56] randyyee opened #180 "BI Subsection: Visualizations and Dashboarding Checklist"
- Walkthrough of interface
- Create a basic bar chart (HTS_TST, Total Numerator, by period)
- Customize bar chart (title, axis, labels, etc)
- How to create calculated indicators (achievement)
-  Create a combo chart with HTS_TST and % Achievement
- Customize combo chart
- Dealing with dates in BI
- Explore other viz options available to the platform
- Creating tables
- Adding slicers
- Optimizing

[2020-12-18 14:43] Yabayabadoo opened #181 "Pano FY20 Q4 Clean Integration Testing"
## Testing Timeline and Instructions

## Timeline
Kickoff Meeting: Monday, 12/21 @ 1 PM
Monday 12/21 - Thursday 12/31 QC Pano dossiers  **PLEASE POST THE DATES YOU PLAN TO QC ON  ANALYTICS REPO TICKET**
Wednesday, 01/06/21 - Pano Clean Q4 Live release

## Scope - Instruction
See PPT (does not include log in / password info)
FY20Q4Clean_Panorama_QC_Testing-No password.pptx

1. Refer to the PowerPoi

[2020-12-18 17:57] #177 closed, assigned to shazadahmed10, cnichols3h, HoustonJamie, kimisatoPC, nmcarloni, KateWilkinsMPH

[2020-12-21 16:02] reneerace commented on #181
@Yabayabadoo We've begun assigning these tickets as listed, the only two listed that do not show up in our repo are @sjvolle3430 and @mzavila.

[2020-12-21 16:36] Yabayabadoo commented on #181
Thanks @reneerace @janholcombe was working with Michelle Zavila to get access to the analytics repo. I can confirm she is able to access the repo and ticket, but unsure why you can't see her. @sjvolle3430 usually transmits issues through @SchneiderMadeline. @SchneiderMadeline can you please confirm?

[2020-12-21 16:55] janholcombe commented on #181
She has been given access but she needs to accept the invitation to join the repo. I just got it from the github admin and forwarded it to her.

[https://www.datastrong.com/DSLogo_70.png]<https://www.datastrong.com/>
Janice L. Holcombe
Team Lead/Development Manager
703-944-2687 (Mobile)
www.datastrong.com<https://www.datastrong.com/>
Supporting Department of State | Office of the U.S. Global AIDS

[2020-12-21 17:06] SchneiderMadeline commented on #181
Hi Yaa-

That's correct. Joshua will communicate his issues w/ me and I will
communicate on the github ticket.

Thanks so much,
Maddy

On Mon, Dec 21, 2020 at 11:36 AM Yaa Obeng <notifications@github.com> wrote:

--
*Madeline Schneider, MPH*
USAID | Office of HIV/AIDS
Strategic Information, Evaluation, and Informatics Division
UA | 500 D St. SW | #06.4.1F | Washington, DC 20547
Mobile: 571.438.371

[2020-12-21 17:16] mzavila commented on #181
Hi everyone,

I did not receive a notification from Janice or through the forwarded link, however, I did accept a request that was sent by Adrian Acosta at 11:07 am. Please let me know if there is still an issue.

Thanks for all your help!
Michelle

________________________________
From: Madeline Schneider <notifications@github.com>
Sent: Monday, December 21, 2020 12:07 PM
To: ICPI/DIV <DIV@norepl

[2020-12-21 17:36] Yabayabadoo commented on #181
Thanks @SchneiderMadeline @mzavila @janholcombe! @reneerace, can you please confirm if you see Michelle now?

[2020-12-21 17:58] reneerace commented on #181
@mzavila @Yabayabadoo Michelle is all set!

[2020-12-21 18:00] mzavila commented on #181
Great. Thank you, @reneerace!

[2021-01-08 04:53] #181 closed, assigned to shazadahmed10, pvinayak001, HoustonJamie, randyyee, kimisatoPC, shabeenally, petersonml, KateWilkinsMPH

[2021-01-13 20:15] randyyee opened #182 "BI Subsection: Course Conclusion"
TBD

[2021-01-21 15:17] hhanfi opened #183 "Submit for OGAC Approval"

[2021-02-05 16:22] AyeshaRashid18 opened #184 "Test"

[2021-02-05 16:53] #184 closed, assigned to nobody

[2021-02-08 19:17] AyeshaRashid18 opened #185 "Pano FY21 Q1 QC Testing"
### **Testing Timeline and Instructions**
**Timeline**

Kickoff Meeting: Monday, 02/08 @ 12:30 PM
Monday 02/08 - Wednesday 02/10 QC Pano dossiers

**Scope - Instruction**

See PPT:
[FY21Q1 Initial QC round 2.pptx](https://github.com/ICPI/DIV/files/5946094/FY21Q1.Initial.QC.round.2.pptx)

1.	Refer to the PowerPoint for testing instructions (email from Janice).
2.	Review functionality of each dossie

[2021-02-12 18:22] AyeshaRashid18 opened #186 "FY21 Q1 Pre-clean Panorama Integration Testing February 16-17"
### **Testing Timeline and Instructions**
**Timeline**

Kickoff Meeting: Tuesday, 02/16 @ 9:00 AM
Tuesday 02/16 - Wednesday 02/17 QC Pano dossiers

**Scope - Instruction**

See PPT:
[FY21Q1 PreClean_Panorama_QC_Testing.pptx](https://github.com/ICPI/DIV/files/5989481/FY21Q1.PreClean_Panorama_QC_Testing.pptx)

1.	Refer to the PowerPoint for testing instructions (email from Janice).
2.	Review functio

[2021-02-16 14:05] #185 closed, assigned to shazadahmed10, janholcombe, cnichols3h, randyyee, kkale25, nmcarloni

[2021-02-22 16:29] #186 closed, assigned to janholcombe, nmcarloni

[2021-03-19 18:51] AyeshaRashid18 opened #187 "FY21 Q1 Clean Panorama Integration Testing March 22-24"
### **Testing Timeline and Instructions**
**Timeline**

Kickoff Meeting: Monday, 03/22 @ 10:30 AM
Monday 03/22 - Wednesday 03/24 QC Pano dossiers

**Scope - Instruction**
[FY21Q1 Clean_Panorama_QC_Testing.pptx](https://github.com/ICPI/DIV/files/6190065/FY21Q1.Clean_Panorama_QC_Testing.pptx)

1.	Refer to the PowerPoint for testing instructions (email from Janice).
2.	Review functionality of each do

[2021-03-29 15:21] #187 closed, assigned to janholcombe, nmcarloni

[2021-05-14 21:27] AyeshaRashid18 opened #188 "FY21 Q2 Pre-clean Panorama Integration Testing May 17-19"
### **Testing Timeline and Instructions**
**Timeline**

Kickoff Meeting: Monday, 05/17 @ 12 PM
Monday 05/17 - Wednesday 05/19 QC Pano dossiers

**Scope - Instruction**
[FY21Q2 Initial Integration testing.pptx](https://github.com/ICPI/DIV/files/6496578/FY21Q2.Initial.Integration.testing.pptx)

1.	Refer to the PowerPoint for testing instructions (email from Janice).
2.	Review functionality of each d

[2021-05-17 16:19] aisha-saaka commented on #188
I will not be testing due to COP.

From: Ayesha Rashid ***@***.***>
Sent: Monday, May 17, 2021 11:57 AM
To: ICPI/DIV ***@***.***>
Cc: Saaka, Aisha ***@***.***>; Mention ***@***.***>
Subject: [External] [ICPI/DIV] FY21 Q2 Pre-clean Panorama Integration Testing May 17-19 (#188)

This message is from an EXTERNAL SENDER - be CAUTIOUS of links and attachments. THINK BEFORE YOU CLICK.
__________________

[2021-05-21 18:43] #188 closed, assigned to janholcombe, nmcarloni

[2021-06-21 13:46] AyeshaRashid18 opened #189 "FY21 Q2 Clean Panorama Integration Testing June 21-23"
### **Testing Timeline and Instructions**
**Timeline**

Kickoff Meeting: Monday, 06/21 @ 12:30 PM
Monday 06/21 - Wednesday 06/23 QC Pano dossiers

**Scope - Instruction**
[FY21Q2 Clean Integration testing.pptx](https://github.com/ICPI/DIV/files/6688702/FY21Q2.Clean.Integration.testing.pptx)

1.	Refer to the PowerPoint for testing instructions (email from Janice).
2.	Review functionality of each do

[2021-06-28 11:15] #189 closed, assigned to janholcombe, nmcarloni

[2021-08-13 20:38] AyeshaRashid18 opened #190 "FY21 Q3 Pre-clean Panorama Integration Testing August 16-18"
### **Testing Timeline and Instructions**
**Timeline**

Kickoff Meeting: Monday, 08/16 @ 12:30 PM
Monday 08/16 - Wednesday 08/18 QC Pano dossiers

**Scope - Instruction**
(PPT will be included here)

1. Refer to the PowerPoint for testing instructions (email from Janice).
2. Review functionality of each dossier (remember to test OU/SNU, Partner/Mech, and Global if applicable)
3. Review data (focus

[2021-08-26 16:40] #190 closed, assigned to janholcombe, nmcarloni

[2021-09-17 19:11] AyeshaRashid18 opened #191 "FY21 Q3 Clean Panorama Integration Testing September 20-22"
### **Testing Timeline and Instructions**
**Timeline**

Kickoff Meeting: Monday, 09/20 @ 12:00 PM
Monday 09/20 - Wednesday 09/22 QC Pano dossiers

**Scope - Instruction**
[FY21Q3 Clean Integration Testing Overview.pptx](https://github.com/ICPI/DIV/files/7197322/FY21Q3.Clean.Integration.Testing.Overview.pptx)

Refer to the PowerPoint for testing instructions (email from Rachael).
Review functionali

[2021-09-28 11:45] #191 closed, assigned to janholcombe, nmcarloni

[2021-11-12 19:41] AyeshaRashid18 opened #192 "FY21 Q4 Pre-clean Panorama Integration Testing Nov 15-17"
### **Testing Timeline and Instructions**
**Timeline**

Kickoff Meeting: Monday, 11/15 @ 12:00 PM
Monday 11/15 - Wednesday 11/17 QC Pano dossiers

**Scope - Instruction**

Refer to the PowerPoint for testing instructions (email from Rachael).
[FY21Q4 Pre-Clean Integration Testing Overview.pptx](https://github.com/ICPI/DIV/files/7546318/FY21Q4.Pre-Clean.Integration.Testing.Overview.pptx)

Review fu

[2021-11-15 14:46] vishal-jani commented on #192
@AyeshaRashid18

For this release, kindly requesting to replace Tasneem Sheriff with myself (vishal-jani) for the PRIME Led Dossier QC: Financial Management Single OU. I already self-assigned in the Integration Ticket Analytics 3082.

[2021-11-24 18:00] #192 closed, assigned to nmcarloni, rblakeds

[2021-12-17 20:19] AyeshaRashid18 opened #193 "FY21 Q4 Clean Panorama Integration Testing Dec 20-30"
### **Testing Timeline and Instructions**
**Timeline**

Panorama Test Kickoff Meeting: Monday, 12/20 @ 12:00 PM
Spotlight Test Kick off Meeting: Meeting 12/20 @ 12:30 PM
Monday 12/20 - Thursday 12/30 QC Pano & Spotlight dossiers

**Scope - Instruction**

Refer to the PowerPoint for testing instructions (email from Cordelia).
[FY21Q4 Clean Integration Testing Overview - Panorama.pptx](https://githu

[2022-01-10 00:40] #193 closed, assigned to nmcarloni, rblakeds

[2022-02-11 19:41] AyeshaRashid18 opened #194 "FY22 Q1 Pre-clean Panorama Integration Testing Feb 14-16"
### **Testing Timeline and Instructions**
**Timeline**

Panorama Test Kickoff Meeting: Monday, 02/14 @ 12:00 PM
Monday 02/14 - Wednesday 02/16 QC Pano dossiers

**Scope - Instruction**

Refer to the PowerPoint for testing instructions (email from Delia).

Review functionality of each dossier (remember to test OU/SNU, Partner/Mech, and Global if applicable)
Review data (focus on Q1 but check prior

[2022-02-22 13:56] #194 closed, assigned to nmcarloni, rblakeds

[2022-05-13 19:25] AyeshaRashid18 opened #195 "FY22 Q2 Pre-clean Panorama Integration Testing May 16-18"
### **Testing Timeline and Instructions**
**Timeline**

Panorama Test Kickoff Meeting: Monday, 05/16 @ 12:00 PM
Monday 05/16 - Wednesday 05/18 QC Pano dossiers

**Scope - Instruction**

Refer to the PowerPoint for testing instructions (email from Delia).
[FY22Q2 Pre-Clean PANORAMA Integration Testing Overview .pptx](https://github.com/ICPI/DIV/files/8702783/FY22Q2.Pre-Clean.PANORAMA.Integration.Te

[2022-05-20 16:16] #195 closed, assigned to nmcarloni, rblakeds

[2022-06-17 18:52] AyeshaRashid18 opened #196 "FY22 Q2 Clean Panorama Integration Testing June 21-22"
### **Testing Timeline and Instructions**
**Timeline**

Panorama Test Kickoff Meeting: Tuesday, 06/21 @ 12:00 PM
Tuesday 06/21 - Wednesday 06/22 QC Panorama & Spotlight dossiers

**Scope - Instruction**

Refer to the PowerPoint for testing instructions (email from Cordelia).

Review functionality of each dossier (remember to test OU/SNU, Partner/Mech, and Global if applicable)
Review data (focus o

[2022-06-23 20:47] #196 closed, assigned to nmcarloni, rblakeds

[2022-08-12 14:05] AyeshaRashid18 opened #197 "FY22 Q3 Pre-clean Panorama Integration Testing August 15-17"
### **Testing Timeline and Instructions**
**Timeline**

Panorama Test Kickoff Meeting: Monday, 08/15 @ 12:00 PM
Monday 08/15 - Wednesday 08/17 QC Pano dossiers

**Scope - Instruction**

Refer to the PowerPoint for testing instructions (email from Brittany).

Review functionality of each dossier (remember to test OU/SNU, Partner/Mech, and Global if applicable)
Review data (focus on Q3 but check pri

[2022-08-24 12:55] #197 closed, assigned to nmcarloni, rblakeds

[2022-09-16 18:05] AyeshaRashid18 opened #198 "FY22 Q3 Clean Panorama Integration Testing Sep 19-21"
### **Testing Timeline and Instructions**
**Timeline**

Panorama Test Kickoff Meeting: Monday 09/19 @ 12:00 PM
Monday 09/19 - Wednesday 09/21 QC Panorama & Spotlight dossiers

**Scope - Instruction**

Refer to the PowerPoint for testing instructions (email from Jean-Paul).
- [FY22Q3 Clean PANORAMA and SPOTLIGHT Integration Testing Overview.pptx](https://github.com/ICPI/DIV/files/9601013/FY22Q3.Cle

[2022-09-26 11:46] #198 closed, assigned to nmcarloni, rblakeds

[2022-11-09 01:10] vanamala-narasimhan opened #199 "FY22 Q4 Pre-clean Panorama Integration Testing November 17-18"
Testing Timeline and Instructions
Timeline

Panorama Test Kickoff Meeting: Thursday 11/17 @ 9:00 AM Eastern
Thursday 11/17 - Friday 11/18 QC Pano dossiers

Scope - Instruction

Refer to the PowerPoint for testing instructions (email from Brittany).

Review functionality of each dossier (remember to test OU/SNU, Partner/Mech, and Global if applicable)
Review data (focus on Q4 but check prior period